
@{
	ViewBag.Title = "";
	Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="analyse" style="background-color:#f8f9fe;">
	<div class="toubu">
		<a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px;float:left;margin-left:3%;margin-top:18px;"></a>
		<div class="title" style="color:#fff;background:#51b3f0;">{{type}}</div>
		<a v-on:click="home" class="homeposition"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px;float:right;margin-right:3%;margin-top:20px;" /></a>
	</div>
	<div class="kcd_box2" style="height:110px;">
		<form>
			@*<select class="kcd_input" style="width:65%;" id="timeselect" v-on:change="searchMember">
				<option value="1" selected="selected">当日</option>
				<option value="2">当月</option>
			</select>*@
			<div id="timeselect">
				<div class="kcgl_input byday" style="width:45%;text-align:center;padding-top:10px;" v-on:click="searchNewMemberByDay">
					<span class="gwc_text">当日</span>
				</div>
				<div class="kcgl_input bymonth" style="width:45%;text-align:center;padding-top:10px;" v-on:click="searchNewMemberByMonth">
					<span class="gwc_text">当月</span>
				</div>
			</div>
			<select class="kcd_input" style="width:95%;" id="membertype" v-on:change="searchMember">
				<option value="1" selected="selected">消费小于2千</option>
				<option value="2">年消费2千~5千</option>
				<option value="3">年消费5千~1万</option>
				<option value="4">年消费大于1万</option>
			</select>
			<select class="kcd_input" style="width:95%;" id="bigmember" v-on:change="searchMember">
				<option value="1" selected="selected">年消费大于1万</option>
				<option value="2">年消费大于2万</option>
			</select>
			<select class="kcd_input" style="width:95%;" id="loyalmember" v-on:change="searchMember">
				<option value="1" selected="selected">月消费1次</option>
				<option value="2">月消费2次</option>
				<option value="3">月消费3次以上</option>
			</select>
			<select class="kcd_input" style="width:95%;" id="losemember" v-on:change="searchMember">
				<option value="1" selected="selected">3个月未消费</option>
				<option value="2">6个月未消费</option>
				<option value="3">12个月未消费</option>
			</select>
		</form>
		@*<div class="kcgl_btn"><img src="~/Areas/resource/img/mobile/master/ss2.png" style="width:20px;padding-top:10px;" v-on:click="searchMember" /></div>*@
		<div class="kcgl_input" style="width:45%;text-align:center;">
			<span class="gwc_text">数量<br />{{MemberCount}}/{{AllMemberCount}}</span>
		</div>
		<div class="kcgl_input" style="width:45%;text-align:center;">
			<span class="gwc_text">占比<br />{{Proportion}}</span>
		</div>
		@*<input type="text" class="kcgl_input" style="color:#999" placeholder="请输入会员昵称" id="name" />*@
	</div>

	<div id="echart" class="touxiang" style="height:200px;text-align:center"></div>

	<div class="touxiang" style="margin-bottom:25px;">
		<ul class="pm_box">
			<li class="pm_box1">
				<div class="pm_box2" style="width:25%;text-align:center">{{Name}}</div>
				<div class="pm_box2" style="width:25%;text-align:center">消费次数</div>
				<div class="pm_box2" style="width:25%;text-align:center">消费金额</div>
				<div class="pm_box2" v-bind:class="classObject" style="width:25%;text-align:center;text-align:right;">操作</div>
			</li>
			<li class="pm_box1" v-for="Member in MemberList">
				<div class="pm_box2" style="width:25%;text-align:center;color:#666;">{{Member.MemberName}}</div>
				<div class="pm_box2" style="width:25%;text-align:center;color:#666;">{{Member.TotalQuantity}}</div>
				<div class="pm_box2" style="width:25%;text-align:center;color:#666;">{{Member.TotalMoney}}</div>
				<div class="pm_box2" v-bind:class="classObject" style="width:25%;text-align:center;text-align:right;"><a class="hymd" v-on:click="detail(Member)">详情</a></div>
			</li>
		</ul>
	</div>
</div>

@section scripts{
	<style type="text/css">
		.show {
			display:inline;
		}
		.hide {
			display: none;
		}

		.bgcolor {
			background-color: #51b3f0;
		}
	</style>
	<link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
	<link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
	<script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
	<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script src="~/Areas/resource/js/jquery.qrcode.min.js"></script>
	<script src="~/Content/js/echarts.js"></script>
	<script src="~/Content/js/dark.js"></script>
	<script type="text/javascript">
		function wxConfig() {
			var mch = $.getUrlParam('mch');
			$.ajax({
				type: 'POST',
				url: "http://wwww.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
				datatype: "json",
				success: function (data) {
					if (data.IsSuccessful) {
						var temp = data.Data;
						wx.config({
							debug: false,
							appId: temp.appId,
							timestamp: temp.timestamp,
							nonceStr: temp.nonceStr,
							signature: temp.signature,
							jsApiList: [
								'checkJsApi',
								'onMenuShareTimeline',
								'onMenuShareAppMessage',
								'onMenuShareQQ',
								'onMenuShareWeibo',
								'hideOptionMenu',
								'hideAllNonBaseMenuItem',
								'showMenuItems',
								'closeWindow',
								'scanQRCode',
							]
						});
						wx.ready(function () {
							wx.hideAllNonBaseMenuItem();
						});
					} else {
					}
				},
				complete: function (xmlHttpRequest, textStatus) {
				},
				error: function (xmlHttpRequest, textStatus) {
				}
			});
		}
		wxConfig();
	</script>
	<script type="text/javascript">
		$(function () {
			var _ismaster = sessionStorage.getItem('ismaster');
			var ismaster = _ismaster == 'true';
			var user = sessionStorage.getItem('user');
			if (user == null || user === '') {
				function getUserByOpenId() {
					$.ajax({
						url: 'api/User/GetUserByOpenID',
						type: 'GET',
						headers: { 'CompanyCode': mch },
						data: {
							OpenID: '@ViewBag.OpenId',
							IsManager: ismaster,
						},
						success: function (res) {
							if (res.IsSuccessful) {
								if (res.Data != null) {
									sessionStorage.setItem('user', JSON.stringify(res.Data));
								} else {
									window.location.href = "/Mobile/Merchant?mch=" + mch;
								}
							} else {
								$.alert(res.ErrorMessage);
								window.location.href = "/Mobile/Merchant?mch=" + mch;
							}
						},
						error: function () {
							window.location.href = "/Mobile/Merchant?mch=" + mch;
						}
					});
				}
				getUserByOpenId();
			}
		});


	</script>
	<script type="text/javascript">
		$(function () {
			var mch = $.getUrlParam('mch');
			var _ismaster = sessionStorage.getItem('ismaster');
			var ismaster = _ismaster == 'true';
			_viewModel = new Vue({
				el: '#analyse',
				data: {
					type: '',
					MemberList: [],
					MemberCount: 0,
					AllMemberCount: sessionStorage.getItem('allmembercount'),
				},
				computed: {
					Proportion: function () {
						if (this.AllMemberCount == 0) {
							return 0;
						} else {
							//return Math.round((this.MemberCount / this.AllMemberCount) * 100) + '%';
							return Number((this.MemberCount / this.AllMemberCount) * 100).toFixed(2) + '%';
						}
					},
					classObject: function () {
						if(sessionStorage.getItem('type') == 'bigmember') {
							return { hide: true } 
						}
					},
					Name: function () {
						if (sessionStorage.getItem('type') == 'bigmember') {
							return '项目名称';
						} else {
							return '会员昵称';
						}
					}
				},
				methods: {
					back: function (event) {
						history.back(-1);
					},
					home: function (event) {
						if (ismaster) {
							window.location.href = "/Mobile/Merchant/MasterHome?mch=" + mch;
						} else {
							window.location.href = "/Mobile/Merchant/StaffHome?mch=" + mch;
						}
					},
					searchMember: function (event) {
						searchMember();
					},
					searchNewMemberByDay: function (event) {
						searchNewMemberByDay();
						$('.byday').css('background-color', '#51b3f0');
						$('.bymonth').css('background-color', '#fff');
					},
					searchNewMemberByMonth: function (event) {
						searchNewMemberByMonth();
						$('.byday').css('background-color', '#fff');
						$('.bymonth').css('background-color', '#51b3f0');
					},
					detail: function (data, event) {
						sessionStorage.setItem('member', JSON.stringify(data));
						window.location.href = "/mobile/Merchant/AnalyseDetail?mch=" + mch;
					}
				}
			});

			function gettype() {
				if (sessionStorage.getItem('type') == 'newcustomer') {
					_viewModel.type = '新客户分析';
					$('#timeselect').css('display', 'display');
					$('#timeselect').siblings().css('display', 'none');
				} else if (sessionStorage.getItem('type') == 'membertype') {
					_viewModel.type = '客户类型分析';
					$('#membertype').css('display', 'display');
					$('#membertype').siblings().css('display', 'none');
				} else if (sessionStorage.getItem('type') == 'bigmember') {
					_viewModel.type = '大客户分析';
					$('#bigmember').css('display', 'display');
					$('#bigmember').siblings().css('display', 'none');
				} else if (sessionStorage.getItem('type') == 'loyalmember') {
					_viewModel.type = '客户忠诚度';
					$('#loyalmember').css('display', 'display');
					$('#loyalmember').siblings().css('display', 'none');
				} else if (sessionStorage.getItem('type') == 'losemember') {
					_viewModel.type = '客户流失';
					$('#losemember').css('display', 'display');
					$('#losemember').siblings().css('display', 'none');
				}
			}
			gettype();

			function search() {
				var data = {};
				if (sessionStorage.getItem('type') == 'newcustomer') {
					$('.byday').css('background-color', '#51b3f0');
					$('.bymonth').css('background-color', '#fff');
					data = { 'TimeSelect':  1};
				} else if (sessionStorage.getItem('type') == 'membertype') {
					data = { 'MemberType': $('#membertype').val() };
				} else if (sessionStorage.getItem('type') == 'bigmember') {
					data = { 'BigMember': $('#bigmember').val() };
				} else if (sessionStorage.getItem('type') == 'loyalmember') {
					data = { 'LoyalMember': $('#loyalmember').val() };
				} else if (sessionStorage.getItem('type') == 'losemember') {
					data = { 'LoseMember': $('#losemember').val() };
				}
				return data;
			}

			function searchMember() {
				$.ajax({
					url: '/api/Reporting/DataAnalyseList?All=false',
					type: 'GET',
					data: search(),
					headers: { 'CompanyCode': mch },
					beforeSend: function () {
						$.hideLoading();
					},
					success: function (res) {
						$.hideLoading();
						if (res.IsSuccessful) {
							_viewModel.MemberList = res.Data;
							_viewModel.MemberCount = res.Data.length - 1;
							if (sessionStorage.getItem('type') == 'newcustomer') {
								memberanalysepie('会员基数', '新增会员');
							} else if (sessionStorage.getItem('type') == 'membertype') {
								memberanalysepie('会员基数', $('#membertype').find("option:selected").text() + '会员');
							} else if (sessionStorage.getItem('type') == 'bigmember') {
								memberanalysepie('会员基数', $('#bigmember').find("option:selected").text() + '会员');
							} else if (sessionStorage.getItem('type') == 'loyalmember') {
								memberanalysepie('会员基数', $('#loyalmember').find("option:selected").text() + '会员');
							} else if (sessionStorage.getItem('type') == 'losemember') {
								memberanalysepie('会员基数', $('#losemember').find("option:selected").text() + '会员');
							}
						} else {
							$.alert(res.ErrorMessage);
						}
					},
					error: function () {
						$.hideLoading();
					}
				});
			};
			searchMember();

			function searchNewMemberByDay() {
				$.ajax({
					url: '/api/Reporting/DataAnalyseList?All=false',
					type: 'GET',
					data: { 'TimeSelect': '1' },
					headers: { 'CompanyCode': mch },
					beforeSend: function () {
						$.hideLoading();
					},
					success: function (res) {
						$.hideLoading();
						if (res.IsSuccessful) {
							_viewModel.MemberList = res.Data;
							_viewModel.MemberCount = res.Data.length - 1;
							memberanalysepie('会员基数', '新增会员');
						} else {
							$.alert(res.ErrorMessage);
						}
					},
					error: function () {
						$.hideLoading();
					}
				});
			};

			function searchNewMemberByMonth() {
				$.ajax({
					url: '/api/Reporting/DataAnalyseList?All=false',
					type: 'GET',
					data: { 'TimeSelect': '2' },
					headers: { 'CompanyCode': mch },
					beforeSend: function () {
						$.hideLoading();
					},
					success: function (res) {
						$.hideLoading();
						if (res.IsSuccessful) {
							_viewModel.MemberList = res.Data;
							_viewModel.MemberCount = res.Data.length - 1;
							memberanalysepie('会员基数', '新增会员');
						} else {
							$.alert(res.ErrorMessage);
						}
					},
					error: function () {
						$.hideLoading();
					}
				});
			};

			function memberanalysepie(param1, param2) {
				var echat = echarts.init(document.getElementById('echart')).setOption({
					series: {
						type: 'pie',
						radius: '50%',
						center: '50%',
						labelLine: {
							normal: {
								length: -10
							}
						},
						data: [
							{ name: param1, value: _viewModel.AllMemberCount },
							{ name: param2, value: _viewModel.MemberCount },
						]
					}
				});
			}
		});
	</script>
}
