
@{
    ViewBag.Title = "车辆检测";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="carinspection" style="margin:10px 0;">
    <div class="cari-table" style="border-bottom:1px solid #f4f4f4;margin:5px 13px;vertical-align:middle;width:100%;">
        <div class="cari-font cari-tablecell">当前公里数</div>
        <input class="cari-tablecell" type="number" value="0" style="margin-left:10px;height:30px;width:80px;text-align:center;" />
    </div>
    <div class="cari-font" style="height:40px;vertical-align:middle;padding:0 13px;border-bottom:1px solid #f4f4f4;">车检结论</div>
    <div style="padding:5px 13px;">
        <textarea placeholder="请输入车检结论" style="height:120px;width:100%;"></textarea>
    </div>
    <div class="slide-box">
        <span>漆面检查</span>
        <span>轮胎/车毂</span>
        <span>发动机舱</span>
        <span>刹车油</span>
        <span>机油</span>
        <span>雨刮片</span>
        <span>玻璃</span>
        <span>车内饰</span>
        <span>外饰件</span>
    </div>
</div>

@section scripts{
    <style type="text/css">
        .slide-box {
            display: -webkit-box;
            overflow-x: scroll;
            -webkit-overflow-scrolling: touch;
            /*float: left;*/
            width: 100%;
            height: 40px;
            border-top: 5px solid #f4f4f4;
            /*color: #484a4e;
            font-size: 15px;*/
        }

            .slide-box span {
                color: #484a4e;
                font-size: 15px;
                margin: 0 5px;
            }

        .cari-table {
            display: table;
        }

        .cari-tablecell {
            display: table-cell;
        }

        .cari-font {
            color: #484a4e;
            font-size: 15px;
        }
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
    <link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {
            var mch = $.getUrlParam('mch');
            var user = sessionStorage.getItem('user');
            var _ismaster = sessionStorage.getItem('ismaster');

            _viewModel = new Vue({
                el: '#carinspection',
                data: {
                },
                methods: {
                    back: function (event) {
                        history.back(-1);
                    },
                    home: function (event) {
                        if (_ismaster == 'true') {
                            window.location.href = "/Mobile/Merchant/MasterHome?mch=" + mch;
                        } else {
                            window.location.href = "/Mobile/Merchant/StaffHome?mch=" + mch;
                        }
                    },
                    confirm: function (event) {

                    }
                }
            });

            var ismaster = _ismaster == 'true';
            function getUserByOpenId() {
                $.ajax({
                    url: '/api/User/GetUserByOpenID',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    data: {
                        OpenID: '@ViewBag.OpenId',
                        IsManager: ismaster,
                    },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                user = res.Data;
                                sessionStorage.setItem('user', JSON.stringify(res.Data));
                            }
                            else {
                                _viewModel.home();
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                            _viewModel.home();
                        }
                    },
                    error: function () {
                        _viewModel.home();
                    }
                });
            }
            if (user == null || user == '') {
                //getUserByOpenId();
            } else {
                user = JSON.parse(user);
            }

        });
    </script>
}