
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="membercardmanager">
    <div class="toubu">
        <a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px; float:left; margin-left:3%; margin-top:18px;"></a>
        店长工作终端
        <a v-on:click="home"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px; float:right; margin-right:3%; margin-top:18px;"></a>
    </div>
    <div class="touxiang">
        <div style="width:100%; float:left; ">
            <img src="@ViewBag.HeadImgUrl" class="touxiang_img">
            <div class="touxiang_div">
                <span>{{User.Name}}</span>
                <span style=" font-size:14px; color:#999;">发行总量：{{TotalStock}}<a style="font-size:13px; color:#51b3f0; float:right; margin-right:4%;"></a></span>
            </div>
        </div>
    </div>
    <div class="touxiang" v-for="MemberCard in MemberCardList">
        <div class="ygxx_box">
            <div class="ygxx">会员卡名称</div>
            <div class="ygxx2">
                <span>{{MemberCard.Title}}</span>
            </div>
        </div>
        <div class="ygxx_box">
            <div class="ygxx">有效期</div>
            <div class="ygxx2">
                <span>{{MemberCard.Validity}}</span>
            </div>
        </div>
        <div class="ygxx_box">
            <div class="ygxx">发行量</div>
            <div class="ygxx2">
                <span>{{MemberCard.Stock}}张</span>
            </div>
        </div>
        <div class="ygxx_box">
            <div class="ygxx">成交量</div>
            <div class="ygxx2">
                <span>{{MemberCard.Stock-MemberCard.FreeStock}}张</span>
            </div>
        </div>
        <div class="ygxx_box">
            <div class="ygxx">状态</div>
            <div class="ygxx2">
                <span v-if="MemberCard.AproveStatus==2">已投放</span>
                <span v-if="MemberCard.AproveStatus!=2">待投放</span>
            </div>
        </div>
        @*<div class="ygxx_box">
                <div class="ygxx">成交金额</div>
                <div class="ygxx2">
                    <span style="color:#ff0c4c;">￥0</span>
                </div>
            </div>*@
        <div class="ygxx_box">
            <div class="ygxx">发行时间</div>
            <div class="ygxx2">
                <span style="color:#51b3f0;">{{MemberCard.CreatedDate}}</span>
            </div>
        </div>
        <div class="ygxx_box" style=" border-bottom:none;">
            <div class="ygxx">操作</div>
            <div class="ygxx2">
                <span>
                    <a style="background-color:#51b3f0;float:left; margin-left:13%; width:70px; font-size:12px;" v-if="MemberCard.AproveStatus!=2" v-on:click="changeApproveStatusDelivered(MemberCard)">投放</a>
                    <a style="background-color:#51b3f0;float:left; margin-left:13%; width:70px; font-size:12px;" v-if="MemberCard.AproveStatus==2" v-on:click="changeApproveStatusApproved(MemberCard)">暂停投放</a>
                </span>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
    <link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="~/Areas/resource/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {
        var mch = $.getUrlParam('mch');
        var user = sessionStorage.getItem('user');
        _viewModel = new Vue({
            el: '#membercardmanager',
            data: {
                User: {},
                MemberCardList: [],
                TotalStock:0,
            },
            methods: {
                back: function (event) {
                    history.back(-1);
                },
                home: function (event) {
                        window.location.href = "/Mobile/Merchant/MasterHome?mch=" + mch;
                },
                changeApproveStatusApproved: function (data, event) {
                    $.confirm('确认暂停投放？', function () {
                        changeApproveStatus(data.ID, 1);
                    });
                },
                changeApproveStatusDelivered: function (data, event) {
                    $.confirm('确认投放？', function () {
                        changeApproveStatus(data.ID, 2);
                    });
                },
            }
        });

            function getUserByOpenId() {
                $.ajax({
                    url: '/api/User/GetUserByOpenID',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    data: {
                        OpenID: '@ViewBag.OpenId',
                        IsManager: true,
                    },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                _viewModel.User = res.Data;
                                sessionStorage.setItem('user', JSON.stringify(res.Data));
                            }
                            else {
                                _viewModel.home();
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                            _viewModel.home();
                        }
                    },
                    error: function () {
                        _viewModel.home();
                    }
                });
            }
            if (user == null || user == '') {
                getUserByOpenId();
            } else {
                _viewModel.User = JSON.parse(user);
            }

            function getCouponTemplateInfo() {
                $.ajax({
                    url: '/api/CouponTemplate/GetCouponTemplateInfo?All=false&CouponType=-1&AproveStatus=-2&Nature=1',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data != null && res.Data.length>0) {
                                _viewModel.MemberCardList = res.Data;
                                for (var i = 0; i < res.Data.length; i++) {
                                    _viewModel.TotalStock += res.Data[i].Stock;
                                }
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }
            getCouponTemplateInfo();

            function changeApproveStatus(templateId, status) {
                if (templateId == null || templateId == '' || status == null || status=='') {
                    $.alert('参数错误');
                    return;
                }
                $.ajax({
                    url: '/api/CouponTemplate/ChangeApproveStatus?templateId=' + templateId + '&status=' + status,
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data) {
                                $.toast('操作成功');
                                for (var i = 0; i < _viewModel.MemberCardList.length; i++) {
                                    if (_viewModel.MemberCardList[i].ID == templateId) {
                                        _viewModel.MemberCardList[i].AproveStatus = status;
                                        break;
                                    }
                                }
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

        });
    </script>
}

