
@{
	ViewBag.Title = "";
	Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="myorderdividend">
	<div class="toubu">
		<a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px; float:left; margin-left:3%; margin-top:18px;"></a>
		<div>我的分红</div>
		<a v-on:click="home"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px; float:right; margin-right:3%; margin-top:18px;"></a>
	</div>
	<div class="touxiang">
		<div style="width:100%; float:left; ">
			<img src="@ViewBag.HeadImgUrl" class="touxiang_img">
			<div class="touxiang_div">
				<span>{{User.Name}}</span>
				<span style=" font-size:14px; color:#999;">我的分红：{{Commission}}</span>
			</div>
		</div>
	</div>
	<div class="kcd_box2">
		<form>
			<input type="date" class="kcgl_input" style="color:#999;width:35%;" id="startdate">
			<input type="date" class="kcgl_input" style="color:#999;width:35%;" id="enddate">
		</form>
		<div class="kcgl_btn"><img src="~/Areas/resource/img/mobile/master/ss2.png" style="width:20px; padding-top:10px;" v-on:click="searchCommission"></div>
	</div>
	<div class="touxiang" v-for="OrderDividend in OrderDividendList">
		<div class="kcgl_box">
			<div class="kcgl">订单编号</div>
			<div class="kcgl2">
				<span>{{OrderDividend.TradeNo}}</span>
			</div>
		</div>
		<div class="kcgl_box">
			<div class="kcgl">订单类型</div>
			<div class="kcgl2">
				<span>{{OrderDividend.OrderTypeText}}</span>
			</div>
		</div>
		<div class="kcgl_box">
			<div class="kcgl">人员类型</div>
			<div class="kcgl2">
				<span>{{OrderDividend.PeopleTypeText}}</span>
			</div>
		</div>
		<div class="kcgl_box">
			<div class="kcgl">项目名称</div>
			<div class="kcgl2">
				<span>{{OrderDividend.Name}}</span>
			</div>
		</div>
		<div class="kcgl_box">
			<div class="kcgl">分红</div>
			<div class="kcgl2">
				<span>{{OrderDividend.Commission}}</span>
			</div>
		</div>
		<div class="kcgl_box">
			<div class="kcgl">创建时间</div>
			<div class="kcgl2">
				<span>{{OrderDividend.CreatedDate}}</span>
			</div>
		</div>
	</div>
	<div class="kcgl_box2"></div>
</div>

@section scripts{
	<link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
	<link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
	<script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
	<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script src="~/Areas/resource/js/jquery.qrcode.min.js"></script>
	<script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
	</script>
	<script type="text/javascript">
        $(function () {
			var mch = $.getUrlParam('mch');
            var user = sessionStorage.getItem('user');
            var isgeneralmanager = sessionStorage.getItem('isgeneralmanager') == 'true';
			var ismaster = sessionStorage.getItem('ismaster');

            _viewModel = new Vue({
                el: '#myorderdividend',
                data: {
                    User: {},
					OrderDividendList: [],
					Commission: 0,
                },
                methods: {
                    back: function (event) {
                        history.back(-1);
                    },
                    home: function (event) {
                        if (ismaster != null) {
                            if (ismaster=='true')
                                window.location.href = "/Mobile/Merchant/MasterHome?mch=" + mch;
                            else
                                window.location.href = "/Mobile/Merchant/StaffHome?mch=" + mch;
                        }
                        else
                        window.location.href = "/Mobile/Agent/GeneralManagerHome?mch=" + mch;
                    },
                    searchCommission: function (event) {
                        searchCommission();
                    },
                    checkimg: function (data, event) {
                        window.location.href = data.ImgUrl;
                    },
            }
        });

        var userdata = {
              OpenID: '@ViewBag.OpenId',
              IsGeneralManager: isgeneralmanager,
              IsSalesManger: !isgeneralmanager,
        };
        if (ismaster != null && ismaster != '') {
            if (ismaster=='true')
                 userdata = {
                    OpenID: '@ViewBag.OpenId',
                    IsManager: true,
                 };
            else
                 userdata = {
                    OpenID: '@ViewBag.OpenId',
                    IsManager: false,
                 };
        }

            function getUserByOpenId() {
                $.ajax({
                    url: '/api/User/GetUserByOpenID',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    data: userdata,
                    success: function (res) {
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                _viewModel.User = res.Data;
                                sessionStorage.setItem('user', JSON.stringify(res.Data));
                            }
                            else {
                                _viewModel.home();
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                            _viewModel.home();
                        }
                    },
                    error: function () {
                        _viewModel.home();
                    }
                });
            }
            if (user == null || user == '') {
                getUserByOpenId();
            } else {
                _viewModel.User = JSON.parse(user);
            }

			var time = new Date();
			var day = ("0" + time.getDate()).slice(-2);
			var month = ("0" + (time.getMonth() + 1)).slice(-2);
			var startdate = time.getFullYear() + "-" + (month) + "-01";
			var enddate = time.getFullYear() + "-" + (month) + "-" + (day);
			$('#startdate').val(startdate);
			$('#enddate').val(enddate);

            function searchCommission() {
				var startdate = $('#startdate').val();
				var enddate = $('#enddate').val();
				$.ajax({
					url: '/api/OrderDividend?All=false&UserID=' + _viewModel.User.ID + '&StartDate=' + startdate + '&EndDate=' + enddate,
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
							_viewModel.OrderDividendList = res.Data;
							var commission = 0;
							_viewModel.OrderDividendList.forEach(function (item) {
								commission += item.Commission;
							});
							_viewModel.Commission = commission;
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
			}
			searchCommission();
		});
	</script>
}