
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="openorder">
	<div class="toubu">
		<a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px; float:left; margin-left:3%; margin-top:18px;"></a>
		<div class="title">工作终端</div>
		<a v-on:click="home" class="homeposition"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px; float:right; margin-right:3%; margin-top:18px;"></a>
	</div>
	<div class="kcd_box">
		<div class="kcd_bg">
			<div class="kcd_mc">车牌号</div>
			<div class="kcd_cph">{{PlateNumber}}</div>
		</div>
		<div class="kcd_bg">
			<div class="kcd_mc">会员</div>
			<select class="kcd_input" id="memberselect" v-on:change="memberChange">
				<option v-for="Member in MemberList" v-bind:value="Member.ID">{{Member.Name}}</option>
			</select>
		</div>
		@*<div class="kcd_bg">
				<div class="kcd_hyk">会员卡</div>
				<div class="kcd_hykmc">会员卡名<span>￥0</span></div>
				<div class="kcd_hykmc">会员卡名<span>￥0</span></div>
				<div class="kcd_hykmc" style="border-bottom:none;">会员卡名<span>￥0</span></div>
			</div>*@
		<img src="~/Areas/resource/img/mobile/master/u35.png">
	</div>
	<div class="kcd_box2">
		<form action="#" method="get">
			<select class="kcd_input" id="productcategoryselect">
				<option v-for="ProductCategory in ProductCategoryList" v-bind:value="ProductCategory.ID">{{ProductCategory.Name}}</option>
			</select>
			<select class="kcd_input" id="productselect">
				<option v-for="Product in ProductList" v-bind:value="Product.ID">{{Product.Name}}</option>
			</select>
		</form>
		<div class="kcd_btn" v-on:click="addproduct">增加</div>
	</div>
	<div class="kcd_box" style="padding:0 0 10px 3px;">
		<div class="kcd_bt">当前项目</div>
		@*<div>
				<div class="currentproduct" v-for="Product in CurrentProductList" v-on:click="currentproductclick(Product)">{{Product.Name}}</div>
			</div>*@
		<table width="94%" style="border-collapse:collapse; float:left; margin-left:3%; margin-bottom:15px;" border="1">
			<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; background-color:#f3f3f3;">
				<th scope="col" width="33%">项目</th>
				<th scope="col" width="15%">价格</th>
				<th scope="col" width="17%">改价</th>
				<th scope="col" width="35%;">操作</th>
			</tr>
			<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; " v-for="Product in CurrentProductList">
				<td>{{Product.Name}}</td>
				<td>{{Product.PriceSale}}</td>
				<td>{{Product.ReducedPrice}}</td>
				<td>
					@*<span class="addbtn" style="margin:5px;padding:3px;" v-on:click="currentproductclick(Product)">删除</span>
						<span class="addbtn" style="margin:5px;padding:3px;" v-on:click="distribution(Product)">人员分配</span>
						<span class="addbtn" style="margin:5px;padding:3px;" v-on:click="modifyprice(Product)">修改价格</span>*@
					<img src="~/Areas/resource/img/mobile/addperson.png" style="width:27px;margin-top:5px;margin-bottom:5px;" v-on:click="distribution(Product)" />
					<img src="~/Areas/resource/img/mobile/modifyprice.png" style="width:27px;margin-top:5px;margin-bottom:5px;" v-on:click="modifyprice(Product)" />
					<img src="~/Areas/resource/img/mobile/close_blue.png" style="width:27px;margin-top:5px;margin-bottom:5px;" v-on:click="currentproductclick(Product)" />
				</td>
			</tr>
		</table>
	</div>
	<div class="kcd_box">
		<div class="kcd_bt">实时体现历史数据信息</div>
		<table width="94%" style="border-collapse:collapse; float:left; margin-left:3%; margin-bottom:15px;" border="1">
			<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; background-color:#f3f3f3;">
				<th scope="col" width="25%">项目</th>
				<th scope="col" width="25%">挖掘空间</th>
				<th scope="col" width="25%">服务次数</th>
				<th scope="col" width="25%">操作</th>
			</tr>
			<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; " v-for="AnalysisData in HistoryAnalysisData">
				<td>{{AnalysisData.Name}}</td>
				<td>{{AnalysisData.MiningSpace}}星</td>
				<td>{{AnalysisData.ServiceTime}}次</td>
				<td><div class="addbtn" v-on:click="historyaddproduct(AnalysisData)">增加</div></td>
			</tr>
		</table>
	</div>
	<div class="kcd_btn2" v-on:click="openorder">开单</div>
	<div class="distributioncon">
		<div class="distributionmain">
			<img class="closeimg" src="~/Areas/resource/img/mobile/close.png" v-on:click="closedistribution" />
			<div class="distributionmaincon">
				<div style="text-align:center;">{{CurrentDistributionProduct.Name}}</div>
				<div class="kcd_bt">人员选择</div>
				<select class="kcd_input" id="userroleselect">
					<option v-for="UserRole in UserRoleList" v-bind:value="UserRole.ID">{{UserRole.Name}}</option>
				</select>
				<select class="kcd_input" id="userselect">
					<option v-for="User in UserList" v-bind:value="JSON.stringify(User)">{{User.Name}}</option>
				</select>
				<div class="kcd_bt">类型选择</div>
				<select class="kcd_input" id="usertypeselect">
					<option value="0">施工员</option>
					<option value="1">业务员</option>
				</select>
				<div class="kcd_btn" v-on:click="addpeople">添加</div>
				<div class="kcd_bt">业务员</div>
				<table width="94%" style="border-collapse:collapse; float:left; margin-left:3%; margin-bottom:15px;" border="1">
					<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; background-color:#f3f3f3;">
						<th scope="col" width="33.3%">姓名</th>
						<th scope="col" width="33.3%">编号</th>
						<th scope="col" width="33.3%">操作</th>
					</tr>
					<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center;" v-for="Salesman in SalesmanList">
						<td>{{Salesman.Name}}</td>
						<td>{{Salesman.Code}}</td>
						<td><div class="addbtn" v-on:click="deletesalesman(Salesman)">删除</div></td>
					</tr>
				</table>
				<div class="kcd_bt">施工</div>
				<table width="94%" style="border-collapse:collapse; float:left; margin-left:3%; margin-bottom:15px;" border="1">
					<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; background-color:#f3f3f3;">
						<th scope="col" width="33.3%">姓名</th>
						<th scope="col" width="33.3%">编号</th>
						<th scope="col" width="33.3%">操作</th>
					</tr>
					<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center;" v-for="Construction in ConstructionList">
						<td>{{Construction.Name}}</td>
						<td>{{Construction.Code}}</td>
						<td><div class="addbtn" v-on:click="deleteconstruction(Construction)">删除</div></td>
					</tr>
				</table>
			</div>
			<div class="kcd_btn2" v-on:click="closedistribution">确认</div>
		</div>
	</div>
	<div class="modifypricemain">
		<div class="modifypricepanel">
			<div class="popcon">
				<img class="closeimg" src="~/Areas/resource/img/mobile/close.png" v-on:click="closemodifyprice" />
				<div style="text-align:center;padding:5px 0 5px 0;">项目{{CurrentModifyPriceProduct.Name}}</div>
				<div class="kcgl_box">
					<div class="kcgl">原价</div>
					<div class="kcgl2">
						<span id="priceSale">{{CurrentModifyPriceProduct.PriceSale}}</span>
					</div>
				</div>
				<div class="kcgl_box">
					<div class="kcgl">是否改价</div>
					<div class="kcgl_input" v-bind:class="[unReduceClass?unReduceClass:'']" style="width:80px;padding-top:10px;" v-on:click="setReducePrice(0)">
						<span class="gwc_text">否</span>
					</div>
					<div class="kcgl_input" v-bind:class="[reduceClass?reduceClass:'']" style="width:80px;padding-top:10px;" v-on:click="setReducePrice(1)">
						<span class="gwc_text">是</span>
					</div>
				</div>
				<div class="kcgl_box" v-bind:class="[showClass?showClass:'']">
					<div class="kcgl">改价</div>
					<div class="kcgl2">
						<input type="number" style="width:80px;text-align:center;border:1px #fff solid" placeholder="输入改价价" id="inputReducePrice" v-on:change="reducePrice" />
					</div>
				</div>
				<div class="kcd_btn2" v-on:click="closemodifyprice">确认</div>
			</div>
		</div>
	</div>
	<div class="toubu">
		<a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px; float:left; margin-left:3%; margin-top:18px;"></a>
		<div class="title">工作终端</div>
		<a v-on:click="home" class="homeposition"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px; float:right; margin-right:3%; margin-top:18px;"></a>
	</div>
	<div class="kcd_box">
		<div class="kcd_bg">
			<div class="kcd_mc">车牌号</div>
			<div class="kcd_cph">{{PlateNumber}}</div>
		</div>
		<div class="kcd_bg">
			<div class="kcd_mc">会员</div>
			<select class="kcd_input" id="productselect" v-on:change="memberChange">
				<option v-for="Member in MemberList" v-bind:value="Member.ID">{{Member.Name}}</option>
			</select>
		</div>
		@*<div class="kcd_bg">
				<div class="kcd_hyk">会员卡</div>
				<div class="kcd_hykmc">会员卡名<span>￥0</span></div>
				<div class="kcd_hykmc">会员卡名<span>￥0</span></div>
				<div class="kcd_hykmc" style="border-bottom:none;">会员卡名<span>￥0</span></div>
			</div>*@
		<img src="~/Areas/resource/img/mobile/master/u35.png">
	</div>
	<div class="kcd_box2">
		<form action="#" method="get">
			<select class="kcd_input" id="productcategoryselect">
				<option v-for="ProductCategory in ProductCategoryList" v-bind:value="ProductCategory.ID">{{ProductCategory.Name}}</option>
			</select>
			<select class="kcd_input" id="productselect">
				<option v-for="Product in ProductList" v-bind:value="Product.ID">{{Product.Name}}</option>
			</select>
		</form>
		<div class="kcd_btn" v-on:click="addproduct">增加</div>
	</div>
	<div class="kcd_box" style="padding:0 0 10px 3px;">
		<div class="kcd_bt">当前项目</div>
		@*<div>
				<div class="currentproduct" v-for="Product in CurrentProductList" v-on:click="currentproductclick(Product)">{{Product.Name}}</div>
			</div>*@
		<table width="94%" style="border-collapse:collapse; float:left; margin-left:3%; margin-bottom:15px;" border="1">
			<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; background-color:#f3f3f3;">
				<th scope="col" width="33%">项目</th>
				<th scope="col" width="15%">价格</th>
				<th scope="col" width="17%">改价</th>
				<th scope="col" width="35%;">操作</th>
			</tr>
			<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; " v-for="Product in CurrentProductList">
				<td>{{Product.Name}}</td>
				<td>{{Product.PriceSale}}</td>
				<td>{{Product.ReducedPrice}}</td>
				<td>
					@*<span class="addbtn" style="margin:5px;padding:3px;" v-on:click="currentproductclick(Product)">删除</span>
						<span class="addbtn" style="margin:5px;padding:3px;" v-on:click="distribution(Product)">人员分配</span>
						<span class="addbtn" style="margin:5px;padding:3px;" v-on:click="modifyprice(Product)">修改价格</span>*@
					<img src="~/Areas/resource/img/mobile/addperson.png" style="width:27px;margin-top:5px;margin-bottom:5px;" v-on:click="distribution(Product)" />
					<img src="~/Areas/resource/img/mobile/modifyprice.png" style="width:27px;margin-top:5px;margin-bottom:5px;" v-on:click="modifyprice(Product)" />
					<img src="~/Areas/resource/img/mobile/close_blue.png" style="width:27px;margin-top:5px;margin-bottom:5px;" v-on:click="currentproductclick(Product)" />
				</td>
			</tr>
		</table>
	</div>
	<div class="kcd_box">
		<div class="kcd_bt">实时体现历史数据信息</div>
		<table width="94%" style="border-collapse:collapse; float:left; margin-left:3%; margin-bottom:15px;" border="1">
			<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; background-color:#f3f3f3;">
				<th scope="col" width="25%">项目</th>
				<th scope="col" width="25%">挖掘空间</th>
				<th scope="col" width="25%">服务次数</th>
				<th scope="col" width="25%">操作</th>
			</tr>
			<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; " v-for="AnalysisData in HistoryAnalysisData">
				<td>{{AnalysisData.Name}}</td>
				<td>{{AnalysisData.MiningSpace}}星</td>
				<td>{{AnalysisData.ServiceTime}}次</td>
				<td><div class="addbtn" v-on:click="historyaddproduct(AnalysisData)">增加</div></td>
			</tr>
		</table>
	</div>
	<div class="kcd_btn2" v-on:click="openorder">开单</div>
	<div class="distributioncon">
		<div class="distributionmain">
			<img class="closeimg" src="~/Areas/resource/img/mobile/close.png" v-on:click="closedistribution" />
			<div class="distributionmaincon">
				<div style="text-align:center;">{{CurrentDistributionProduct.Name}}</div>
				<div class="kcd_bt">人员选择</div>
				<select class="kcd_input" id="userroleselect">
					<option v-for="UserRole in UserRoleList" v-bind:value="UserRole.ID">{{UserRole.Name}}</option>
				</select>
				<select class="kcd_input" id="userselect">
					<option v-for="User in UserList" v-bind:value="JSON.stringify(User)">{{User.Name}}</option>
				</select>
				<div class="kcd_bt">类型选择</div>
				<select class="kcd_input" id="usertypeselect">
					<option value="0">施工员</option>
					<option value="1">业务员</option>
				</select>
				<div class="kcd_btn" v-on:click="addpeople">添加</div>
				<div class="kcd_bt">业务员</div>
				<table width="94%" style="border-collapse:collapse; float:left; margin-left:3%; margin-bottom:15px;" border="1">
					<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; background-color:#f3f3f3;">
						<th scope="col" width="33.3%">姓名</th>
						<th scope="col" width="33.3%">编号</th>
						<th scope="col" width="33.3%">操作</th>
					</tr>
					<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center;" v-for="Salesman in SalesmanList">
						<td>{{Salesman.Name}}</td>
						<td>{{Salesman.Code}}</td>
						<td><div class="addbtn" v-on:click="deletesalesman(Salesman)">删除</div></td>
					</tr>
				</table>
				<div class="kcd_bt">施工</div>
				<table width="94%" style="border-collapse:collapse; float:left; margin-left:3%; margin-bottom:15px;" border="1">
					<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; background-color:#f3f3f3;">
						<th scope="col" width="33.3%">姓名</th>
						<th scope="col" width="33.3%">编号</th>
						<th scope="col" width="33.3%">操作</th>
					</tr>
					<tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center;" v-for="Construction in ConstructionList">
						<td>{{Construction.Name}}</td>
						<td>{{Construction.Code}}</td>
						<td><div class="addbtn" v-on:click="deleteconstruction(Construction)">删除</div></td>
					</tr>
				</table>
			</div>
			<div class="kcd_btn2" v-on:click="closedistribution">确认</div>
		</div>
	</div>
	<div class="modifypricemain">
		<div class="modifypricepanel">
			<div class="popcon">
				<img class="closeimg" src="~/Areas/resource/img/mobile/close.png" v-on:click="closemodifyprice" />
				<div style="text-align:center;padding:5px 0 5px 0;">项目{{CurrentModifyPriceProduct.Name}}</div>
				<div class="kcgl_box">
					<div class="kcgl">原价</div>
					<div class="kcgl2">
						<span id="priceSale">{{CurrentModifyPriceProduct.PriceSale}}</span>
					</div>
				</div>
				<div class="kcgl_box">
					<div class="kcgl">是否改价</div>
					<div class="kcgl_input" v-bind:class="[unReduceClass?unReduceClass:'']" style="width:80px;padding-top:10px;" v-on:click="setReducePrice(0)">
						<span class="gwc_text">否</span>
					</div>
					<div class="kcgl_input" v-bind:class="[reduceClass?reduceClass:'']" style="width:80px;padding-top:10px;" v-on:click="setReducePrice(1)">
						<span class="gwc_text">是</span>
					</div>
				</div>
				<div class="kcgl_box" v-bind:class="[showClass?showClass:'']">
					<div class="kcgl">改价</div>
					<div class="kcgl2">
						<input type="number" style="width:80px;text-align:center;border:1px #fff solid" placeholder="输入改价价" id="inputReducePrice" v-on:change="reducePrice" />
					</div>
				</div>
				<div class="kcd_btn2" v-on:click="closemodifyprice">确认</div>
			</div>
		</div>
	</div>
=======
    <div class="toubu">
        <a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px; float:left; margin-left:3%; margin-top:18px;"></a>
        <div class="title">工作终端</div>
        <a v-on:click="home" class="homeposition"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px; float:right; margin-right:3%; margin-top:18px;"></a>
    </div>
    <div class="kcd_box">
        <div class="kcd_bg">
            <div class="kcd_mc">车牌号</div>
            <div class="kcd_cph">{{PlateNumber}}</div>
        </div>
        <div class="kcd_bg">
            <div class="kcd_mc">会员</div>
            <select class="kcd_input" id="productselect" v-on:change="memberChange">
                <option v-for="Member in MemberList" v-bind:value="Member.ID">{{Member.Name}}</option>
            </select>
        </div>
        <img src="~/Areas/resource/img/mobile/master/u35.png">
    </div>
    <div class="kcd_box2" style="height:45px;line-height:45px;" v-on:click="carinspection">
        <div class="kcd_bt" style="height:45px;line-height:45px;padding-left:13px;">车辆检查</div>
        <img src="~/Areas/resource/img/mobile/arrowr.png" style="width:20px;float:right;margin-top:-33px;margin-right:13px;" />
    </div>
    <div class="kcd_box2">
        <form action="#" method="get">
            <select class="kcd_input" id="productcategoryselect">
                <option v-for="ProductCategory in ProductCategoryList" v-bind:value="ProductCategory.ID">{{ProductCategory.Name}}</option>
            </select>
            <select class="kcd_input" id="productselect">
                <option v-for="Product in ProductList" v-bind:value="Product.ID">{{Product.Name}}</option>
            </select>
        </form>
        <div class="kcd_btn" v-on:click="addproduct">增加</div>
    </div>
    <div class="kcd_box" style="padding:0 0 10px 3px;">
        <div class="kcd_bt">当前项目</div>
        <table width="94%" style="border-collapse:collapse; float:left; margin-left:3%; margin-bottom:15px;" border="1">
            <tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; background-color:#f3f3f3;">
                <th scope="col" width="33%">项目</th>
                <th scope="col" width="15%">价格</th>
                <th scope="col" width="17%">改价</th>
                <th scope="col" width="35%;">操作</th>
            </tr>
            <tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; " v-for="Product in CurrentProductList">
                <td>{{Product.Name}}</td>
                <td>{{Product.PriceSale}}</td>
                <td>{{Product.ReducedPrice}}</td>
                <td>
                    <img src="~/Areas/resource/img/mobile/addperson.png" style="width:27px;margin-top:5px;margin-bottom:5px;" v-on:click="distribution(Product)" />
                    <img src="~/Areas/resource/img/mobile/modifyprice.png" style="width:27px;margin-top:5px;margin-bottom:5px;" v-on:click="modifyprice(Product)" />
                    <img src="~/Areas/resource/img/mobile/close_blue.png" style="width:27px;margin-top:5px;margin-bottom:5px;" v-on:click="currentproductclick(Product)" />
                </td>
            </tr>
        </table>
    </div>
    <div class="kcd_box">
        <div class="kcd_bt">实时体现历史数据信息</div>
        <table width="94%" style="border-collapse:collapse; float:left; margin-left:3%; margin-bottom:15px;" border="1">
            <tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; background-color:#f3f3f3;">
                <th scope="col" width="25%">项目</th>
                <th scope="col" width="25%">挖掘空间</th>
                <th scope="col" width="25%">服务次数</th>
                <th scope="col" width="25%">操作</th>
            </tr>
            <tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; " v-for="AnalysisData in HistoryAnalysisData">
                <td>{{AnalysisData.Name}}</td>
                <td>{{AnalysisData.MiningSpace}}星</td>
                <td>{{AnalysisData.ServiceTime}}次</td>
                <td><div class="addbtn" v-on:click="historyaddproduct(AnalysisData)">增加</div></td>
            </tr>
        </table>
    </div>
    <div class="kcd_btn2" v-on:click="openorder">开单</div>
    <div class="distributioncon">
        <div class="distributionmain">
            <img class="closeimg" src="~/Areas/resource/img/mobile/close.png" v-on:click="closedistribution" />
            <div class="distributionmaincon">
                <div style="text-align:center;">{{CurrentDistributionProduct.Name}}</div>
                <div class="kcd_bt">人员选择</div>
                <select class="kcd_input" id="userroleselect">
                    <option v-for="UserRole in UserRoleList" v-bind:value="UserRole.ID">{{UserRole.Name}}</option>
                </select>
                <select class="kcd_input" id="userselect">
                    <option v-for="User in UserList" v-bind:value="JSON.stringify(User)">{{User.Name}}</option>
                </select>
                <div class="kcd_bt">类型选择</div>
                <select class="kcd_input" id="usertypeselect">
                    <option value="0">施工员</option>
                    <option value="1">业务员</option>
                </select>
                <div class="kcd_btn" v-on:click="addpeople">添加</div>
                <div class="kcd_bt">业务员</div>
                <table width="94%" style="border-collapse:collapse; float:left; margin-left:3%; margin-bottom:15px;" border="1">
                    <tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; background-color:#f3f3f3;">
                        <th scope="col" width="33.3%">姓名</th>
                        <th scope="col" width="33.3%">编号</th>
                        <th scope="col" width="33.3%">操作</th>
                    </tr>
                    <tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center;" v-for="Salesman in SalesmanList">
                        <td>{{Salesman.Name}}</td>
                        <td>{{Salesman.Code}}</td>
                        <td><div class="addbtn" v-on:click="deletesalesman(Salesman)">删除</div></td>
                    </tr>
                </table>
                <div class="kcd_bt">施工</div>
                <table width="94%" style="border-collapse:collapse; float:left; margin-left:3%; margin-bottom:15px;" border="1">
                    <tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center; background-color:#f3f3f3;">
                        <th scope="col" width="33.3%">姓名</th>
                        <th scope="col" width="33.3%">编号</th>
                        <th scope="col" width="33.3%">操作</th>
                    </tr>
                    <tr style="border:1px solid #ddd; height:44px; line-height:44px; font-size:14px; color:#2d2d30; text-align:center;" v-for="Construction in ConstructionList">
                        <td>{{Construction.Name}}</td>
                        <td>{{Construction.Code}}</td>
                        <td><div class="addbtn" v-on:click="deleteconstruction(Construction)">删除</div></td>
                    </tr>
                </table>
            </div>
            <div class="kcd_btn2" v-on:click="closedistribution">确认</div>
        </div>
    </div>
    <div class="modifypricemain">
        <div class="modifypricepanel">
            <div class="popcon">
                <img class="closeimg" src="~/Areas/resource/img/mobile/close.png" v-on:click="closemodifyprice" />
                <div style="text-align:center;padding:5px 0 5px 0;">项目{{CurrentModifyPriceProduct.Name}}</div>
                <div class="kcgl_box">
                    <div class="kcgl">原价</div>
                    <div class="kcgl2">
                        <span id="priceSale">{{CurrentModifyPriceProduct.PriceSale}}</span>
                    </div>
                </div>
                <div class="kcgl_box">
                    <div class="kcgl">是否改价</div>
                    <div class="kcgl_input" v-bind:class="[unReduceClass?unReduceClass:'']" style="width:80px;padding-top:10px;" v-on:click="setReducePrice(0)">
                        <span class="gwc_text">否</span>
                    </div>
                    <div class="kcgl_input" v-bind:class="[reduceClass?reduceClass:'']" style="width:80px;padding-top:10px;" v-on:click="setReducePrice(1)">
                        <span class="gwc_text">是</span>
                    </div>
                </div>
                <div class="kcgl_box" v-bind:class="[showClass?showClass:'']">
                    <div class="kcgl">改价</div>
                    <div class="kcgl2">
                        <input type="number" style="width:80px;text-align:center;border:1px #fff solid" placeholder="输入改价价" id="inputReducePrice" v-on:change="reducePrice" />
                    </div>
                </div>
                <div class="kcd_btn2" v-on:click="closemodifyprice">确认</div>
            </div>
        </div>
    </div>
>>>>>>> .r374
</div>

@section scripts{
    <style type="text/css">
        #openorder {
            position: absolute;
        }

        .addbtn {
            background: #51b3f0;
            width: 50px;
            height: 30px;
            color: #fff;
            margin: auto;
            line-height: 30px;
            text-align: center;
        }

        .currentproduct {
            background: #fff;
            width: auto;
            padding: 0 3px;
            height: 30px;
            color: #51b3f0;
            margin: 3px;
            line-height: 30px;
            text-align: center;
            float: left;
            border: 1px #51b3f0 solid;
            border-radius: 3px;
        }

        .currentproductcon {
            width: 100%;
            padding: 0 13px 13px 13px;
        }

        .distributioncon {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.6);
        }

        .distributionmain {
            position: absolute;
            top: 50px;
            left: 20px;
            right: 20px;
            bottom: 50px;
            /*height: 560px;*/
            background: rgba(255, 255, 255,1);
        }

        .modifypricemain {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.6);
            display: none;
        }

        .modifypricepanel {
            position: fixed;
            top: 10px;
            left: 20px;
            right: 20px;
            bottom: 10px;
            background: rgba(255, 255, 255, 1);
            -webkit-overflow-scrolling: touch;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .distributionmaincon {
            padding-top: 15px;
            -webkit-overflow-scrolling: touch;
        }

        .closeimg {
            position: absolute;
            top: 3px;
            right: 3px;
            width: 20px;
        }

        .selectbtn {
            background: #51b3f0;
            font-size: 5px;
            text-align: center;
            color: #fff;
            float: right;
            padding: 3px;
            margin: 1px;
        }

        .selectbtncon {
            padding: 10px 35px 0 0;
        }

        .popcon {
            padding: 13px;
        }

        .blue {
            background-color: aqua;
        }

        .white {
            background-color: white;
        }

        .show {
            display: inline;
        }

        .hide {
            display: none;
        }
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
    <link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {
			var platenum = sessionStorage.getItem('platenum');
			if (platenum == null || platenum == '') {
				//$.alert('车牌号为空');
			}
			var user = sessionStorage.getItem('user');
			var _ismaster = sessionStorage.getItem('ismaster');
			if (_ismaster == 'true') {
				$('.title').text('店长工作终端');
			} else {
				$('.title').text('店员工作终端');
			}
			var mch = $.getUrlParam('mch');

            function addPickUpOrder(data) {
				if (data == null || data.PlateNumber == null || data.PlateNumber == '' || data.StaffID == '' || data.StaffID == null) {
					$.alert('参数错误');
					return;
				}
				if (data.PickUpOrderItemList == null || data.PickUpOrderItemList.length < 1) {
					$.alert('请选择服务项目');
					return;
                }
				$.ajax({
					url: '/api/PickUpOrder',
					type: 'POST',
					data: data,
					headers: { 'CompanyCode': mch },
					beforeSend: function () {
						$.showLoading();
					},
					success: function (res) {
						$.hideLoading();
						if (res.IsSuccessful) {
							if (res.Data != null) {
								$.toast('开单成功', function () {
									sessionStorage.setItem('pickuporder', JSON.stringify(res.Data));
									window.location.href = "/Mobile/Merchant/OrderDetails?mch=" + mch;
								});
							} else {
								$.alert('开单失败，请重试');
							}
						} else {
							$.alert(res.ErrorMessage);
						}
					},
					error: function () {
						$.hideLoading();
					}
				});
			}

			_viewModel = new Vue({
				el: '#openorder',
				data: {
					PlateNumber: platenum,
					MemberList:[],
					ProductCategoryList: [],
					ProductCategory: {},
					ProductList: [],
					HistoryAnalysisData: [],
					CurrentProductList: [],
					CurrentProduct: {},
					CurrentDistributionProduct: {},
					CurrentModifyPriceProduct: {},
					PickUpOrder: {
						PlateNumber: platenum,
						StaffID: '',
						MemberID: '',
						StaffName: '',
						PickUpOrderItemList: [],
					},
					UserRoleList: [],
					UserList: [],
					ConstructionList: [],
					SalesmanList: [],
				},
				computed: {
					reduceClass: function () {
						return {
							blue: this.CurrentModifyPriceProduct.IsReduce,
							white: !this.CurrentModifyPriceProduct.IsReduce,
						}
					},
					unReduceClass: function () {
						return {
							white: this.CurrentModifyPriceProduct.IsReduce,
							blue: !this.CurrentModifyPriceProduct.IsReduce,
						}
					},
					showClass: function () {
						return {
							show: this.CurrentModifyPriceProduct.IsReduce,
							hide: !this.CurrentModifyPriceProduct.IsReduce,
						}
					}
				},
				methods: {
					back: function (event) {
						history.back(-1);
					},
					home: function (event) {
						if (_ismaster == 'true') {
							window.location.href = "/Mobile/Merchant/MasterHome?mch=" + mch;
						} else {
							window.location.href = "/Mobile/Merchant/StaffHome?mch=" + mch;
						}
					},
					openorder: function (event) {
						var items = _viewModel.CurrentProductList;
						_viewModel.PickUpOrder.PickUpOrderItemList = [];
						for (var i = 0; i < items.length; i++) {
							_viewModel.PickUpOrder.PickUpOrderItemList.push({
								ProductID: items[i].ID,
								ProductName: items[i].Name,
								ProductCode: items[i].Code,
								PriceSale: items[i].PriceSale,
								ReducedPrice: items[i].ReducedPrice,
								IsReduce: items[i].IsReduce,
								Quantity: 1,
								ImgUrl: items[i].ImgUrl,
								IsCommissionRate: items[i].IsCommissionRate,
								CommissionRate: items[i].CommissionRate,
								CommissionMoney: items[i].CommissionMoney,
								IsSalesmanCommissionRate: items[i].IsSalesmanCommissionRate,
								SalesmanCommissionRate: items[i].SalesmanCommissionRate,
								SalesmanCommissionMoney: items[i].SalesmanCommissionMoney,
								IsWholesaleCommissionRate: items[i].IsWholesaleCommissionRate,
								WholesaleCommissionRate: items[i].WholesaleCommissionRate,
								WholesaleCommissionMoney: items[i].WholesaleCommissionMoney,
								IsWholesaleConstructionCommissionRate: items[i].IsWholesaleConstructionCommissionRate,
								WholesaleConstructionCommissionRate: items[i].WholesaleConstructionCommissionRate,
								WholesaleConstructionCommissionMoney: items[i].WholesaleConstructionCommissionMoney,
								PickUpOrderTaskDistributionList: items[i].PickUpOrderTaskDistributionList,
							});
						}
						//$.alert(JSON.stringify(_viewModel.PickUpOrder));
						//console.log(JSON.stringify(_viewModel.PickUpOrder));
                        //return;
                        var carinspection = sessionStorage.getItem('carinspection');
                        if (carinspection != null)
                            _viewModel.PickUpOrder.CarInspectionReport = JSON.parse(carinspection);
						$.confirm("确认开单？", function () {
							addPickUpOrder(_viewModel.PickUpOrder);
						}, function () {
							//点击取消后的回调函数
						});
					},
					addproduct: function (event) {
						var addflag = true;
						//for (var i = 0; i < _viewModel.CurrentProductList.length; i++) {
						//    if (_viewModel.CurrentProductList[i].ID == _viewModel.CurrentProduct.ID) {
						//        addflag = false;
						//    }
						//}
						if (addflag) {
							var currentProduct = $.extend(true, {}, _viewModel.CurrentProduct);
							_viewModel.CurrentProductList.push(currentProduct);
						}
					},
					historyaddproduct: function (data, event) {
						if (data == null)
							return;
						var addflag = true;
						//for (var i = 0; i < _viewModel.CurrentProductList.length; i++) {
						//    if (_viewModel.CurrentProductList[i].ID == data.ID) {
						//        addflag = false;
						//    }
						//}
						if (addflag) {
							var datatemp = $.extend(true, {}, data);
							_viewModel.CurrentProductList.push(datatemp);
						}
					},
					currentproductclick: function (data, event) {
						if (data == null)
							return;
						var index = -1;
						for (var i = 0; i < _viewModel.CurrentProductList.length; i++) {
							if (_viewModel.CurrentProductList[i].ID == data.ID) {
								index = i;
								break;
							}
						}
						if (index!=-1)
						_viewModel.CurrentProductList.splice(index,1);
					},
					modifyprice: function (data, event) {
						if (data == null)
							$.alert('参数错误');
						_viewModel.CurrentModifyPriceProduct = data;
						$('.modifypricemain').show();
					},
					setReducePrice: function (data, event) {
						if (data == true) {
							_viewModel.CurrentModifyPriceProduct.IsReduce = true;
							_viewModel.CurrentModifyPriceProduct.ReducedPrice = $('#inputReducePrice').val();
						} else {
							_viewModel.CurrentModifyPriceProduct.IsReduce = false;
							_viewModel.CurrentModifyPriceProduct.ReducedPrice = $('#priceSale').text();
						}
					},
					reducePrice: function (event) {
						_viewModel.CurrentModifyPriceProduct.ReducedPrice = $('#inputReducePrice').val();
					},
					closemodifyprice: function (event) {
						var modifyPriceProduct = _viewModel.CurrentModifyPriceProduct;
						_viewModel.CurrentProductList.forEach(function (item) {
							if (item.ID == modifyPriceProduct.ID) {
								item.IsReduce = modifyPriceProduct.IsReduce;
								item.ReducedPrice = modifyPriceProduct.ReducedPrice;
							}
						});
						$('.modifypricemain').hide();
					},
					distribution: function (data, event) {
						if (data == null)
							$.alert('参数错误');
						_viewModel.CurrentDistributionProduct = data;
						var pickUpOrderTaskDistributionList = _viewModel.CurrentDistributionProduct.PickUpOrderTaskDistributionList;
						_viewModel.ConstructionList = [];
						_viewModel.SalesmanList = [];
						if (pickUpOrderTaskDistributionList != null) {
							for (var i = 0; i < pickUpOrderTaskDistributionList.length; i++) {
								if (pickUpOrderTaskDistributionList[i].PeopleType == 0) {
									_viewModel.ConstructionList.push(pickUpOrderTaskDistributionList[i]);
								} else if(pickUpOrderTaskDistributionList[i].PeopleType == 1) {
									_viewModel.SalesmanList.push(pickUpOrderTaskDistributionList[i]);
								}
							}
						}
						$('.distributioncon').show();
					},
					closedistribution: function (event) {
						$('.distributioncon').hide();
					},
					addpeople: function (event) {
						var usertype = $('#usertypeselect').val();
						var selectuser = $('#userselect').val();
						if (selectuser != null)
							selectuser = JSON.parse(selectuser);
						else
							return;
						var hasuser = false;
						if (_viewModel.CurrentDistributionProduct.PickUpOrderTaskDistributionList == null)
							_viewModel.CurrentDistributionProduct.PickUpOrderTaskDistributionList = [];
						if (usertype == 0) {
							for (var i = 0; i < _viewModel.ConstructionList.length; i++) {
								if (_viewModel.ConstructionList[i].ID == selectuser.ID) {
									hasuser = true;
									break;
								}
							}
							if (!hasuser) {
								_viewModel.ConstructionList.push(selectuser);
								_viewModel.CurrentDistributionProduct.PickUpOrderTaskDistributionList.push({
									ID: selectuser.ID,
									UserID: selectuser.ID,
									PeopleType: 0,
									Name: selectuser.Name,
									Code: selectuser.Code,
								});
							}
						} else if(usertype == 1){
							for (var i = 0; i < _viewModel.SalesmanList.length; i++) {
								if (_viewModel.SalesmanList[i].ID == selectuser.ID) {
									hasuser = true;
									break;
								}
							}
							if (!hasuser) {
								_viewModel.SalesmanList.push(selectuser);
								_viewModel.CurrentDistributionProduct.PickUpOrderTaskDistributionList.push({
									ID: selectuser.ID,
									UserID: selectuser.ID,
									PeopleType: 1,
									Name: selectuser.Name,
									Code: selectuser.Code,
								});
							}
						}
					},
					deletesalesman: function (data, event) {
						var index = -1;
						for (var i = 0; i < _viewModel.SalesmanList.length; i++) {
							if (_viewModel.SalesmanList[i].ID == data.ID) {
								index = i;
								break;
							}
						}
						if (index != -1)
							_viewModel.SalesmanList.splice(index, 1);
						var disindex = -1;
						for (var i = 0; i < _viewModel.CurrentDistributionProduct.PickUpOrderTaskDistributionList.length; i++) {
							if (_viewModel.CurrentDistributionProduct.PickUpOrderTaskDistributionList[i].UserID == data.ID && _viewModel.CurrentDistributionProduct.PickUpOrderTaskDistributionList[i].PeopleType == 1) {
								disindex = i;
								break;
							}
						}
						if (disindex != -1)
							_viewModel.CurrentDistributionProduct.PickUpOrderTaskDistributionList.splice(disindex, 1);
					},
					deleteconstruction: function (data, event) {
						var index = -1;
						for (var i = 0; i < _viewModel.ConstructionList.length; i++) {
							if (_viewModel.ConstructionList[i].ID == data.ID) {
								index = i;
								break;
							}
						}
						if (index != -1)
							_viewModel.ConstructionList.splice(index, 1);
						var disindex = -1;
						for (var i = 0; i < _viewModel.CurrentDistributionProduct.PickUpOrderTaskDistributionList.length; i++) {
							if (_viewModel.CurrentDistributionProduct.PickUpOrderTaskDistributionList[i].UserID == data.ID && _viewModel.CurrentDistributionProduct.PickUpOrderTaskDistributionList[i].PeopleType==0) {
								disindex = i;
								break;
							}
						}
						if (disindex != -1)
							_viewModel.CurrentDistributionProduct.PickUpOrderTaskDistributionList.splice(disindex, 1);
					},
					memberChange: function (event) {
						_viewModel.PickUpOrder.MemberID = event.target.value;
                    },
                    carinspection: function (event) {
                        window.location.href = "/Mobile/Merchant/CarInspection?mch=" + mch;
                    }
				}
			});

			var ismaster = _ismaster == 'true';
			function getUserByOpenId() {
				$.ajax({
					url: '/api/User/GetUserByOpenID',
					type: 'GET',
					headers: { 'CompanyCode': mch },
					data: {
						OpenID: '@ViewBag.OpenId',
						IsManager: ismaster,
					},
					success: function (res) {
						if (res.IsSuccessful) {
							if (res.Data != null) {
								_viewModel.PickUpOrder.StaffID = res.Data.ID;
								_viewModel.PickUpOrder.StaffName = res.Data.Name;
								sessionStorage.setItem('user',JSON.stringify(res.Data));
							}
							else {
								_viewModel.home();
							}
						}
						else {
							$.alert(res.ErrorMessage);
							_viewModel.home();
						}
					},
					error: function () {
						_viewModel.home();
					}
				});
			}
			if (user == null || user == '') {
				getUserByOpenId();
			} else {
				user = JSON.parse(user);
				_viewModel.PickUpOrder.StaffID = user.ID;
				_viewModel.PickUpOrder.StaffName = user.Name;
			}

			function getMembers() {
				$.ajax({
					url: '/api/MemberPlate/GetMemberByPlate?PlateNumber=' + platenum,
					type: 'GET',
					headers: { 'CompanyCode': mch },
					beforeSend: function () {
						$.showLoading();
					},
					success: function (res) {
						$.hideLoading();
						if (res.IsSuccessful) {
							if (res.Data != null && res.Data != '') {
								_viewModel.MemberList = res.Data;
								_viewModel.PickUpOrder.MemberID = res.Data[0].ID;
							} else {
								_viewModel.MemberList = { ID: '00000000-0000-0000-0000-000000000000', Name: '未注册会员' }
							}
						} else {
							$.alert(res.ErrorMessage)
						}
					},
					error: function () {
						$.hideLoading();
					}
				})
			}
			getMembers();

            function getProductCategory() {
                $.ajax({
                    url: '/api/ProductCategory?IsFromPickUpOrder=true',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
							_viewModel.ProductCategoryList = res.Data;
							_viewModel.ProductCategoryList.forEach(function (item) {
								item.SubProducts.forEach(function (index) {
									index.IsReduce = false;
									index.ReducedPrice = index.PriceSale;
								});
							});
                            if (res.Data != null && res.Data.length > 0) {
                                _viewModel.ProductList = res.Data[0].SubProducts;
                                if (_viewModel.ProductList != null && _viewModel.ProductList.length > 0) {
                                    _viewModel.CurrentProduct = _viewModel.ProductList[0];
                                }
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }
            getProductCategory();

            $('#productcategoryselect').change(function () {
                var value = $(this).val();
                for (var i = 0; i < _viewModel.ProductCategoryList.length; i++) {
                    if (_viewModel.ProductCategoryList[i].ID == value) {
                        _viewModel.ProductList = _viewModel.ProductCategoryList[i].SubProducts;
                        if (_viewModel.ProductList != null && _viewModel.ProductList.length > 0) {
                            _viewModel.CurrentProduct = _viewModel.ProductList[0];
                        }
                        break;
                    }
                }
            });

            $('#productselect').change(function () {
                var value = $(this).val();
                for (var i = 0; i < _viewModel.ProductList.length; i++) {
                    if (_viewModel.ProductList[i].ID == value) {
                        _viewModel.CurrentProduct = _viewModel.ProductList[i];
                        break;
                    }
                }
            });

            function getHistoryAnalysisData() {
                $.ajax({
                    url: '/api/Product/GetHistoryAnalysisData',
                    type: 'GET',
                    data: {
                        PlateNumberList: [platenum]
                    },
                    headers: { 'CompanyCode': mch },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            _viewModel.HistoryAnalysisData = res.Data;
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                    }
                });
            }
            getHistoryAnalysisData();

            function getRole() {
                $.ajax({
                    url: '/api/Role?All=false',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            _viewModel.UserRoleList = res.Data;
                            if (res.Data != null && res.Data.length > 0)
                                getUser(res.Data[0].ID);
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                    }
                });
            }
            getRole();

            function getUser(roleid) {
                if (roleid == null || roleid == '')
                    return;
                $.ajax({
                    url: '/api/UserRole?All=false&RoleID=' + roleid,
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            _viewModel.UserList = [];
                            if (res.Data != null) {
                                for (var i = 0; i < res.Data.length; i++) {
                                    _viewModel.UserList.push(res.Data[i].User);
                                }
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                    }
                });
            }

            $('#userroleselect').change(function () {
                var value = $(this).val();
                getUser(value);
            });

        });
    </script>
}

