
@{
	ViewBag.Title = "";
	Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="operationstatement">
	<div class="toubu">
		<a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px; float:left; margin-left:3%; margin-top:18px;"></a>
		店长工作终端
		<a v-on:click="home"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px; float:right; margin-right:3%; margin-top:18px;"></a>
	</div>
	<div class="touxiang">
		<div style="width:100%; float:left; border-bottom:1px solid #eee;">
			<img src="@ViewBag.HeadImgUrl" class="touxiang_img">
			<div class="touxiang_div">
				<span>{{User.Name}}</span>
				<span style=" font-size:14px; color:#999;">营业利润：￥{{Profit}}</span>
			</div>
		</div>
		<a class="bq_box" style="width:50%;background-color:white;" v-on:click="operationreport" id="report">
			营业报表
		</a>
		<a class="bq_box" style="width:50%;background-color:white;" v-on:click="operationanalyse" id="analyse">
			报表分析
		</a>
	</div>


	<div class="kcd_box2">
		<input type="date" class="kcgl_input" style="color:#999;width:35%;padding:0px;" id="startdate">
		<input type="date" class="kcgl_input" style="color:#999;width:35%;padding:0px;" id="enddate">
		<div class="kcgl_btn"><img src="~/Areas/resource/img/mobile/master/ss2.png" style="width:20px; padding-top:10px;" v-on:click="search"></div>
	</div>

	<div class="touxiang" v-bind:class="reportClass" style="margin-bottom:25px;">
		<ul class="pm_box">
			<li class="pm_box1">
				<div class="pm_box2" style="width:25%;">单号</div>
				<div class="pm_box2" style="width:20%;text-align:center;">总收入</div>
				<div class="pm_box2" style="width:20%;text-align:center;">总支出</div>
				<div class="pm_box2" style="width:20%;text-align:center;">利润</div>
				<div class="pm_box2" style="width:15%;text-align:center;">操作</div>
			</li>
			<li class="pm_box1" v-for="OperationStatement in OperationStatementList" v-on:click="operationStatementDetails(OperationStatement)">
				<div class="pm_box2" style="width:25%;color:#666;">{{OperationStatement.Code}}</div>
				<div class="pm_box2" style="width:20%;text-align:center;color:#51b3f0;">{{OperationStatement.TotalInCome}}</div>
				<div class="pm_box2" style="width:20%;text-align:center;color:#ff0c4c;">{{OperationStatement.TotalOutCome}}</div>
				<div class="pm_box2" style="width:20%;text-align:center;color:#ff0c4c;">{{OperationStatement.TotalProfit}}</div>
				<div class="pm_box2" style="width:15%;text-align:center;"><a style="background-color:#51B3F0;color:white;padding:2px;">详情</a></div>
			</li>
		</ul>
	</div>

	<div class="touxiang" v-bind:class="analyseClass" style="margin-bottom:25px;">
		<div class="touxiang">
			<div class="gzb_box" style="border-bottom:none;">
				<span style="margin-left:3%; font-size:16px;">营业报表折线图</span>
			</div>
			<div id="yyze" style="width:350px;height:250px;overflow:auto!important;margin:0 10px;"></div>
		</div>
	</div>
</div>

@section scripts{
	<style type="text/css">
		.show {
			display: inline;
		}

		.hide {
			display: none;
		}
	</style>
	<link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
	<link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
	<script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
	<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script src="~/Content/js/echarts.js"></script>
	<script src="~/Areas/resource/js/jquery.qrcode.min.js"></script>
	<script type="text/javascript">
		function wxConfig() {
			var mch = $.getUrlParam('mch');
			$.ajax({
				type: "POST",
				url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
				datatype: "json",
				success: function (data) {
					if (data.IsSuccessful) {
						var temp = data.Data;
						wx.config({
							debug: false,
							appId: temp.appId,
							timestamp: temp.timestamp,
							nonceStr: temp.nonceStr,
							signature: temp.signature,
							jsApiList: [
								'checkJsApi',
								'onMenuShareTimeline',
								'onMenuShareAppMessage',
								'onMenuShareQQ',
								'onMenuShareWeibo',
								'hideOptionMenu',
								'hideAllNonBaseMenuItem',
								'showMenuItems',
								'closeWindow',
								'scanQRCode',
							]
						});
						wx.ready(function () {
							wx.hideAllNonBaseMenuItem();
						});
					} else {
					}
				},
				complete: function (xmlHttpRequest, textStatus) {
				},
				error: function (xmlHttpRequest, textStatus) {
				}
			});
		};
		wxConfig();
	</script>
	<script type="text/javascript">
        $(function () {
			var mch = $.getUrlParam('mch');
			var user = sessionStorage.getItem('user');
			$('#analyse').css({ 'background-color': '#51B3F0', 'color': '#fff' });
			_viewModel = new Vue({
				el: '#operationstatement',
				data: {
					User: {},
					OperationStatementList: [],
					Profit: 0,
					IsReport: false,
				},
				computed: {
					reportClass: function () {
						return {
							show: this.IsReport,
							hide: !this.IsReport,
						}
					},
					analyseClass: function () {
						return {
							show: !this.IsReport,
							hide: this.IsReport,
						}
					}
				},
				methods: {
					back: function (event) {
						history.back(-1);
					},
					home: function (event) {
							window.location.href = "/Mobile/Merchant/MasterHome?mch=" + mch;
					},
					operationStatementDetails: function (data, event) {
						sessionStorage.setItem('operationstatement', JSON.stringify(data));
						window.location.href = "/Mobile/Merchant/OperationStatementDetails?mch=" + mch;
					},
					search: function (event) {
						search();
					},
					operationreport: function (event) {
						_viewModel.IsReport = true;
						$('#report').css({ 'background-color': '#51B3F0', 'color': '#fff'}); 
						$('#analyse').css({ 'background-color': '#fff', 'color' : '#000' });
					},
					operationanalyse: function (event) {
						_viewModel.IsReport = false;
						$('#report').css({ 'background-color': '#fff', 'color' : '#000' });
						$('#analyse').css({ 'background-color': '#51B3F0', 'color': '#fff' });
					}
				}
			});

            function getUserByOpenId() {
                $.ajax({
                    url: '/api/User/GetUserByOpenID',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    data: {
                        OpenID: '@ViewBag.OpenId',
                        IsManager: true,
                    },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                _viewModel.User = res.Data;
                                sessionStorage.setItem('user', JSON.stringify(res.Data));
                            }
                            else {
                                _viewModel.home();
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                            _viewModel.home();
                        }
                    },
                    error: function () {
                        _viewModel.home();
                    }
                });
            }
            if (user == null || user == '') {
                getUserByOpenId();
            } else {
                _viewModel.User = JSON.parse(user);
			}

			var startdate = sessionStorage.getItem('startdate');
			var enddate = sessionStorage.getItem('enddate');

			$('#startdate').val(startdate);
			$('#enddate').val(enddate);
			search();

			function search(startdate, enddate) {
				var startdate = $('#startdate').val();
				var enddate = $('#enddate').val();
				$.ajax({
					url: '/api/Reporting/GetOperationStatement?All=false&StartDate=' + startdate + '&enddate=' + enddate,
					type: 'GET',
					headers: { 'CompanyCode': mch },
					beforeSend: function () {
						$.showLoading();
					},
					success: function (res) {
						$.hideLoading();
						if (res.IsSuccessful) {
							_viewModel.OperationStatementList = res.Data;
							var lastrecord = res.Data[res.Data.length - 1];
							_viewModel.Profit = lastrecord.TotalInCome - lastrecord.TotalOutCome;
							var operationData = getChartOperationData(res.Data);
							var option = getLineChartOption(operationData);
							var yyzechart = echarts.init(document.getElementById('yyze'));
							yyzechart.setOption(option);
							sessionStorage.setItem('startdate', startdate);
							sessionStorage.setItem('enddate', enddate);
						} else {
							$.alert(res.ErrorMessage);
						}
					},
					error: function () {
						$.hideLoading();
					}
				});
			}

			function getChartOperationData(data) {
				if (data == null || data == '' || data.length < 1)
					return null;
				var result = { xAxisdata: [], seriesdata: [] };
				for (var i = data.length - 2; i >=0; i--) {
					result.xAxisdata.push(data[i].Code);
					result.seriesdata.push(data[i].TotalProfit);
				}
				return result;
			}

			function getLineChartOption(data) {
				if (data == null || data == '')
					return;
				var option = {
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: 'cross',
							crossStyle: {
								color: '#999',
							}
						}
					},
					xAxis: {
						type: 'category',
						data: data.xAxisdata
					},
					yAxis: {
						type: 'value',
						name: '营业额/元',
						axisLabel: {
							formatter: '{value}'
						}
					},
					series: [{
						data: data.seriesdata,
						type: 'line'
					}]
				};
				return option;
			}
        });
	</script>
}
