
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="orderdetails">
    <div class="toubu">
        <a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px; float:left; margin-left:3%; margin-top:18px;"></a>
        <div class="title">接车单详情</div>
        <a v-on:click="home" class="homeposition"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px; float:right; margin-right:3%; margin-top:18px;"></a>
    </div>
    <div class="hykhx">
        <div><span class="smewm">订单号：{{PickUpOrder.Code}}</span></div>
        <div><span class="smewm">状态：<span style="color:#ff0000" v-if="PickUpOrder.Status==0">未收款</span><span style="color:#ff0000" v-if="PickUpOrder.Status==2">收款不足</span>&nbsp;&nbsp;<span style="color:#51b3f0" v-if="PickUpOrder.Status==1">已收款</span><a style="color:#fff;background:#51b3f0;" v-on:click="selectpaytype(PickUpOrder)" v-if="PickUpOrder.Status!=1">收款</a></span></div>
        <div><span class="smewm">车牌号：{{PickUpOrder.PlateNumber}}</span></div>
        <div><span class="smewm">订单总额：{{PickUpOrder.Money}}</span></div>
        <div><span class="smewm">已收金额：{{PickUpOrder.ReceivedMoney}}</span></div>
        <div><span class="smewm">尚欠金额：{{PickUpOrder.StillOwedMoney}}</span></div>
        <div><span class="smewm">开单店员：{{PickUpOrder.StaffName}}</span></div>
        <div><span class="smewm">创建日期：{{PickUpOrder.CreatedDate}}</span></div>
        <div><span class="smewm">服务项目：{{ServiceItems}}</span></div>
    </div>
</div>

@section scripts{
    <link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
    <link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {
        var user = sessionStorage.getItem('user');
        var _ismaster = sessionStorage.getItem('ismaster');
        //if (_ismaster == 'true') {
        //    $('.title').text('店长工作终端');
        //} else {
        //    $('.title').text('店员工作终端');
        //}
        var mch = $.getUrlParam('mch');
        _viewModel = new Vue({
            el: '#orderdetails',
            data: {
                PickUpOrder: {},
                ServiceItems:'',
            },
            methods: {
                back: function (event) {
                    history.back(-1);
                },
                home: function (event) {
                    if (_ismaster == 'true') {
                        window.location.href = "/Mobile/Merchant/MasterHome?mch=" + mch;
                    } else {
                        window.location.href = "/Mobile/Merchant/StaffHome?mch=" + mch;
                    }
                },
                selectpaytype: function (event) {
                    window.location.href = "/Mobile/Merchant/PayType?mch=" + mch;
                },
            }
            });

            function getPickUpOrder(id) {
                if (id == null || id == '')
                    return;
                $.ajax({
                    url: '/api/PickUpOrder?ID=' + id,
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                if (res.Data.length > 0) {
                                    _viewModel.PickUpOrder = res.Data[0];
                                    for (var i = 0; i < _viewModel.PickUpOrder.PickUpOrderItemList.length; i++) {
                                        if (i == 0)
                                            _viewModel.ServiceItems += _viewModel.PickUpOrder.PickUpOrderItemList[i].ProductName;
                                        else
                                            _viewModel.ServiceItems += "、" + _viewModel.PickUpOrder.PickUpOrderItemList[i].ProductName;
                                    }
                                    sessionStorage.setItem('pickuporder', JSON.stringify(res.Data[0]));
                                }
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

            var pickuporder = sessionStorage.getItem('pickuporder');
            if (pickuporder != null && pickuporder != '') {
                pickuporder = JSON.parse(pickuporder);
                //_viewModel.PickUpOrder = pickuporder;
                //for (var i = 0; i < pickuporder.PickUpOrderItemList.length; i++) {
                //    if(i==0)
                //        _viewModel.ServiceItems += pickuporder.PickUpOrderItemList[i].ProductName;
                //    else
                //        _viewModel.ServiceItems +="、"+pickuporder.PickUpOrderItemList[i].ProductName;
                //}
                getPickUpOrder(pickuporder.ID);
            }

          var ismaster = _ismaster == 'true';
            function getUserByOpenId() {
                $.ajax({
                    url: '/api/User/GetUserByOpenID',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    data: {
                        OpenID: '@ViewBag.OpenId',
                        IsManager: ismaster,
                    },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                sessionStorage.setItem('user', JSON.stringify(res.Data));
                            }
                            else {
                                _viewModel.home();
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                            _viewModel.home();
                        }
                    },
                    error: function () {
                        _viewModel.home();
                    }
                });
            }
            if (user == null || user=='') {
                getUserByOpenId();
            }
        });
    </script>
}

