
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="quickorder">
    <div class="toubu">
        <a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px; float:left; margin-left:3%; margin-top:18px;"></a>
        <div class="title">工作终端</div>
        <a v-on:click="home" class="homeposition"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px; float:right; margin-right:3%; margin-top:18px;"></a>
    </div>
    <div class="touxiang platenum">
        <span class="srcph">快捷开单-请输入车牌号码<span v-bind:class="plateClass" style="padding:2px 7px 2px 7px;margin-left:5px;font-size:13px;" v-on:click="changeplate">蓝牌</span></span>
        @*<form action="" method="get">
                <select name="" class="kjkd_select" style="appearance:none;-moz-appearance:none;-webkit-appearance:none;">
                    <option value="0">闽</option>
                </select>
            </form>*@
        <input id="province" type="text" value="" class="plate_select" maxlength="1" readonly="readonly" v-on:click="inputprovince">
        <input id="alphanum1" type="text" value="" class="plate_select" maxlength="1" readonly="readonly" v-on:click="inputalphanum(1)">
        <input id="alphanum2" type="text" value="" class="plate_select" maxlength="1" readonly="readonly" v-on:click="inputalphanum(2)">
        <input id="alphanum3" type="text" value="" class="plate_select" maxlength="1" readonly="readonly" v-on:click="inputalphanum(3)">
        <input id="alphanum4" type="text" value="" class="plate_select" maxlength="1" readonly="readonly" v-on:click="inputalphanum(4)">
        <input id="alphanum5" type="text" value="" class="plate_select" maxlength="1" readonly="readonly" v-on:click="inputalphanum(5)">
        <input id="alphanum6" type="text" value="" class="plate_select" maxlength="1" readonly="readonly" v-on:click="inputalphanum(6)">
        <input id="alphanum7" type="text" value="" class="plate_select" maxlength="1" hidden="hidden" readonly="readonly" v-on:click="inputalphanum(7)">
        @*<div class="kjkd_text2">非会员，首次/多次消费</div>*@
    </div>
    <div v-bind:class="keyboardClass">
        <div class="province" v-bind:class="provinceClass">
            @*<input type="text" value="京" class="kjkd_select" maxlength="1" readonly="readonly" v-on:click="selectprovince('京')">*@
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('京')">京</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('津')">津</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('冀')">冀</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('晋')">晋</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('蒙')">蒙</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('辽')">辽</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('吉')">吉</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('黑')">黑</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('沪')">沪</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('苏')">苏</div>

            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('浙')">浙</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('皖')">皖</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('闽')">闽</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('赣')">赣</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('鲁')">鲁</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('豫')">豫</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('鄂')">鄂</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('湘')">粤</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('桂')">桂</div>

            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('琼')">琼</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('渝')">渝</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('川')">川</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('贵')">贵</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('云')">云</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('藏')">藏</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('陕')">陕</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('甘')">甘</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('青')">青</div>

            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('宁')">宁</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('新')">新</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('台')">台</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('港')">港</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('澳')">澳</div>
        </div>
        <div class="alphanum" v-bind:class="alphanumClass">
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('0')">0</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('1')">1</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('2')">2</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('3')">3</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('4')">4</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('5')">5</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('6')">6</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('7')">7</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('8')">8</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('9')">9</div>

            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('A')">A</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('B')">B</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('C')">C</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('D')">D</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('E')">E</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('F')">F</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('G')">G</div>

            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('H')">H</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('I')">I</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('J')">J</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('K')">K</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('L')">L</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('M')">M</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('N')">N</div>

            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('O')">O</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('P')">P</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('Q')">Q</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('R')">R</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('S')">S</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('T')">T</div>

            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('U')">U</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('V')">V</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('W')">W</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('X')">X</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('Y')">Y</div>
            <div class="kjkd_select" style="padding-top:6px;" v-on:click="selectprovince('Z')">Z</div>
        </div>
        <a class="recognize" v-on:click="recognizeplate">关闭</a>
    </div>
    <div class="platecon" id="uploadPlateImageTop" v-bind:class="plateImgClass">
        @*v-on:click="chooseImage"*@
        @*<input class="fileinput" id="fileupload" type="file" name="files[]" accept="image/*">*@
        <input class="fileinput" type="file" accept="image/*">@*(this)*@@*onchange='handleinputchange'*@
        <img class="plateimg" />
    </div>
    <div class="uploadimgcon" id="uploadPlateImage" v-bind:class="plateBoardClass">
        <span class="btn btn-default plateconpre">
            <img class="addplateimg" src="~/Areas/resource/img/mobile/staff/jh.png" id="licenceplate"><br>
            @*<input class="fileinputbuttoninput" id="fileupload" type="file" name="files[]" accept="image/*">*@
            <input class="fileinput" type="file" accept="image/*">@*(this)*@@*onchange='handleinputchange'*@
        </span>
        <div class="platebtmtips">车牌拍照，自动识别</div>
    </div>
    <a class="kjtd" style="margin-top:100px; margin-bottom:25px;" v-on:click="openorder">接车单</a>
</div>

@section scripts{
    <style type="text/css">
        input {
            -webkit-appearance: none;
            border-radius: 0;
        }

        .recognize {
            width: 100px;
            margin-right: 5%;
            float: right;
            background-color: #51b3f0;
            text-align: center;
            color: #fff;
            font-size: 15px;
        }

        .plate_select {
            width: 11%;
            margin-left: 2.875%;
            float: left;
            height: 40px;
            font-size: 15px;
            color: #2d2d30;
            border: 1px solid #ccc;
            box-sizing: border-box;
            text-align: center;
            outline-style: none;
        }

        .uploadimgcon {
            width: 94%;
            float: left;
            margin-top: 30px;
            border-radius: 10px;
            border: 3px dashed #ddd;
            text-align: center;
            margin-left: 3%;
            box-sizing: border-box;
            height: 200px;
        }

        .platecon {
            position: absolute;
            top: 201px;
            left: 17px;
            right: 17px;
            text-align: center;
            display: none;
            height: 188px;
        }

        .plateconpre {
            position: absolute;
            top: 201px;
            left: 17px;
            right: 17px;
            text-align: center;
            overflow: hidden;
            height: 188px;
        }

        .plateimg {
            width: 100%;
            height: 188px;
            border-radius: 5px;
        }

        .fileinput {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            width: 100%;
            direction: ltr;
            cursor: pointer;
            height: 100%;
        }

        .fileinputbuttoninput {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            direction: ltr;
            cursor: pointer;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 188px;
        }

        .platebtmtips {
            position: absolute;
            top: 350px;
            left: 0;
            right: 0;
            color: #999;
            font-size: 15px;
            text-align: center;
        }

        .addplateimg {
            height: 25px;
            width: 25px;
            margin-top: 50px;
        }

        .blue {
            background-color: blue;
            color: white;
        }

        .gray {
            background-color: gray;
            color: white;
        }

        .green {
            background-color: green;
            color: white;
        }

        .keyboard {
            width: 94%;
            float: left;
            margin-top: 30px;
            border-radius: 10px;
            border: 3px dashed #ddd;
            text-align: center;
            margin-left: 3%;
            box-sizing: border-box;
            height: 210px;
        }

        .province {
            width: 94%;
            float: left;
            margin-top: 30px;
            border-radius: 10px;
            border: 3px dashed #ddd;
            text-align: center;
            margin-left: 3%;
            box-sizing: border-box;
            height: 210px;
        }

        .alphanum {
            width: 94%;
            float: left;
            margin-top: 30px;
            border-radius: 10px;
            border: 3px dashed #ddd;
            text-align: center;
            margin-left: 3%;
            box-sizing: border-box;
            height: 250px;
        }

        .show {
            display: inline;
        }

        .hide {
            display: none;
        }
    </style>
    @Styles.Render("~/content/jquery-fileupd")
    @Scripts.Render("~/bundles/jquery-fileupd")
    <script id="template-upload" type="text/x-jquery-tmpl">
    </script>
    <script id="template-download" type="text/x-jquery-tmpl">
    </script>
    <link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
    <link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                                'chooseImage',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {
            function PlateNumSplite(numstr) {
                if (numstr == null || numstr == '')
                    return;
                var pinputs = $('.platenum').find('input');
                for (var i = 0; i < numstr.length; i++) {
                    if (i == 1 && numstr[i] == "0") {
                        $(pinputs[i]).val("D");
                    } else {
                        $(pinputs[i]).val(numstr[i]);
                    }
                    if (i == 7) {
                        $(pinputs[i]).show();
                        break;
                    }
                }
            }
            $('#uploadPlateImage').fileupload({//uploadPlateImage
                dropZone: $('#uploadPlateImage'),
                pasteZone: $('#uploadPlateImage'),
                dataType: 'json',
                autoUpload: true,
                url: "/api/UploadFile/UploadPlate",
                add: function (e, data) {
                    var uploadErrors = [];
                    var acceptFileTypes = /(gif|jpe?g|png|bmp)$/i;
                    if (!acceptFileTypes.test(data.originalFiles[0]['name'])) {
                        uploadErrors.push('不允许的文件类型');
                    }
                    if (uploadErrors.length > 0) {
                        $.alert(uploadErrors.join(", "));
                    } else {
                        data.submit();
                    }
                },
                send: function (e, data) {
                    $.showLoading();
                },
                done: function (e, data) {
                    $.hideLoading();
                    if (data.result.success == true) {
                        $('.plateimg').attr('src', data.result.FileUrl);
                        $('.platecon').show();
                        PlateNumSplite(data.result.PRResult);
                    } else {
                        $.alert(data.result.errorMessage);
                    }
                }
            });
            $('#uploadPlateImageTop').fileupload({//uploadPlateImageTop
                dropZone: $('#uploadPlateImageTop'),
                pasteZone: $('#uploadPlateImageTop'),
                dataType: 'json',
                autoUpload: true,
                url: "/api/UploadFile/UploadPlate",
                add: function (e, data) {
                    var uploadErrors = [];
                    var acceptFileTypes = /(gif|jpe?g|png|bmp)$/i;
                    if (!acceptFileTypes.test(data.originalFiles[0]['name'])) {
                        uploadErrors.push('不允许的文件类型');
                    }
                    if (uploadErrors.length > 0) {
                        $.alert(uploadErrors.join(", "));
                    } else {
                        data.submit();
                    }
                },
                send: function (e, data) {
                    $.showLoading();
                },
                done: function (e, data) {
                    $.hideLoading();
                    if (data.result.success == true) {
                        $('.plateimg').attr('src', data.result.FileUrl);
                        $('.platecon').show();
                        PlateNumSplite(data.result.PRResult);
                    } else {
                        $.alert(data.result.errorMessage);
                    }
                }
            });
        });
    </script>
    <script type="text/javascript">
        var user = sessionStorage.getItem('user');
        var _ismaster = sessionStorage.getItem('ismaster');
        if (_ismaster == 'true') {
            $('.title').text('店长工作终端');
        } else {
            $('.title').text('店员工作终端');
        }
        var mch = $.getUrlParam('mch');
		_payBillViewModel = new Vue({
			el: '#quickorder',
			data: {
				KeyBoard: false,
				ProvinceKeyBoard: true,
				GreenPlate: false,
				User: {},
			},
			computed: {
				plateClass: function () {
					return {
						green: this.GreenPlate,
						blue: !this.GreenPlate,
					}
				},
				keyboardClass: function () {
					return {
						show: this.KeyBoard,
						hide: !this.KeyBoard,
					}
				},
				provinceClass: function () {
					return {
						show: this.KeyBoard && this.ProvinceKeyBoard,
						hide: this.KeyBoard && !this.ProvinceKeyBoard,
					}
				},
				alphanumClass: function() {
					return {
						show: this.KeyBoard && !this.ProvinceKeyBoard,
						hide: this.KeyBoard && this.ProvinceKeyBoard,
					}
				},
				plateImgClass: function () {
					return {
						show: !this.KeyBoard,
						hide: this.KeyBoard,
					}
				},
				plateBoardClass: function () {
					return {
						show: !this.KeyBoard,
						hide: this.KeyBoard,
					}
				},
			},
            methods: {
                back: function (event) {
                    history.back(-1);
                },
                home: function (event) {
                    if (_ismaster == 'true') {
                        window.location.href = "/Mobile/Merchant/MasterHome?mch=" + mch;
                    } else {
                        window.location.href = "/Mobile/Merchant/StaffHome?mch=" + mch;
                    }
				},
				inputprovince: function (event) {
					$('#province').addClass('gray').siblings().removeClass('gray');
					_payBillViewModel.KeyBoard = true;
					_payBillViewModel.ProvinceKeyBoard = true;
				},
				selectprovince: function (data, event) {
					$('.gray').val(data);
					$('.gray').next().addClass('gray').siblings().removeClass('gray');
					_payBillViewModel.KeyBoard = true;
					_payBillViewModel.ProvinceKeyBoard = false;
				},
				inputalphanum: function (data, event) {
					$('#alphanum' + data).addClass('gray').siblings().removeClass('gray');
					_payBillViewModel.KeyBoard = true;
					_payBillViewModel.ProvinceKeyBoard = false;
				},
				selectalphanum: function(data, event) {
					$('.gray').val(data);
					$('.gray').next().addClass('gray').siblings().removeClass('gray');
				},
				changeplate: function (event) {
					this.GreenPlate = !this.GreenPlate;
					if (this.GreenPlate) {
						$('#alphanum7').show();
						$('.plate_select').css('width', '9%');
					} else {
						$('#alphanum7').hide();
						$('.plate_select').css('width', '11%');
					}
				},
				recognizeplate: function () {
					$('#province').removeClass('gray').siblings().removeClass('gray');
					_payBillViewModel.KeyBoard = false;
				},
                openorder: function (event) {
                    var platenum = '';
					var numinput = $('.platenum').find('input:Visible');
                    for (var i = 0; i < numinput.length; i++) {
                        platenum += $(numinput[i]).val();
					}
					if (platenum.length != numinput.length) {
						$.alert('车牌号不能为' + platenum.length + '位');
						return;
					}
                    sessionStorage.setItem('platenum', platenum);
                    window.location.href = "/Mobile/Merchant/OpenOrder?mch=" + mch;
                },
                chooseImage: function (event) {
                    wx.chooseImage({
                        count: 1, // 默认9
                        sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                        sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                        success: function (res) {
                            var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                            if (localIds.length > 0) {
                                $('.plateimg').attr('src', localIds[0]);
                                $('.platecon').show();
                            }
                        }
                    });
                },
            }
        });

         var ismaster = _ismaster == 'true';
            function getUserByOpenId() {
                $.ajax({
                    url: '/api/User/GetUserByOpenID',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    data: {
                        OpenID: '@ViewBag.OpenId',
                        IsManager: ismaster,
                    },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                sessionStorage.setItem('user', JSON.stringify(res.Data));
                            }
                            else {
                                _viewModel.home();
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                            _viewModel.home();
                        }
                    },
                    error: function () {
                        _viewModel.home();
                    }
                });
            }
            if (user == null || user=='') {
                //getUserByOpenId();
            }
    </script>
    <script type="text/javascript">
        $(function () {

            $('.fileinput').on('change input', function (e) {
                handleinputchange(this);
            });

            $('.kjkd_select').on('change input', function (e) {
                if ($(this).val().trim() == '') {
                    $(this).val('');
                    return;
                }
                var myReg = /^[\u4e00-\u9fa5]+$/;
                if ($(this).attr('id') == 'province') {
                    if (myReg.test($(this).val())) {
                        $(this).next('.kjkd_select').focus();
                    }
                } else {
                    if (myReg.test($(this).val())) {
                        $.alert('必须为字母或数字');
                        $(this).val('');
                        return;
                    }
                    $(this).next('.kjkd_select').focus();
                }
            });

            // 全局对象，不同function使用传递数据
            const imgFile = {};

            function handleinputchange(event) {
                //$.alert('enter 1 event:' + event);
                // 获取当前选中的文件
                const file = event.files[0];//event.target.files[0];
                //$.alert(event.files.length);
                const imgMasSize = 1024 * 1024 * 10; // 10MB

                // 检查文件类型
                if (['jpeg', 'png', 'gif', 'jpg'].indexOf(file.type.split("/")[1]) < 0) {
                    // 自定义报错方式
                    // Toast.error("文件类型仅支持 jpeg/png/gif！", 2000, undefined, false);
                    $.alert("文件类型仅支持 jpeg/png/gif！");
                    return;
                }

                // 文件大小限制
                if (file.size > imgMasSize) {
                    // 文件大小自定义限制
                    // Toast.error("文件大小不能超过10MB！", 2000, undefined, false);
                    $.alert("文件大小不能超过10MB！");
                    return;
                }

                // 判断是否是ios
                if (!!window.navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)) {
                    // iOS
                    transformFileToFormData(file);
                    return;
                }

                // 图片压缩之旅
                transformFileToDataUrl(file);
            }
            // 将File append进 FormData
            function transformFileToFormData(file) {
                //$.alert('enter transformFileToFormData');
                const formData = new FormData();
                // 自定义formData中的内容
                // type
                formData.append('type', file.type);
                // size
                formData.append('size', file.size || "image/jpeg");
                // name
                formData.append('name', file.name);
                // lastModifiedDate
                formData.append('lastModifiedDate', file.lastModifiedDate);
                // append 文件
                formData.append('file', file);
                // 上传图片
                uploadImg(formData);
            }
            // 将file转成dataUrl
            function transformFileToDataUrl(file) {
                //$.alert("enter transformFileToDataUrl");
                const imgCompassMaxSize = 200 * 1024; // 超过 200k 就压缩

                // 存储文件相关信息
                imgFile.type = file.type || 'image/jpeg'; // 部分安卓出现获取不到type的情况
                imgFile.size = file.size;
                imgFile.name = file.name;
                imgFile.lastModifiedDate = file.lastModifiedDate;

                // 封装好的函数
                const reader = new FileReader();

                // file转dataUrl是个异步函数，要将代码写在回调里
                reader.onload = function (e) {
                    const result = e.target.result;

                    if (result.length < imgCompassMaxSize) {
                        compress(result, processData, false);    // 图片不压缩
                    } else {
                        compress(result, processData);            // 图片压缩
                    }
                };

                reader.readAsDataURL(file);
            }
            // 使用canvas绘制图片并压缩
            function compress(dataURL, callback, shouldCompress = true) {
                //$("enter compress");
                const img = new window.Image();

                img.src = dataURL;

                img.onload = function () {
                    const canvas = document.createElement('canvas');
                    const ctx = canvas.getContext('2d');

                    canvas.width = img.width;
                    canvas.height = img.height;

                    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

                    let compressedDataUrl;

                    if (shouldCompress) {
                        compressedDataUrl = canvas.toDataURL(imgFile.type, 0.2);
                    } else {
                        compressedDataUrl = canvas.toDataURL(imgFile.type, 1);
                    }

                    callback(compressedDataUrl);
                }
            }

            function processData(dataUrl) {
                //$.alert('enter processData');
                try {
                    // 这里使用二进制方式处理dataUrl
                    const binaryString = window.atob(dataUrl.split(',')[1]);
                    const arrayBuffer = new ArrayBuffer(binaryString.length);
                    const intArray = new Uint8Array(arrayBuffer);
                    //const imgFile = this.imgFile;

                    for (let i = 0, j = binaryString.length; i < j; i++) {
                        intArray[i] = binaryString.charCodeAt(i);
                    }

                    const data = [intArray];

                    let blob;

                    try {
                        blob = new Blob(data, { type: imgFile.type });
                    } catch (error) {
                        window.BlobBuilder = window.BlobBuilder ||
                            window.WebKitBlobBuilder ||
                            window.MozBlobBuilder ||
                            window.MSBlobBuilder;
                        if (error.name === 'TypeError' && window.BlobBuilder) {
                            const builder = new BlobBuilder();
                            builder.append(arrayBuffer);
                            blob = builder.getBlob(imgFile.type);
                        } else {
                            // Toast.error("版本过低，不支持上传图片", 2000, undefined, false);
                            // throw new Error('版本过低，不支持上传图片');
                            $.alert('版本过低，不支持上传图片');
                        }
                    }

                    // blob 转file
                    const fileOfBlob = new File([blob], imgFile.name);
                    const formData = new FormData();

                    // type
                    formData.append('type', imgFile.type);
                    // size
                    formData.append('size', fileOfBlob.size);
                    // name
                    formData.append('name', imgFile.name);
                    // lastModifiedDate
                    formData.append('lastModifiedDate', imgFile.lastModifiedDate);
                    // append 文件
                    formData.append('file', fileOfBlob);

                    uploadImg(formData);
                } catch (e) {
                    $.alert(e.message);
                }
            }

            // 上传图片
            function uploadImg(formData) {
                //$.alert('enter uploadImg');
                const xhr = new XMLHttpRequest();
                xhr.responseType = "";//json
                // 进度监听
                xhr.upload.addEventListener('progress', (e) => {
                    //console.log(e.loaded / e.total)
                    $.showLoading();
                }, false);
                // 加载监听
                // xhr.addEventListener('load', ()=>{console.log("加载中");}, false);
                // 错误监听
                xhr.addEventListener('error', () => {
                    $.hideLoading();
                    $.alert("上传失败");
                }, false);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        $.hideLoading();
                        if (xhr.status === 200) {
                            var result = JSON.parse(xhr.responseText);
                            if (result.success == true) {
                                $('.plateimg').attr('src', result.FileUrl);
                                $('.platecon').show();
                                PlateNumSplite(result.PRResult);
                            } else {
                                $.alert(result.errorMessage);
                            }
                        } else {
                            $.alert("上传失败");
                        }
                    }
                };
                xhr.open('POST', '/api/UploadFile/UploadPlate', true);
                xhr.send(formData);
            }

            function PlateNumSplite(numstr) {
                if (numstr == null || numstr == '')
                    return;
                var pinputs = $('.platenum').find('input');
                for (var i = 0; i < numstr.length; i++) {
                    if (i == 1 && numstr[i] == "0") {
                        $(pinputs[i]).val("D");
                    } else {
                        $(pinputs[i]).val(numstr[i]);
                    }
                    if (i == 7) {
                        $(pinputs[i]).show();
                        break;
                    }
                }
            }

        });                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ////////});
    </script>
}
