
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="staffhome">
    <div class="toubu">店员工作终端</div>
    <div class="touxiang">
        <div style="width:100%; float:left; border-bottom:1px solid #eee;">
            <img style="border-radius:80px;" src="@ViewBag.HeadImgUrl" class="touxiang_img">
            <div class="touxiang_div">
                <span>@ViewBag.NickName</span>
                <span style=" font-size:14px; color:#999;">绑定手机：15960248018<a href="#" style="font-size:13px; color:#51b3f0; float:right; margin-right:4%;">[我的信息]</a></span>
            </div>
        </div>
        <ul>
            <li class="tongzhi">最新动态：XXX会员已到店，请立即迎接</li>
        </ul>
    </div>
    <div class="touxiang">
        <a class="bq_box" v-on:click="quickorder">
            <div><img src="~/Areas/resource/img/mobile/staff/yhqhz.png" style="width:25px;"></div>
            <span>快捷开单</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px; margin-top:0px;">非会员卡用户</span>
        </a>
        <a class="bq_box" style="width:33.4%" v-on:click="order">
            <div><img src="~/Areas/resource/img/mobile/staff/hykhx.png" style="width:25px;"></div>
            <span>今日订单</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">今天已核10笔</span>
        </a>
        <a href="#" class="bq_box" style=" border-right:none;">
            <div><img src="~/Areas/resource/img/mobile/staff/hykk.png" style="width:23px; margin-top:2px;"></div>
            <span>扫码优惠</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">本月已核20笔</span>
        </a>
        <a href="#" class="bq_box" style=" border-bottom:none;">
            <div><img src="~/Areas/resource/img/mobile/staff/kjkd.png" style="width:25px;"></div>
            <span>会员开卡</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">本月已销50张</span>
        </a>
        <a href="#" class="bq_box" style="width:33.4%;border-bottom:none;">
            <div><img src="~/Areas/resource/img/mobile/staff/wdyj.png" style="width:23px; margin-top:2px;"></div>
            <span>我的业绩</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">￥10000</span>
        </a>
        <a href="#" class="bq_box" style=" border-right:none;border-bottom:none;">
            <div><img src="~/Areas/resource/img/mobile/staff/hydt.png" style="width:25px;"></div>
            <span>会员动态</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">100位</span>
        </a>
    </div>
    <div class="touxiang">
        <div class="pm_box">
            <div class="pm_text">业绩排名</div>
            <div class="pm_box1">
                <div class="pm_box2" style=" font-size:15px;">姓名</div>
                <div class="pm_box2" style="width:33.4%; text-align:center;font-size:15px;">新会员卡</div>
                <div class="pm_box2" style=" text-align:right;font-size:15px;">本月业绩</div>
            </div>
            <div class="pm_box1">
                <div class="pm_box2" style=" color:#666;">1<span style="margin-left:5px;">张三</span></div>
                <div class="pm_box2" style="width:33.4%; text-align:center;color:#666;">50张</div>
                <div class="pm_box2" style=" text-align:right;color:#ff0c4c;">￥10000</div>
            </div>
            <div class="pm_box1">
                <div class="pm_box2" style=" color:#666;">2<span style="margin-left:5px;">李四</span></div>
                <div class="pm_box2" style="width:33.4%; text-align:center;color:#666;">50张</div>
                <div class="pm_box2" style=" text-align:right;color:#ff0c4c;">￥10000</div>
            </div>
            <div class="pm_box1" style="border-bottom:none;">
                <div class="pm_box2" style=" color:#666;">3<span style="margin-left:5px;">王武</span></div>
                <div class="pm_box2" style="width:33.4%; text-align:center;color:#666;">50张</div>
                <div class="pm_box2" style=" text-align:right;color:#ff0c4c;">￥10000</div>
            </div>
        </div>
    </div>
    <footer>
        <img src="~/Areas/resource/img/mobile/staff/daodile.png" class="footer">
    </footer>
</div>

@section scripts{
    <link type="text/css" href="~/Areas/resource/css/mobile/staff.css" />
    <link href="~/Areas/resource/css/mobile/staff.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=VVCar&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        sessionStorage.setItem('ismaster', 'false');
        var mch = $.getUrlParam('mch');
        _payBillViewModel = new Vue({
            el: '#staffhome',
            data: {
                UserInfo: {},
            },
            methods: {
                register: function (event) {
                    window.location.href = "/Mobile/Merchant/Home?mch=" + mch;
                },
                quickorder: function (event) {
                    window.location.href = "/Mobile/Merchant/QuickOrder?mch=" + mch;
                },
                order: function (event) {
                    window.location.href = "/Mobile/Merchant/Order?mch=" + mch;
                },
            }
        });
    </script>
}