
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="msloginreg">
    <div class="zcdl_box">
        <div class="zcdl_box2">
            <img src="@ViewBag.HeadImgUrl" class="zcdl_img2" style="width:80px;height:80px;border-radius:80px;"><br>
            <span style=" font-size:15px; color:#2d2d30;">@ViewBag.NickName</span>
        </div>
        <div class="zcdl_box3">
            <img src="~/Areas/resource/img/mobile/master/gr.png" style="width:16px; float:left; margin-top:19px;">
            <input v-model="UserInfo.UserName" type="text" placeholder="请输入用户名" style="color:#343232" class="zcdl_box4">@*oninput="if(value.length>11)value=value.slice(0,11)"*@
            @*<a class="zcdl_text" v-on:click="sendSMS">发送验证码</a>*@
        </div>
        <div class="zcdl_box3" style="margin-top:inherit;">
            <img src="~/Areas/resource/img/mobile/master/yzm2.png" style="width:16px; float:left; margin-top:18px;">
            <input v-model="UserInfo.Password" type="password" placeholder="请输入密码" style="color:#343232" class="zcdl_box4">@*oninput="if(value.length>6)value=value.slice(0,6)"*@
        </div>
        <a class="zcdl_btn" style="background-color:#51b3f0;" v-on:click="login">员工登录</a>
    </div>
</div>

@section scripts{
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        var mch = $.getUrlParam('mch');

        function sendSMSAction(mobilephoneno) {
            if ($(".zcdl_text").hasClass('waitsendvc'))
                return;
            if (mobilephoneno == null || mobilephoneno == '') {
                $.alert('请先输入手机号码');
                return;
            }
            if (mobilephoneno.toString().length != 11) {
                $.alert('请输入11位手机号码');
                return;
            }
            $.ajax({
                url: '/AliyunSMS/Sms/SendSms/' + mobilephoneno + '/SMS_119520024',
                type: 'GET',
                beforeSend: function () {
                    $.showLoading();
                },
                success: function (res) {
                    $.hideLoading();
                    if (res.IsSuccessful) {
                        $.alert('验证码发送成功,请查收');
                        $(".zcdl_text").addClass('waitsendvc');
                        var j = 120;
                        var int = window.setInterval(function () {
                            if (j <= 0) {
                                $(".zcdl_text").removeClass('waitsendvc');
                                $(".zcdl_text").html("发送验证码");
                                stopInterval(int);
                            } else {
                                j--;
                                $(".zcdl_text").html(j + " S");
                            }
                        }, 1000);

                    }
                    else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                    $.hideLoading();
                }
            });
        }

        function checkVerificationCode(mobilephoneno, verificationCode, callback) {
            if (mobilephoneno == null || mobilephoneno == '') {
                $.alert('请先输入手机号码');
                return;
            }
            if (mobilephoneno.toString().length != 11) {
                $.alert('请输入11位手机号码');
                return;
            }
            if (verificationCode == null || verificationCode == '') {
                $.alert('请先输入验证码');
                return;
            }
            $.ajax({
                url: '/AliyunSMS/Sms/CheckVerificationCode/' + mobilephoneno + '/' + verificationCode,
                type: 'GET',
                beforeSend: function () {
                    $.showLoading();
                },
                success: function (res) {
                    $.hideLoading();
                    if (res.IsSuccessful) {
                        if (res.Data) {
                            if (callback != null) {
                                callback();
                            }
                        } else {
                            $.alert('验证码不正确');
                        }
                    }
                    else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                    $.hideLoading();
                }
            });
        }

        function weChatLogin() {
            if (_viewModel.UserInfo.UserName == null || _viewModel.UserInfo.UserName == '') {
                $.alert('请输入账号');
                return;
            }
            if (_viewModel.UserInfo.Password == null || _viewModel.UserInfo.Password == '') {
                $.alert('请输入密码');
                return;
            }
                $.ajax({
                    url: '/api/User/WeChatLogin',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    data: {
                        UserName: _viewModel.UserInfo.UserName,
                        Password: _viewModel.UserInfo.Password,
                        OpenID: '@ViewBag.OpenId',
                        MerchantCode: mch,
                        IsManager: false,
                    },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                window.location.href = "/Mobile/Merchant/StaffHome?mch=" + mch;
                            } else {
                                $.alert("用户不存在");
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

        _viewModel = new Vue({
            el: '#msloginreg',
            data: {
                UserInfo: {
                    MobilePhoneNo: '',
                    VerificationCode: '',
                    UserName: '',
                    Password:'',
                },
            },
            methods: {
                staffhome: function (event) {
                    checkVerificationCode(this.UserInfo.MobilePhoneNo, this.UserInfo.VerificationCode, function () {
                        window.location.href = "/Mobile/Merchant/StaffHome?mch=" + mch;
                    });
                },
                sendSMS: function (event) {
                    sendSMSAction(this.UserInfo.MobilePhoneNo);
                },
                login: function (event) {
                    weChatLogin();
                },
            }
        });

          function getUserByOpenId() {
                $.ajax({
                    url: '/api/User/GetUserByOpenID',
                    type: 'GET',
                    headers: {'CompanyCode': mch },
                    data: {
                        OpenID: '@ViewBag.OpenId',
                        IsManager: false,
                    },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                window.location.href = "/Mobile/Merchant/StaffHome?mch=" + mch;
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {

                    }
                });
            }
        getUserByOpenId();

    </script>
}

