
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="stockmanager">
    <div class="toubu">
        <a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px; float:left; margin-left:3%; margin-top:18px;"></a>
        店长工作终端
        <a v-on:click="home"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px; float:right; margin-right:3%; margin-top:18px;"></a>
    </div>
    <div class="touxiang">
        <div style="width:100%; float:left; ">
            <img src="@ViewBag.HeadImgUrl" class="touxiang_img">
            <div class="touxiang_div">
                <span>{{User.Name}}</span>
                <span style=" font-size:14px; color:#999;">库存商品：0<a style="font-size:13px; color:#51b3f0; float:right; margin-right:4%;">[新增库存商品]</a></span>
            </div>
        </div>
    </div>
    <div class="kcd_box2">
        <form action="#" method="get">
            <select name="" class="kcd_input" style="width:25%;">
                <option value="0">清洁类</option>
            </select>
            <input type="text" name="address" class="kcgl_input" maxlength="60" style="color:#999" placeholder="请输入库存商品名称">
        </form>
        <div class="kcgl_btn"><img src="~/Areas/resource/img/mobile/master/ss2.png" style="width:20px; padding-top:10px;"></div>
    </div>
    <div class="touxiang">
        <div class="kcgl_box">
            <div class="kcgl">库存商品编号</div>
            <div class="kcgl2">
                <span>A00001</span>

            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存分类</div>
            <div class="kcgl2">
                <span>清洁类</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存商品名称</div>
            <div class="kcgl2">
                <span>洗车布</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存单位</div>
            <div class="kcgl2">
                <span>块</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存余量</div>
            <div class="kcgl2">
                <span style="color:#ff0c4c;">￥0</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">记录查询</div>
            <div class="kcgl2">
                <span>
                    <a style="background-color:#51b3f0;float:left; margin-left:10%; font-size:12px; width:70px;">入库记录</a>
                    <a style="float:left; font-size:12px; width:70px;background-color:#51b3f0;">出库记录</a>
                </span>
            </div>
        </div>

        <div class="kcgl_box" style="border:none;">
            <div class="kcgl">操作</div>
            <div class="kcgl2">
                <span>
                    <a style="background-color:#ff0c4c;float:left; margin-left:10%; width:16%;">入库</a>
                    <a style="float:left; width:16%;">删除</a>
                    <a style="background-color:#51b3f0;float:left; width:16%;">出库</a>
                    <a style="background-color:#51b3f0;float:left; width:16%;">编辑</a>
                </span>
            </div>
        </div>
    </div>
    <div class="touxiang">
        <div class="kcgl_box">
            <div class="kcgl">库存商品编号</div>
            <div class="kcgl2">
                <span>A00001</span>

            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存分类</div>
            <div class="kcgl2">
                <span>清洁类</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存商品名称</div>
            <div class="kcgl2">
                <span>洗车布</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存单位</div>
            <div class="kcgl2">
                <span>块</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存余量</div>
            <div class="kcgl2">
                <span style="color:#ff0c4c;">￥1000</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">记录查询</div>
            <div class="kcgl2">
                <span>
                    <a style="background-color:#51b3f0;float:left; margin-left:10%; font-size:12px; width:70px;">入库记录</a>
                    <a style="float:left; font-size:12px; width:70px;background-color:#51b3f0;">出库记录</a>
                </span>
            </div>
        </div>

        <div class="kcgl_box" style="border:none;">
            <div class="kcgl">操作</div>
            <div class="kcgl2">
                <span>
                    <a style="background-color:#ff0c4c;float:left; margin-left:10%; width:16%;">入库</a>
                    <a style="float:left; width:16%;">删除</a>
                    <a style="background-color:#51b3f0;float:left; width:16%;">出库</a>
                    <a style="background-color:#51b3f0;float:left; width:16%;">编辑</a>
                </span>
            </div>
        </div>
    </div>
    <div class="touxiang">
        <div class="kcgl_box">
            <div class="kcgl">库存商品编号</div>
            <div class="kcgl2">
                <span>A00001</span>

            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存分类</div>
            <div class="kcgl2">
                <span>清洁类</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存商品名称</div>
            <div class="kcgl2">
                <span>洗车布</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存单位</div>
            <div class="kcgl2">
                <span>块</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存余量</div>
            <div class="kcgl2">
                <span style="color:#ff0c4c;">￥1000</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">记录查询</div>
            <div class="kcgl2">
                <span>
                    <a style="background-color:#51b3f0;float:left; margin-left:10%; font-size:12px; width:70px;">入库记录</a>
                    <a style="float:left; font-size:12px; width:70px;background-color:#51b3f0;">出库记录</a>
                </span>
            </div>
        </div>

        <div class="kcgl_box" style="border:none;">
            <div class="kcgl">操作</div>
            <div class="kcgl2">
                <span>
                    <a href="#" style="background-color:#ff0c4c;float:left; margin-left:10%; width:16%;">入库</a>
                    <a href="#" style="float:left; width:16%;">删除</a>
                    <a href="#" style="background-color:#51b3f0;float:left; width:16%;">出库</a>
                    <a href="#" style="background-color:#51b3f0;float:left; width:16%;">编辑</a>
                </span>
            </div>
        </div>
    </div>
    <div class="touxiang">
        <div class="kcgl_box">
            <div class="kcgl">库存商品编号</div>
            <div class="kcgl2">
                <span>A00001</span>

            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存分类</div>
            <div class="kcgl2">
                <span>清洁类</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存商品名称</div>
            <div class="kcgl2">
                <span>洗车布</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存单位</div>
            <div class="kcgl2">
                <span>块</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存余量</div>
            <div class="kcgl2">
                <span style="color:#ff0c4c;">￥1000</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">记录查询</div>
            <div class="kcgl2">
                <span>
                    <a href="#" style="background-color:#51b3f0;float:left; margin-left:10%; font-size:12px; width:70px;">入库记录</a>
                    <a href="#" style="float:left; font-size:12px; width:70px;background-color:#51b3f0;">出库记录</a>
                </span>
            </div>
        </div>

        <div class="kcgl_box" style="border:none;">
            <div class="kcgl">操作</div>
            <div class="kcgl2">
                <span>
                    <a href="#" style="background-color:#ff0c4c;float:left; margin-left:10%; width:16%;">入库</a>
                    <a href="#" style="float:left; width:16%;">删除</a>
                    <a href="#" style="background-color:#51b3f0;float:left; width:16%;">出库</a>
                    <a href="#" style="background-color:#51b3f0;float:left; width:16%;">编辑</a>
                </span>
            </div>
        </div>
    </div>
    <div class="kcgl_box2"></div>
</div>

@section scripts{
    <link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
    <link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="~/Areas/resource/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {
        var mch = $.getUrlParam('mch');
        var user = sessionStorage.getItem('user');
        _viewModel = new Vue({
            el: '#stockmanager',
            data: {
                User: {},
            },
            methods: {
                back: function (event) {
                    history.back(-1);
                },
                home: function (event) {
                        window.location.href = "/Mobile/Merchant/MasterHome?mch=" + mch;
                },
            }
        });

            function getUserByOpenId() {
                $.ajax({
                    url: '/api/User/GetUserByOpenID',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    data: {
                        OpenID: '@ViewBag.OpenId',
                    },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                _viewModel.User = res.Data;
                                sessionStorage.setItem('user', JSON.stringify(res.Data));
                            }
                            else {
                                _viewModel.home();
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                            _viewModel.home();
                        }
                    },
                    error: function () {
                        _viewModel.home();
                    }
                });
            }
            if (user == null || user == '') {
                getUserByOpenId();
            } else {
                _viewModel.User = JSON.parse(user);
            }
        });
    </script>
}