
@{
	ViewBag.Title = "";
	Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="unsaleproduct">
	<div class="toubu">
		<a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px; float:left; margin-left:3%; margin-top:18px;"></a>
		畅销滞销报表
		<a v-on:click="home"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px; float:right; margin-right:3%; margin-top:18px;"></a>
	</div>

	<div>
		<div class="kcd_box2">
			@*<input class="kcgl_input" type="text" placeholder="报表编号" style="font-size:13px;" id="code">*@
			<input type="month" class="kcgl_input" style="color:#999;width:45%;padding:0px;" id="code">
			<div class="kcgl_btn"><img src="~/Areas/resource/img/mobile/master/ss2.png" style="width:20px; padding-top:10px;" v-on:click="search"></div>
		</div>
	</div>

	<div class="touxiang" style="margin-bottom:25px;">
		<div class="pm_box">
			<div class="pm_box2" style="width:20%; text-align:center;">产品名称</div>
			<div class="pm_box2" style="width:20%; text-align:center;">滞销上限</div>
			<div class="pm_box2" style="width:20%; text-align:center;">畅销下限</div>
			<div class="pm_box2" style="width:20%; text-align:center;">实际销量</div>
			<div class="pm_box2" style="width:20%; text-align:center;">状态</div>
		</div>
		<div class="pm_box1" v-for="Report in ReportList">
			<div class="pm_box2" style="width:20%; text-align:center; color:#666;">{{Report.ProductName}}</div>
			<div class="pm_box2" style="width:20%; text-align:center; color:#666;">{{Report.UnsaleQuantity}}</div>
			<div class="pm_box2" style="width:20%; text-align:center; color:#666;">{{Report.SaleWellQuantity}}</div>
			<div class="pm_box2" style="width:20%; text-align:center; color:#666;">{{Report.Quantity}}</div>
			<div class="pm_box2" style="width:20%; text-align:center; color:#666;">{{Report.StatusText}}</div>
		</div>
	</div>
</div>

@section scripts{
	<link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
	<link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
	<script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
	<script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script src="~/Areas/resource/js/jquery.qrcode.min.js"></script>
	<script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
	</script>
	<script type="text/javascript">
        $(function () {
			var mch = $.getUrlParam('mch');
			var user = sessionStorage.getItem('user');
			_viewModel = new Vue({
				el: '#unsaleproduct',
				data: {
					User: {},
					ReportList: [],
				},
				methods: {
					back: function (event) {
						history.back(-1);
					},
					home: function (event) {
							window.location.href = "/Mobile/Merchant/MasterHome?mch=" + mch;
					},
					search: function (data, event) {
						getReports();
					},
					detail: function (data, event) {
						sessionStorage.setItem('member', JSON.stringify(data));
						sessionStorage.setItem('reportlist', JSON.stringify(_viewModel.ReportList));
						window.location.href = "/Mobile/Merchant/MemberDetails?mch=" + mch;
					}
				}
			});

			function getUserByOpenId() {
				$.ajax({
					url: '/api/User/GetUserByOpenID',
					type: 'GET',
					headers: { 'CompanyCode': mch },
					data: {
						OpenID: '@ViewBag.OpenId',
						IsManager: true,
					},
					success: function (res) {
						if (res.IsSuccessful) {
							if (res.Data != null) {
								_viewModel.User = res.Data;
								sessionStorage.setItem('user', JSON.stringify(res.Data));
							}
							else {
								_viewModel.home();
							}
						}
						else {
							$.alert(res.ErrorMessage);
							_viewModel.home();
						}
					},
					error: function () {
						_viewModel.home();
					}
				});
			}
			if (user == null || user == '') {
				getUserByOpenId();
			} else {
				_viewModel.User = JSON.parse(user);
			}
			var time = new Date();
			var month = ("0" + (time.getMonth() + 1)).slice(-2);
			var date = time.getFullYear() + '-' + month;
			$('#code').val(date);

			function getReports() {
				var code = $('#code').val().replace('-', '');
				$.ajax({
					url: '/api/Reporting/UnsaleProductHistory?All=false',
					type: 'GET',
					data: { Code: code },
					headers: { 'CompanyCode': mch },
					beforeSend: function () {
						$.showLoading();
					},
					success: function (res) {
						$.hideLoading();
						if (res.IsSuccessful) {
							_viewModel.ReportList = res.Data;
						} else {
							$.alert(res.ErrorMessage);
						}
					},
					error: function () {
						$.hideLoading();
					}
				});
			}
			getReports();
		});
	</script>
}