
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="bindingphone">
    <div class="top_box">
        <div class="top_box_text">手机绑定</div>
        <a><img src="~/Areas/resource/img/mobile/ture.png" class="top_box_img" id="backimg" style="position:absolute;top:17px;"></a>
        <a class="top_box2"></a>
        <a><img src="~/Areas/resource/img/mobile/home.png" style="width:5%;position:absolute;top:17px;right:10px;" id="homeimg"></a>
    </div>
    <div class="pass">
        <img src="~/Areas/resource/img/mobile/pass.png" style="float:left; width:15px; margin-top:8px;">
        <!--<input type="text" name="address" size="60" maxlength="60" style="color:#ddd" value="请输入新的核销密码" onfocus="if(this.value=='请输入新的核销密码'){this.value=''};this.style.color='#2d2d30';" onblur="if(this.value==''||this.value=='请输入新的核销密码'){this.value='请输入新的核销密码';this.style.color='#ddd';}" class="pass_box">-->
        <input type="number" size="11" maxlength="11" style="color:#ddd" placeholder="手机号码" class="pass_box" v-model="MobilePhoneNo" oninput="if(value.length>11)value=value.slice(0,11)">
    </div>
    <div class="pass2">
        <img src="~/Areas/resource/img/mobile/yzm.png" style="float:left; width:15px; margin-top:8px;">
        <input type="number" size="6" maxlength="6" style="color:#ddd" class="pass_box" placeholder="验证码" v-model="VerificationCode" oninput="if(value.length>6)value=value.slice(0,6)">
    </div>
    <div class="pass3" v-on:click="sendSMS">获取验证码</div>
    <div class="btn_box" v-on:click="submit">绑&nbsp;定</div>
</div>

@section scripts{
    <style type="text/css">
        .waitsendvc {
        }
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=VVCar&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {

            var mch = $.getUrlParam('mch');

            function sendSMSAction(mobilephoneno) {
                if ($(".pass3").hasClass('waitsendvc'))
                    return;
                if (mobilephoneno == null || mobilephoneno == '') {
                    $.alert('请先输入手机号码');
                    return;
                }
                if (mobilephoneno.toString().length != 11) {
                    $.alert('请输入11位手机号码');
                    return;
                }
                $.ajax({
                    url: '/AliyunSMS/Sms/SendSms?mobilePhoneNo=' + mobilephoneno + '&templateCode=SMS_119520024',//'/AliyunSMS/Sms/SendSms/' + mobilephoneno + '/SMS_119520024',
                    type: 'GET',
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            $.alert('验证码发送成功,请查收');
                            $(".pass3").addClass('waitsendvc');
                            var j = 120;
                            var int = window.setInterval(function () {
                                if (j <= 0) {
                                    $(".pass3").removeClass('waitsendvc');
                                    $(".pass3").html("发送验证码");
                                    stopInterval(int);
                                } else {
                                    j--;
                                    $(".pass3").html(j + " S");
                                }
                            }, 1000);

                        }
                        else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

            function checkVerificationCode(mobilephoneno, verificationCode, callback) {
                if (mobilephoneno == null || mobilephoneno == '') {
                    $.alert('请先输入手机号码');
                    return;
                }
                if (mobilephoneno.toString().length != 11) {
                    $.alert('请输入11位手机号码');
                    return;
                }
                if (verificationCode == null || verificationCode == '') {
                    $.alert('请先输入验证码');
                    return;
                }
                $.ajax({
                    url: '/AliyunSMS/Sms/CheckVerificationCode/' + mobilephoneno + '/' + verificationCode,
                    type: 'GET',
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data) {
                                if (callback != null) {
                                    callback(mobilephoneno.toString());
                                }
                            } else {
                                $.alert('验证码不正确');
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

            function bindingMobilePhone(mobilephoneno) {
                $.ajax({
                    url: '/api/Member/BindingMobilePhone?mobilephoneno=' + mobilephoneno +'&openId=@ViewBag.OpenId',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data)
                                $.toast('绑定成功', function () {
                                    history.back(-1);
                                });
                            else
                                $.alert('绑定失败,请重试');
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

        _viewModel = new Vue({
            el: '#bindingphone',
            data: {
                MyInfo: {},
                MobilePhoneNo: '',
                VerificationCode:'',
            },
            methods: {
                home: function (event) {
                    window.location.href = "/Mobile/Customer/Home?mch=" + mch;
                },
                sendSMS: function (event) {
                    sendSMSAction(this.MobilePhoneNo);
                },
                submit: function (event) {
                    checkVerificationCode(this.MobilePhoneNo, this.VerificationCode, function (mobilephoneno) {
                        bindingMobilePhone(mobilephoneno);
                    });
                },
            }
        });

            var member = sessionStorage.getItem('member');
             function init() {
                    $.ajax({
                        url: '/api/Member/GetMemberInfoByWeChat?openID=@ViewBag.OpenId',
                        type: 'GET',
                        headers: { 'CompanyCode': mch },
                        beforeSend: function () {
                            $.showLoading();
                        },
                        success: function (res) {
                            $.hideLoading();
                            if (res.IsSuccessful) {
                                if (res.Data != null) {
                                    sessionStorage.setItem('member', JSON.stringify(res.Data));
                                    _viewModel.MyInfo = res.Data;
                                } else {
                                    window.location.href = "/Mobile/Customer?mch=" + mch;
                                }
                            } else {
                                $.alert(res.ErrorMessage);
                                window.location.href = "/Mobile/Customer?mch=" + mch;
                            }
                        },
                        error: function () {
                            $.hideLoading();
                            window.location.href = "/Mobile/Customer?mch=" + mch;
                        }
                    });
                }
            if (member == null || member == '') {
                init();
            } else {
                _viewModel.MyInfo = JSON.parse(member);
            }

            $("#backimg").click(function () {
                history.back(-1);
            });

            $("#homeimg").click(function () {
                window.location.href = "/Mobile/Customer/Home?mch=" + mch;
            });

        });
    </script>
}


