
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="report">
    <div class="title">
        <span>爱车信息</span>
        <div class="oddrow">车牌号:<span style="float: right">{{Report.PlateNumber}}</span></div>
        <div class="evenrow">门店:<span style="float: right">{{Report.DepartmentName}}</span></div>
        <div class="oddrow">检查日期:<span style="float: right">{{Report.CreatedDate}}</span></div>
        <div class="evenrow">品牌:<span style="float: right">{{Report.Brand}}</span></div>
        <div class="oddrow">车型:<span style="float: right">{{Report.CarType}}</span></div>
        <div class="evenrow">车辆注册日期:<span style="float: right">{{Report.RegistDate}}</span></div>
        <div class="oddrow">当前公里数:<span style="float: right">{{Report.Mileage}}</span></div>
        <div class="evenrow">车检人员:<span style="float: right">{{Report.Inspector}}</span></div>
        <hr />
        <div v-for="CarInspectionDetail in Report.CarInspectionDetailsList">
            <div class="oddrow">
                {{CarInspectionDetail.PartText}}
                <span style="float: right;color:#6ebdf6;" v-if="CarInspectionDetail.Status==0">{{CarInspectionDetail.StatusText}}</span>
                <span style="float: right;color:red;" v-if="CarInspectionDetail.Status==1">{{CarInspectionDetail.StatusText}}</span>
            </div>
            <div class="oddrow" style="background:#fff;" v-if="CarInspectionDetail.Explain!=''">检测说明：{{CarInspectionDetail.Explain}}</div>
            <div class="slide-img" v-if="CarInspectionDetail.ImgList.length>0">
                <img v-for="Img in CarInspectionDetail.ImgList" v-bind:src=Img.ImgUrl />
            </div>
        </div>
    </div>
</div>

@section scripts{
    <style type="text/css">
        .slide-img {
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            width: 100%;
            height: 65px;
            vertical-align: middle;
            margin: 0 5px;
            background: #fff;
        }

            .slide-img img {
                width: 60px;
                height: 60px;
                margin: 1px 2px;
            }

        .title {
            background-color: #EFEEF3;
            padding: 13px 5px;
        }

            .title > span {
                font-weight: bold;
                padding-left: 10px;
            }

        .oddrow {
            background-color: #D3D4D0;
            margin-left: 5px;
            margin-right: 5px;
            padding-left: 5px;
            padding-right: 5px;
            border-bottom: 1px solid #fff;
        }

        .evenrow {
            background-color: #EFEEF3;
            margin-left: 5px;
            margin-right: 5px;
            padding-left: 5px;
            padding-right: 5px;
        }

        hr {
            margin: 5px 5px 15px 5px;
        }
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
    <link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="~/Areas/resource/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {
            var mch = $.getUrlParam('mch');
            var report = sessionStorage.getItem('report');
            _viewModel = new Vue({
                el: '#report',
                data: {
                    Report: {},
                },
                methods: {
                    back: function (event) {
                        history.back(-1);
                    }
                }
            });
            _viewModel.Report = JSON.parse(report);
        });
    </script>
}