
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="confirmorder" style="background-color:#f8f9fe;">
    <div class="top_box">
        <div class="top_box_text">确认订单</div>
        <a href="#"><img src="~/Areas/resource/img/mobile/ture.png" class="top_box_img"></a>
        <a class="top_box2"></a>
        <a href="#"><img src="~/Areas/resource/img/mobile/gwc2.png" style="width:5%;"></a>
    </div>
    <div class="qr_box">
        <div class="qr_text">收货人：张三丰（15960248018）<span style="color:#ff0c4b; float:right;">编辑</span></div>
        <div class="qr_text" style="margin-top:5px; font-size:14px; color:#999;">收货地址：福建省厦门市湖里区</div>
        <img src="~/Areas/resource/img/mobile/fgx.png" style=" width:100%;">
    </div>
    <div class="gwc_box">
        <img src="~/Areas/resource/img/mobile/9.jpg" class="gwc_img">
        <div class="gwc_box2">
            <span class="gwc_text">商品标题商品标题商品标题商品标题商品标题商品标题</span>
            <div style=" width:100%;font-size:18px; color:#ff0c4b; padding-top:6px; float:left;margin-bottom:10px;">￥500<span style="float:right; color:#999; font-size:13px; padding-top:5px;">参数选择：参数一</span></div>
        </div>
    </div>
    <div class="gwc_box">
        <img src="~/Areas/resource/img/mobile/9.jpg" class="gwc_img">
        <div class="gwc_box2">
            <span class="gwc_text">商品标题商品标题商品标题商品标题商品标题商品标题</span>
            <div style=" width:100%;font-size:18px; color:#ff0c4b; padding-top:6px; float:left; margin-bottom:10px;">￥500<span style="float:right; color:#999; font-size:13px; padding-top:5px;">参数选择：参数一</span></div>
        </div>
    </div>
    <div class="gwc_box">
        <img src="~/Areas/resource/img/mobile/9.jpg" class="gwc_img">
        <div class="gwc_box2">
            <span class="gwc_text">商品标题商品标题商品标题商品标题商品标题商品标题</span>
            <div style=" width:100%;font-size:18px; color:#ff0c4b; padding-top:6px; float:left;margin-bottom:10px;">￥500<span style="float:right; color:#999; font-size:13px; padding-top:5px;">参数选择：参数一</span></div>
        </div>
    </div>
    <div class="gwc_box3">
        <div class="gwc_text2">配送方式<span style="float:right;">快递10元</span></div>
        <div class="gwc_text2">买家留言<input type="text" name="address" size="60" maxlength="60" style="color:#ddd" value="请对此次交易提出备注说明" onfocus="if(this.value=='请对此次交易提出备注说明'){this.value=''};this.style.color='#2d2d30';" onblur="if(this.value==''||this.value=='请对此次交易提出备注说明'){this.value='请对此次交易提出备注说明';this.style.color='#ddd';}" class="pass_box"></div>
        <div class="gwc_text3" style="line-height:none;">
            积分抵扣<br>
            <span style="float:left; font-size:13px; color:#999; line-height:24px; margin-bottom:10px;">您目前共拥有1000个积分，其中50个积分可抵扣5元</span>
            <input type="checkbox" style="float:right; margin-top:4px; width:13px; height:13px;">
        </div>
        <div class="gwc_text3" style="line-height:none;">
            会员卡支付<br>
            <span style="float:left; font-size:13px; color:#999; line-height:24px; margin-bottom:10px;">会员卡支付支持从任意一张会员卡中扣除款项</span>
            <input type="checkbox" style="float:right; margin-top:4px; width:13px; height:13px;">
        </div>
        <div class="gwc_text2">微信支付<input type="checkbox" style="float:right;width:13px; height:13px; margin-top:15px;"></div>
        <div class="gwc_text2" style="border-bottom:none;">合计<span style="float:right; color:#ff0c4b; font-size:18px;">￥500</span></div>
        <div class="gwc_box4" v-on:click="pay">确认支付</div>
    </div>
</div>

@section scripts{
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=VVCar&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        var mch = $.getUrlParam('mch');
        _payBillViewModel = new Vue({
            el: '#confirmorder',
            data: {
                ProductList: [],
            },
            methods: {
                back: function (event) {
                    history.back(-1);
                },
                home: function (event) {
                    window.location.href = "/Mobile/Customer/Home?mch=" + mch;
                },
                pay: function (event) {
                    $.ajax({
                        url: '/Mobile/Customer/GenerateOutTradeNo',
                        type: 'GET',
                        success: function (res) {
                            //window.location.href = "http://www.cheyinz.cn:8025/Default.aspx";
                            window.location.href = "http://www.cheyinz.cn:8025/pay/JsApiPayPage.aspx?openid=@ViewBag.OpenId&total_fee=1&out_trade_no="+res+"&mch=" + mch + "&device_info=ZB001&body=汽车空气净化器&notify_url=http://www.cheyinz.cn/Mobile/Customer/PayResult";
                        },
                        error: function () {
                            $.alert('生成订单号失败');
                        }
                    });
                },
            }
        });
    </script>
}