
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="memberservices">
    <div class="top_box">
        <div class="top_box_text">个人中心</div>
        <a><img src="~/Areas/resource/img/mobile/ture.png" class="top_box_img" style="position:absolute;top:17px;" v-on:click="back"></a>
        <a class="top_box2"></a>
        <a v-on:click="home"><img src="~/Areas/resource/img/mobile/home.png" style="width:5%;position:absolute;top:17px;right:10px;"></a>
    </div>
    <div class="user_box" style="background-color:#fff; box-shadow:0 5px 5px #f1f3fe; position:relative;">
        <img src="@ViewBag.HeadImgUrl">
        <div>
            <span>@ViewBag.NickName</span>
            <span style=" font-size:14px; color:#999;">绑定手机：{{MemberInfo.MobilePhoneNo}}</span>
        </div>
    </div>
    <div class="hyfw_box"></div>
    <a class="hyfw_text">
        <img src="~/Areas/resource/img/mobile/24xs.png" style="width:20px; float:left; margin-top:15px;">&nbsp;&nbsp;一键救援
        <img src="~/Areas/resource/img/mobile/jr2.png" style="width:6px; float:right; margin-top:19px;"><span style="color:#ccc; margin-right:3%; float:right;">救援说明</span>
    </a>
    <div class="hyfw_xian"></div>
    <a class="hyfw_text">
        <img src="~/Areas/resource/img/mobile/cb.png" style="width:20px; float:left; margin-top:15px;">&nbsp;&nbsp;保险代缴
        <img src="~/Areas/resource/img/mobile/jr2.png" style="width:6px; float:right; margin-top:19px;"><span style="color:#ccc; margin-right:3%; float:right;">X月X日前到期</span>
    </a>
    <div class="hyfw_xian"></div>
    <a href="#" class="hyfw_text">
        <img src="~/Areas/resource/img/mobile/nj.png" style="width:20px; float:left; margin-top:15px;">&nbsp;&nbsp;年检服务
        <img src="~/Areas/resource/img/mobile/jr2.png" style="width:6px; float:right; margin-top:19px;"><span style="color:#ccc; margin-right:3%; float:right;">X月X日前到期</span>
    </a>
    <div class="hyfw_xian"></div>
    <a class="hyfw_text">
        <img src="~/Areas/resource/img/mobile/sm.png" style="width:20px; float:left; margin-top:17px;">&nbsp;&nbsp;上门服务
        <img src="~/Areas/resource/img/mobile/jr2.png" style="width:6px; float:right; margin-top:19px;">
    </a>
    <div class="hyfw_xian"></div>
</div>

@section scripts{
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=VVCar&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {
        var mch = $.getUrlParam('mch');
        _viewModel = new Vue({
            el: '#memberservices',
            data: {
                MemberInfo: {},
            },
            methods: {
                home: function (event) {
                    window.location.href = "/Mobile/Customer/Home?mch=" + mch;
                },
                back: function (event) {
                    history.back(-1);
                },
            }
        });

        var member = sessionStorage.getItem('member');
        function init() {
                   $.ajax({
                        url: '/api/Member/GetMemberInfoByWeChat?openID=@ViewBag.OpenId',
                        type: 'GET',
                        headers: { 'CompanyCode':mch },
                        beforeSend: function () {
                            $.showLoading();
                        },
                        success: function (res) {
                            $.hideLoading();
                            if (res.IsSuccessful) {
                                if (res.Data != null) {
                                    sessionStorage.setItem('member', JSON.stringify(res.Data));
                                    _viewModel.MemberInfo = res.Data;
                                } else {
                                    window.location.href = "/Mobile/Customer?mch=" + mch;
                               }
                            } else {
                                $.alert(res.ErrorMessage);
                                window.location.href = "/Mobile/Customer?mch=" + mch;
                            }
                        },
                        error: function () {
                            $.hideLoading();
                            window.location.href = "/Mobile/Customer?mch=" + mch;
                        }
                   });
        }

        if (member == null || member=='') {
              init();
        }
        else
        {
              _viewModel.MemberInfo = JSON.parse(member);
        }

        });
    </script>
}


