
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="membercardbuy">
    <div class="top_box">
        <div class="top_box_text">会员卡购买</div>
        <a><img src="~/Areas/resource/img/mobile/ture.png" class="top_box_img" v-on:click="back" style="position:absolute;top:17px;"></a>
        <a class="top_box2"></a>
        <a v-on:click="shoppingcart"><img src="~/Areas/resource/img/mobile/gwc2.png" style="width:5%;position:absolute;top:17px;right:10px;"></a>
    </div>
    <img class="sp_img" v-bind:src=Product.ImgUrl>
    <div class="sp_text">
        {{Product.Name}}
        @*<a><img src="~/Areas/resource/img/mobile/fx.png"></a>*@
    </div>
    <div class="sp_text2">￥{{Product.PriceSale}}<span>￥{{Product.PriceSale}}</span></div>
    @*<div class="sp_text3">
            参数类型：<br>
            <a href="#">礼品卡</a>
            <a href="#" style="margin-left:3%; background-color:#ddd; color:#666;">自用卡</a>
            <div>会员卡可自用也可赠送，并同样可参与<span>全员股东计划</span></div>
        </div>*@
    @*<div class="hykgm_box"><input type="checkbox" style=" width:13px; height:13px; background:none; float:left; margin-top:14px;">&nbsp;我已经阅读并同意会员卡使用协议</div>*@
    <div class="kc_box2">
        产品介绍：<br>
    </div>
    <div class="kc_box3 introduction">
    </div>
    <a class="btn1" v-on:click="buynow">立即购买</a>
    <a class="btn2" v-on:click="addtoshoppingcart">加入购物车</a>
</div>

@section scripts{
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=VVCar&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">

          $(function () {
              var member = sessionStorage.getItem('member');
              var mch = $.getUrlParam('mch');
              if (member == null || member == '') {
                  function init() {
                      $.ajax({
                          url: '/api/Member/GetMemberInfoByWeChat?openID=@ViewBag.OpenId',
                          type: 'GET',
                          headers: { 'CompanyCode': mch },
                          beforeSend: function () {
                              $.showLoading();
                          },
                          success: function (res) {
                              $.hideLoading();
                              if (res.IsSuccessful) {
                                  if (res.Data != null) {
                                      member = res.Data;
                                      sessionStorage.setItem('member', JSON.stringify(res.Data));
                                  } else {
                                      window.location.href = "/Mobile/Customer?mch=" + mch;
                                  }
                              } else {
                                  $.alert(res.ErrorMessage);
                                  window.location.href = "/Mobile/Customer?mch=" + mch;
                              }
                          },
                          error: function () {
                              $.hideLoading();
                              window.location.href = "/Mobile/Customer?mch=" + mch;
                          }
                      });
                  }
                  init();
              } else {
                  member = JSON.parse(member);
              }

              var product = sessionStorage.getItem('membercard');
              if (product != null && product != '') {
                  product = JSON.parse(product);
                  $('.introduction').append(product.Introduction);
              } else {
                  $.alert('未获取到会员卡信息');
              }

              function addtoshoppingcart(data) {
                  if (data == null) {
                      $.alert('参数错误');
                      return;
                  }
                  $.ajax({
                      url: '/api/ShoppingCart/AddToShoppingCart',
                      type: 'POST',
                      data: data,
                      headers: { 'CompanyCode': mch },
                      beforeSend: function () {
                          $.showLoading();
                      },
                      success: function (res) {
                          $.hideLoading();
                          if (res.IsSuccessful) {
                              if (res.Data != null)
                                  $.toast('已添加');
                              else
                                  $.alert('添加失败,请重试');
                          } else {
                              $.alert(res.ErrorMessage);
                          }
                      },
                      error: function (res) {
                          $.hideLoading();
                      }
                  });
              }

        _viewModel = new Vue({
            el: '#membercardbuy',
            data: {
                Product: product,
                ShoppingCart: {
                    MemberID: member.MemberID,
                    OpenID: '@ViewBag.OpenId',
                    Money: product.PriceSale,
                    ShoppingCartItemList: [{
                        GoodsID: product.ID,
                        ProductName: product.Name,
                        ProductType: 2,
                        Quantity: 1,
                        PriceSale: product.PriceSale,
                        Money: product.PriceSale,
                        Points: 0,
                        ImgUrl: product.ImgUrl,
                    }],
                },
            },
            methods: {
                buynow: function (event) {
                    product.Money = product.PriceSale;
                    product.Quantity = 1;
                    sessionStorage.setItem('productlist', JSON.stringify([product]));
                    window.location.href = "/Mobile/Customer/ConfirmOrder?mch=" + mch;
                },
                addtoshoppingcart: function (event) {
                    addtoshoppingcart(_viewModel.ShoppingCart);
                },
                shoppingcart: function (event) {
                    window.location.href = "/Mobile/Customer/ShoppingCart?mch=" + mch;
                },
                back: function (event) {
                    history.back(-1);
                },
            }
        });

    });
    </script>
}


