
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="membercard">
    <div class="top_box">
        <div class="top_box_text">会员卡包</div>
        <a><img src="~/Areas/resource/img/mobile/ture.png" class="top_box_img" v-on:click="back" style="position:absolute;top:17px;"></a>
        <a class="top_box2"></a>
        <a href="#"><img src="~/Areas/resource/img/mobile/home.png" style="width:5%;position:absolute;top:17px;right:10px;" v-on:click="home"></a>
    </div>
    <div class="nav_box" style="box-shadow:none;">
        <div>
            <a href="#"><img src="~/Areas/resource/img/mobile/erweima.png" v-on:click="scanQRCode"></a><br>
            扫码付款
        </div>
        <div>
            <a><img src="~/Areas/resource/img/mobile/gwc2.png" v-on:click="shoppingcart"></a><br>
            购物车
        </div>
        <div>
            <a href="#"><img src="~/Areas/resource/img/mobile/jingpin.png" v-on:click="shop"></a><br>
            精品商城
        </div>
        <div>
            <a href="#"><img src="~/Areas/resource/img/mobile/my.png" v-on:click="percenter"></a><br>
            个人中心
        </div>
    </div>
    <div class="jifen">
        <div>
            <span style="margin-top:4px;">{{MyInfo.Points}}</span>
            <span style="padding-top:inherit; font-size:13px; color:#2d2d30;">我的积分</span>
        </div>
        <div>
            <span style="margin-top:4px;">{{MyInfo.TotalConsume}}</span>
            <span style="padding-top:inherit; font-size:13px; color:#2d2d30;">消费总额</span>
        </div>
        <div>
            <span style="margin-top:4px;">{{MyInfo.CardCount}}</span>
            <span style="padding-top:inherit; font-size:13px; color:#2d2d30;">会员卡数量</span>
        </div>
    </div>
    <div class="bq_box">
        <a v-on:click="mycard" class="tabchange" style="width:50% !important;" id="cardtab">我的会员卡</a>
        <a v-on:click="mycoupon" style="width:50% !important;" id="coupontab">我的优惠券</a>
    </div>
    <div class="hykb_box" id="card" style="display:none;">
        <div class="hykb_box2" style="margin-left:3%; margin-top:15px;" v-on:click="membercard">
            <a><img class="cardimg" src="~/Areas/resource/img/mobile/defaultimg1.png"></a>
            <span class=" hykb_text">储值卡</span>
            <span style=" float:right; margin-right:3%; color:#ff0c4b;" class="hykb_text">￥{{Member.CardBalance}}</span>
        </div>
        <div class="hykb_box2" style="margin-left:3%; margin-top:15px;" v-for="Card in CardList" v-on:click="couponInfo(Card)">
            <a><img class="cardimg" v-bind:src=Card.CoverImage></a>
            <span class=" hykb_text">{{Card.Title}}</span>
            @*<span style=" float:right; margin-right:3%; color:#ff0c4b;" class="hykb_text" v-if="Card.CouponType!=3">抵用</span>
                <span style=" float:right; margin-right:3%; color:#ff0c4b;" class="hykb_text" v-if="Card.CouponType==3">折扣</span>*@
            <span style=" float:right; margin-right:3%; color:#ff0c4b;" class="hykb_text" v-if="Card.CouponType==3">{{Card.CouponValue}}{{Card.CouponValueUnit}}</span>
        </div>
    </div>
    <div class="hykb_box" id="coupon">
        <div class="hykb_box2" style="margin-left:3%; margin-top:15px;display:table;" v-for="Coupon in CouponList" v-on:click="couponInfo(Coupon)">
            <div style="display:table-cell;width:120px;"><img class="couponimg" v-bind:src=Coupon.CoverImage></div>
            <div class="hykb_text" style="display:table-cell;">{{Coupon.Title}}</div>
            <div style="display:table-cell;float:right; margin-right:10%; color:#ff0c4b;" class="hykb_text">{{Coupon.CouponValue}}{{Coupon.CouponValueUnit}}</div>
        </div>
    </div>
    <img src="~/Areas/resource/img/mobile/daodile.png" class="shop_box6">
    <div class="membercardbac" v-on:click="hidemembercardqrcode($event)">
        <div class="membercardcon">
            <div class="cardtitle">No.{{Member.CardNumber}}</div>
            <div class="cardqrcode" id="cardqrcode"></div>
            <div class="qrcodetips">二维码两分钟内有效</div>
        </div>
    </div>
</div>

@section scripts{
    <style type="text/css">
        #membercard {
            position: absolute;
        }

        .cardimg {
            height: 190px;
        }

        .couponimg {
            width: 80px !important;
            height: 50px;
        }

        .tabchange {
            color: #2d2d30 !important;
            border: none !important;
        }

        .membercardbac {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.6);
            display: none;
        }

        .membercardcon {
            /*position: absolute;
            top: 80px;*/
            /*width: 100px;
            height: 130px;*/
            background: #fff;
            border-radius: 5px;
            margin: 150px auto;
            width: 240px;
        }

        .cardtitle {
            font-size: 15px;
            margin: 5px 13px 5px 13px;
            border-bottom: 1px solid #ccc;
            height: 35px;
            line-height: 35px;
        }

        .qrcodetips {
            font-size: 13px;
            margin: 5px 13px 5px 13px;
            height: 30px;
            line-height: 30px;
        }

        .cardqrcode {
            padding: 5px;
            border-bottom: 1px solid #ccc;
            margin: 5px auto;
            text-align: center;
        }
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="~/Areas/resource/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {

            var mch = $.getUrlParam('mch');
            _viewModel = new Vue({
                el: '#membercard',
                data: {
                    CardList: [],
                    CouponList: [],
                    MyInfo: {
                        CardCount: 0,
                        Points: 0,
                        TotalConsume: 0,
                    },
                    Member: { CardNumber: '00000001', CardBalance:100}
                },
                methods: {
                    back: function (event) {
                        history.back(-1);
                    },
                    home: function (event) {
                        window.location.href = "/Mobile/Customer/Home?mch=" + mch;
                    },
                    shop: function (event) {
                        window.location.href = "/Mobile/Customer/Shop?mch=" + mch;
                    },
                    percenter: function (event) {
                        window.location.href = "/Mobile/Customer/PerCenter?mch=" + mch;
                    },
                    shoppingcart: function (event) {
                        window.location.href = "/Mobile/Customer/ShoppingCart?mch=" + mch;
                    },
                    scanQRCode: function (event) {
                        wx.scanQRCode({
                            needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                            scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                            success: function (res) {
                                var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                            }
                        });
                    },
                    mycard: function (event) {
                        $('#coupon').hide();
                        $('#card').show();
                        $('#cardtab').removeClass('tabchange');
                        $('#coupontab').addClass('tabchange');
                    },
                    mycoupon: function (event) {
                        $('#card').hide();
                        $('#coupon').show();
                        $('#coupontab').removeClass('tabchange');
                        $('#cardtab').addClass('tabchange');
                    },
                    couponInfo: function (data, event) {
                        sessionStorage.setItem('couponId', data.CouponID);
                        window.location.href = "/Coupon/CouponInfo?frommycoupon=true&ctid=" + data.TemplateID + '&mch=' + mch;
                    },
                    membercard: function (event) {
                        $.ajax({
                            url: '/Mobile/Customer/GetTimeSpan',
                            type: 'GET',
                            success: function (res) {
                                if (res != null && res != '') {
                                    jQuery('#cardqrcode').qrcode({
                                        render: "canvas", //也可以替换为table
                                        width: 200,
                                        height: 200,
                                        //foreground: "#efcb47",
                                        //background: "#FFF",
                                        text: _viewModel.Member.CardNumber + '+' + res,
                                    });
                                    $('.membercardbac').show();
                                } else {
                                    $.alert('二维码生成失败');
                                }
                            },
                            error: function () {
                                $.alert('二维码生成失败');
                            }
                        });
                    },
                    hidemembercardqrcode: function (event) {
                        if ($(event.target).hasClass('membercardbac')) {
                            $('.membercardbac').hide();
                            $('#cardqrcode').html("");
                        }
                    },
                }
            });

            var member = sessionStorage.getItem('member');
            if (member == null || member == '') {
                function init() {
                    $.ajax({
                        url: '/api/Member/GetMemberInfoByWeChat?openID=@ViewBag.OpenId',
                        type: 'GET',
                        headers: { 'CompanyCode': mch },
                        beforeSend: function () {
                            $.showLoading();
                        },
                        success: function (res) {
                            $.hideLoading();
                            if (res.IsSuccessful) {
                                if (res.Data != null) {
                                    sessionStorage.setItem('member', JSON.stringify(res.Data));
                                    _viewModel.Member = res.Data;
                                } else {
                                    window.location.href = "/Mobile/Customer?mch=" + mch;
                                }
                            } else {
                                $.alert(res.ErrorMessage);
                                window.location.href = "/Mobile/Customer?mch=" + mch;
                            }
                        },
                        error: function () {
                            $.hideLoading();
                            window.location.href = "/Mobile/Customer?mch=" + mch;
                        }
                    });
                }
                init();
            } else {
                member = JSON.parse(member);
                _viewModel.Member = member;
            }

        function getAvailableCouponList() {
            $.ajax({
                url: '/api/Coupon/GetAvailableCouponList?userOpenID=@ViewBag.OpenId&userid=' + _viewModel.Member.MemberID,
                type: 'GET',
                headers: { 'CompanyCode': mch },
                success: function (res) {
                    if (res.IsSuccessful) {
                        if (res.Data != null && res.Data.length > 0) {
                            for (var i = 0; i < res.Data.length; i++) {
                                if (res.Data[i].Nature == 0)
                                    _viewModel.CouponList.push(res.Data[i]);
                                else
                                    _viewModel.CardList.push(res.Data[i]);
                                _viewModel.MyInfo.CardCount = _viewModel.CardList.length;
                            }
                            _viewModel.MyInfo.Points = res.Data[0].MemberPoint;
                            _viewModel.MyInfo.TotalConsume = res.Data[0].TotalConsume;
                        }
                    } else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {

                }
            });
        }
        getAvailableCouponList();

        });
    </script>
}