
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="myorder" style="background-color:#f8f9fe;">
    <div class="top_box">
        <div class="top_box_text">我的订单</div>
        <a><img src="~/Areas/resource/img/mobile/ture.png" class="top_box_img" style="position:absolute;top:17px;" v-on:click="back"></a>
        <a class="top_box2"></a>
        <a><img src="~/Areas/resource/img/mobile/home.png" style="width:5%;position:absolute;top:17px;right:10px;" v-on:click="home"></a>
    </div>
    <div class="nav_box" style="position:relative; box-shadow:none;">
        @*<div>
                <a><img src="~/Areas/resource/img/mobile/dfk.png"></a><br>
                待付款
            </div>
            <div>
                <a><img src="~/Areas/resource/img/mobile/dsh.png"></a><br>
                待收货
            </div>
            <div>
                <a><img src="~/Areas/resource/img/mobile/ysh.png"></a><br>
                已完成
            </div>
            <div>
                <a><img src="~/Areas/resource/img/mobile/xcdd.png"></a><br>
                现场订单
            </div>*@
        <div v-on:click="storeorder" style="width:50%;">
            <a><img style="width:35px;" src="~/Areas/resource/img/mobile/ysh.png"></a><br>
            商城订单
        </div>
        <div v-on:click="pickuporder" style="width:50%;">
            <a><img style="width:35px;" src="~/Areas/resource/img/mobile/xcdd.png"></a><br>
            接车单
        </div>
    </div>
    <div class="wddd_box">
        <div class="wddd_input">
            <input type="text" style="color:#ddd" placeholder="订单号" class="pass_box">
            <a><img src="~/Areas/resource/img/mobile/ss.png" style="width:6%; margin-top:10px; float:right; margin-right:4%;"></a>
        </div>
    </div>
    <div class="gwc_box" style="margin-top:15px;" v-for="Order in OrderList" v-if="ShowOrder">
        <img class="gwc_img" src="~/Areas/resource/img/mobile/defaultimg1.png">
        <div class="gwc_box2">
            <span class="gwc_text">订单号：{{Order.Code}}</span>
            <span class="gwc_text" style="margin-top:2px;">日期：{{Order.CreatedDate}}</span>
            <span class="gwc_text" style="margin-top:2px;" v-if="Order.Status==-1">付款不足</span>
            <span class="gwc_text" style="margin-top:2px;" v-if="Order.Status==0">未付款</span>
            <span class="gwc_text" style="margin-top:2px;" v-if="Order.Status==1">已付款未发货</span>
            <span class="gwc_text" style="margin-top:2px;" v-if="Order.Status==2">已发货</span>
            <span class="gwc_text" style="margin-top:2px;" v-if="Order.Status==3">已完成</span>
        </div>
        <div class="wddd_box2">
            <span style="margin-left:3%;">
                共计{{Order.Quantity}}件商品
                <span style="margin-left:3%;">
                    合计:<span style="color:#ff0c4b;">{{Order.Money}}</span>
                </span>
            </span>
            <a class="wddd_btn" style=" background:none; border:1px solid #efcb47; color:#efcb47; box-sizing:border-box;" v-on:click="orderdetails(Order)">详情</a>
        </div>
    </div>
    <div class="gwc_box" style="margin-top:15px;" v-for="Order in PickUpOrderList" v-if="!ShowOrder">
        <img class="gwc_img" src="~/Areas/resource/img/mobile/defaultimg1.png">
        <div class="gwc_box2">
            <span class="gwc_text">订单号：{{Order.Code}}</span>
            <span class="gwc_text" style="margin-top:2px;">日期：{{Order.CreatedDate}}</span>
            <span class="gwc_text" style="margin-top:2px;" v-if="Order.Status==2">付款不足</span>
            <span class="gwc_text" style="margin-top:2px;" v-if="Order.Status==0">未付款</span>
            <span class="gwc_text" style="margin-top:2px;" v-if="Order.Status==1">已付款</span>
        </div>
        <div class="wddd_box2">
            <span style="margin-left:3%;">
                共计{{Order.Quantity}}个项目
                <span style="margin-left:3%;">
                    合计:<span style="color:#ff0c4b;">{{Order.Money}}</span>
                </span>
            </span>
            <a class="wddd_btn" style=" background:none; border:1px solid #efcb47; color:#efcb47; box-sizing:border-box;" v-on:click="pickuporderdetails(Order)">详情</a>
        </div>
    </div>
    <img src="~/Areas/resource/img/mobile/daodile.png" class="shop_box6">
</div>

@section scripts{
    <style type="text/css">
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        var mch = $.getUrlParam('mch');
        _viewModel = new Vue({
            el: '#myorder',
            data: {
                OrderList: [],
                PickUpOrderList: [],
                ShowOrder: true,
            },
            methods: {
                shop: function (event) {
                    window.location.href = "/Mobile/Customer/Shop?mch=" + mch;
                },
                percenter: function (event) {
                    window.location.href = "/Mobile/Customer/PerCenter?mch=" + mch;
                },
                membercard: function (event) {
                    window.location.href = "/Mobile/Customer/MemberCard?mch=" + mch;
                },
                productdetails: function (data, event) {
                    sessionStorage.setItem('product', JSON.stringify(data));
                    window.location.href = "/Mobile/Customer/ProductDetails?mch=" + mch;
                },
                scanQRCode: function (event) {
                    wx.scanQRCode({
                        needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                        scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                        success: function (res) {
                            var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                        }
                    });
                },
                orderdetails: function (data, event) {
                    sessionStorage.setItem('isorder', this.ShowOrder);
                    sessionStorage.setItem('order', JSON.stringify(data));
                    window.location.href = "/Mobile/Customer/OrderDetails?mch=" + mch;
                },
                pickuporderdetails: function (data, event) {
                    sessionStorage.setItem('isorder', this.ShowOrder);
                    sessionStorage.setItem('pickuporder', JSON.stringify(data));
                    window.location.href = "/Mobile/Customer/OrderDetails?mch=" + mch;
                },
                home: function (event) {
                    window.location.href = "/Mobile/Customer/Home?mch=" + mch;
                },
                back: function (event) {
                    history.back(-1);
                },
                storeorder: function (event) {
                    this.ShowOrder = true;
                },
                pickuporder: function (event) {
                    this.ShowOrder = false;
                },
            }
        });

          var member = sessionStorage.getItem('member');
            if (member == null || member=='') {
                function init() {
                   $.ajax({
                        url: '/api/Member/GetMemberInfoByWeChat?openID=@ViewBag.OpenId',
                        type: 'GET',
                        headers: { 'CompanyCode':mch },
                        beforeSend: function () {
                            $.showLoading();
                        },
                        success: function (res) {
                            $.hideLoading();
                            if (res.IsSuccessful) {
                                if (res.Data != null) {
                                    sessionStorage.setItem('member', JSON.stringify(res.Data));
                                } else {
                                    //window.location.href = "/Mobile/Customer?mch=" + mch;
                               }
                            } else {
                                $.alert(res.ErrorMessage);
                                window.location.href = "/Mobile/Customer?mch=" + mch;
                            }
                        },
                        error: function () {
                            $.hideLoading();
                            window.location.href = "/Mobile/Customer?mch=" + mch;
                        }
                   });
                }
                init();
            }

        function getmyorder() {
            $.ajax({
                url: '/api/Order?OpenID=@ViewBag.OpenId',
                type: 'GET',
                headers: { 'CompanyCode': mch },
                beforeSend: function () {
                    $.showLoading();
                },
                success: function (res) {
                    $.hideLoading();
                    if (res.IsSuccessful) {
                        if (res.Data != null) {
                            for (var i = 0; i < res.Data.length; i++) {
                                var quantity = 0;
                                if (res.Data[i].OrderItemList != null) {
                                    for (var j = 0; j < res.Data[i].OrderItemList.length; j++) {
                                        quantity += res.Data[i].OrderItemList[j].Quantity;
                                    }
                                }
                                res.Data[i].Quantity = quantity;
                            }
                            _viewModel.OrderList = res.Data;
                        }
                    } else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                    $.hideLoading();
                }
            });
        }
        getmyorder();

        function getmypickuporder() {
            var member = sessionStorage.getItem('member');
            if (member == null || member == '')
                return;
            member = JSON.parse(member);
            $.ajax({
                url: '/api/PickUpOrder/GetMemberPickUpOrder?memberId=' + member.MemberID,
                type: 'GET',
                headers: { 'CompanyCode': mch },
                beforeSend: function () {
                    $.showLoading();
                },
                success: function (res) {
                    $.hideLoading();
                    if (res.IsSuccessful) {
                        if (res.Data != null) {
                            for (var i = 0; i < res.Data.length; i++) {
                                var quantity = 0;
                                if (res.Data[i].PickUpOrderItemList != null) {
                                    for (var j = 0; j < res.Data[i].PickUpOrderItemList.length; j++) {
                                        quantity += res.Data[i].PickUpOrderItemList[j].Quantity;
                                    }
                                }
                                res.Data[i].Quantity = quantity;
                            }
                            _viewModel.PickUpOrderList = res.Data;
                        }
                    } else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                    $.hideLoading();
                }
            });
        }
        getmypickuporder();

    </script>
}
