
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div style="background-color:#f8f9fe;" id="myplate">
    <div class="top_box">
        <div class="top_box_text">我的车牌号</div>
        <a><img src="~/Areas/resource/img/mobile/ture.png" class="top_box_img"></a>
        <a class="top_box2"></a>
        <a v-on:click="home"><img src="~/Areas/resource/img/mobile/home.png" style="width:5%;"></a>
    </div>
    <div class="wdcph">
        <div class="wdcph_text" style=" border-bottom:1px solid #eee;">车牌号</div>
        <div class="wdcph_text" style="color:#666; border-bottom:1px dashed #eee;">闽D12345<a>删除</a><a style="background-color:#efcb47; color:#2d2d30; margin-right:3%;">编辑</a></div>
        <div class="wdcph_text" style="color:#666; border-bottom:1px dashed #eee;">闽D12346<a>删除</a><a style="background-color:#efcb47; color:#2d2d30; margin-right:3%;">编辑</a></div>
        <div class="wdcph_text" style="color:#666; ">闽D12347<a>删除</a><a style="background-color:#efcb47; color:#2d2d30; margin-right:3%;">编辑</a></div>
    </div>
    <div class="wdcph_box">
        <div class="wdcph_box2">
            <input type="text">
            <a>增加/更新</a>
        </div>
    </div>
</div>

@section scripts{
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=VVCar&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {

        var mch = $.getUrlParam('mch');
        _viewModel = new Vue({
            el: '#myplate',
            data: {
                MyInfo: {},
            },
            methods: {
                home: function (event) {
                    window.location.href = "/Mobile/Customer/Home?mch=" + mch;
                },
            }
        });

            var member = sessionStorage.getItem('member');
             function init() {
                    $.ajax({
                        url: '/api/Member/GetMemberInfoByWeChat?openID=@ViewBag.OpenId',
                        type: 'GET',
                        headers: { 'CompanyCode': mch },
                        beforeSend: function () {
                            $.showLoading();
                        },
                        success: function (res) {
                            $.hideLoading();
                            if (res.IsSuccessful) {
                                if (res.Data != null) {
                                    sessionStorage.setItem('member', JSON.stringify(res.Data));
                                    _viewModel.MyInfo = res.Data;
                                } else {
                                    window.location.href = "/Mobile/Customer?mch=" + mch;
                                }
                            } else {
                                $.alert(res.ErrorMessage);
                                window.location.href = "/Mobile/Customer?mch=" + mch;
                            }
                        },
                        error: function () {
                            $.hideLoading();
                            window.location.href = "/Mobile/Customer?mch=" + mch;
                        }
                    });
                }
            if (member == null || member == '') {
                init();
            } else {
                _viewModel.MyInfo = JSON.parse(member);
            }

        });
    </script>
}
