
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div style="background-color:#f8f9fe;" id="myplate">
    <div class="top_box">
        <div class="top_box_text">我的车牌号</div>
        <a><img src="~/Areas/resource/img/mobile/ture.png" class="top_box_img"></a>
        <a class="top_box2"></a>
        <a v-on:click="home"><img src="~/Areas/resource/img/mobile/home.png" style="width:5%;"></a>
    </div>
    <div class="wdcph">
        <div class="wdcph_text" style=" border-bottom:1px solid #eee;">车牌号</div>
        <div class="wdcph_text" style="color:#666; border-bottom:1px dashed #eee;" v-for="Plate in PlateNumberList">{{Plate.PlateNumber}}<a v-on:click="deletePlateNumber(Plate)">删除</a></div>
    </div>
    <div class="wdcph_box">
        <div class="wdcph_box2">
            <input type="text" style="font-size:13px;" v-model="AddData.PlateNumber" oninput="if(value.length>8)value=value.slice(0,8)">
            <a v-on:click="addPlateNumber">增加</a>
        </div>
    </div>
</div>

@section scripts{
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {

        var mch = $.getUrlParam('mch');
        _viewModel = new Vue({
            el: '#myplate',
            data: {
                MyInfo: {},
                PlateNumberList: [],
                AddData: {
                    MemberID:'',
                    OpenID:'@ViewBag.OpenId',
                    PlateNumber:'',
                }
            },
            methods: {
                home: function (event) {
                    window.location.href = "/Mobile/Customer/Home?mch=" + mch;
                },
                addPlateNumber: function (event) {
                    var data = _viewModel.AddData;
                    if (data == null || data == '' || data.MemberID == null || data.MemberID == '') {
                        $.alert('参数错误');
                        return;
                    }
                    if (data.PlateNumber == null || data.PlateNumber == '') {
                        $.alert('请输入车牌号');
                        return;
                    }
                    if (data.PlateNumber.length != 7 && data.PlateNumber.length != 8) {
                        $.alert('车牌号不正确，请重新输入');
                        return;
                    }
                    $.confirm('确认增加车牌号 ' + _viewModel.AddData.PlateNumber + ' ？', function () {
                        addPlateNumber(_viewModel.AddData);
                    });
                },
                deletePlateNumber: function (data, event) {
                    $.confirm('确认删除车牌号 ' + data.PlateNumber + ' ？', function () {
                        deletePlateNumber(data.ID);
                    });
                },
            }
        });

            var member = sessionStorage.getItem('member');
             function init() {
                    $.ajax({
                        url: '/api/Member/GetMemberInfoByWeChat?openID=@ViewBag.OpenId',
                        type: 'GET',
                        headers: { 'CompanyCode': mch },
                        beforeSend: function () {
                            $.showLoading();
                        },
                        success: function (res) {
                            $.hideLoading();
                            if (res.IsSuccessful) {
                                if (res.Data != null) {
                                    sessionStorage.setItem('member', JSON.stringify(res.Data));
                                    _viewModel.MyInfo = res.Data;
                                    _viewModel.AddData.MemberID = res.Data.MemberID;
                                } else {
                                    window.location.href = "/Mobile/Customer?mch=" + mch;
                                }
                            } else {
                                $.alert(res.ErrorMessage);
                                window.location.href = "/Mobile/Customer?mch=" + mch;
                            }
                        },
                        error: function () {
                            $.hideLoading();
                            window.location.href = "/Mobile/Customer?mch=" + mch;
                        }
                    });
                }
            if (member == null || member == '') {
                init();
            } else {
                member = JSON.parse(member)
                _viewModel.MyInfo = member;
                _viewModel.AddData.MemberID = member.MemberID;
            }

            function getPlateNumber(showloading) {
                $.ajax({
                    url: '/api/MemberPlate?OpenID=@ViewBag.OpenId',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        if (showloading)
                           $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            _viewModel.PlateNumberList = res.Data;
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }
            getPlateNumber(true);

            function addPlateNumber(data) {
                 $.ajax({
                    url: '/api/MemberPlate',
                    type: 'POST',
                    data: data,
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                $.toast('添加成功');
                                _viewModel.PlateNumberList.push(res.Data);
                                _viewModel.AddData.PlateNumber = '';
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                 });
            }

            function deletePlateNumber(id) {
                if (id == null || id == '') {
                    $.alert('参数错误');
                    return;
                }
                $.ajax({
                    url: '/api/MemberPlate/Delete?id='+id,
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            $.toast('删除成功');
                            getPlateNumber(false);
                            _viewModel.AddData.PlateNumber = '';
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

        });
    </script>
}
