
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div style="background-color:#f8f9fe;" id="mypoints">
    <div class="top_box">
        <div class="top_box_text">我的积分</div>
        <a href="#"><img src="img/ture.png" class="top_box_img"></a>
        <a class="top_box2"></a>
        <a href="#"><img src="img/home.png" style="width:5%;"></a>
    </div>
    <div class="hxjl_box">
        <div class="hxjl_text">积分总额<span style="float:right; color:#ff0c4c;">{{MyInfo.MemberPoint}}积分</span></div>
    </div>
    <div class="hxjl_box2">
        <div class="hxjl_box3" style="border-bottom:1px solid #eee;">
            <div class="hxjl_box4">
                <span class="hxjl_text2">时间</span>
            </div>
            <div class="hxjl_box4" style="width:33.4%;">
                <span class="hxjl_text2" style="text-align:center;">积分额度</span>
            </div>
            <div class="hxjl_box4">
                <span class="hxjl_text3" style="text-align:right;">积分来源</span>
            </div>
        </div>
        <ul class="hxjl_box3" style="border-bottom:1px dashed #eee;">
            <li class="hxjl_box4">
                <span class="hxjl_text2" style="color:#666; font-size:14px;">2017-10-10</span>
            </li>
            <li class="hxjl_box4" style="width:33.4%;">
                <span class="hxjl_text2" style="text-align:center; color:#efcb47;font-size:14px;">100</span>
            </li>
            <li class="hxjl_box4">
                <span class="hxjl_text3" style="text-align:right;color:#666;font-size:14px;">汽车美容</span>
            </li>
        </ul>
        <ul class="hxjl_box3" style="border-bottom:1px dashed #eee;">
            <li class="hxjl_box4">
                <span class="hxjl_text2" style="color:#666;font-size:14px;">2017-10-10</span>
            </li>
            <li class="hxjl_box4" style="width:33.4%;">
                <span class="hxjl_text2" style="text-align:center; color:#efcb47;font-size:14px;">100</span>
            </li>
            <li class="hxjl_box4">
                <span class="hxjl_text3" style="text-align:right;color:#666;font-size:14px;">汽车美容</span>
            </li>
        </ul>
        <ul class="hxjl_box3" style="border-bottom:1px dashed #eee;">
            <li class="hxjl_box4">
                <span class="hxjl_text2" style="color:#666;font-size:14px;">2017-10-10</span>
            </li>
            <li class="hxjl_box4" style="width:33.4%;">
                <span class="hxjl_text2" style="text-align:center; color:#efcb47;font-size:14px;">100</span>
            </li>
            <li class="hxjl_box4">
                <span class="hxjl_text3" style="text-align:right;color:#666;font-size:14px;">汽车美容</span>
            </li>
        </ul>
        <ul class="hxjl_box3" style="border-bottom:1px dashed #eee;">
            <li class="hxjl_box4">
                <span class="hxjl_text2" style="color:#666;font-size:14px;">2017-10-10</span>
            </li>
            <li class="hxjl_box4" style="width:33.4%;">
                <span class="hxjl_text2" style="text-align:center; color:#efcb47;font-size:14px;">100</span>
            </li>
            <li class="hxjl_box4">
                <span class="hxjl_text3" style="text-align:right;color:#666;font-size:14px;">汽车美容</span>
            </li>
        </ul>
        <ul class="hxjl_box3" style="border-bottom:1px dashed #eee;">
            <li class="hxjl_box4">
                <span class="hxjl_text2" style="color:#666;font-size:14px;">2017-10-10</span>
            </li>
            <li class="hxjl_box4" style="width:33.4%;">
                <span class="hxjl_text2" style="text-align:center; color:#efcb47;font-size:14px;">100</span>
            </li>
            <li class="hxjl_box4">
                <span class="hxjl_text3" style="text-align:right;color:#666;font-size:14px;">汽车美容</span>
            </li>
        </ul>
        <ul class="hxjl_box3" style="border-bottom:1px dashed #eee;">
            <li class="hxjl_box4">
                <span class="hxjl_text2" style="color:#666;font-size:14px;">2017-10-10</span>
            </li>
            <li class="hxjl_box4" style="width:33.4%;">
                <span class="hxjl_text2" style="text-align:center; color:#efcb47;font-size:14px;">100</span>
            </li>
            <li class="hxjl_box4">
                <span class="hxjl_text3" style="text-align:right;color:#666;font-size:14px;">汽车美容</span>
            </li>
        </ul>
        <ul class="hxjl_box3" style="border-bottom:1px dashed #eee;">
            <li class="hxjl_box4">
                <span class="hxjl_text2" style="color:#666;font-size:14px;">2017-10-10</span>
            </li>
            <li class="hxjl_box4" style="width:33.4%;">
                <span class="hxjl_text2" style="text-align:center; color:#efcb47;font-size:14px;">100</span>
            </li>
            <li class="hxjl_box4">
                <span class="hxjl_text3" style="text-align:right;color:#666;font-size:14px;">汽车美容</span>
            </li>
        </ul>
        <ul class="hxjl_box3" style="border-bottom:1px dashed #eee;">
            <li class="hxjl_box4">
                <span class="hxjl_text2" style="color:#666;font-size:14px;">2017-10-10</span>
            </li>
            <li class="hxjl_box4" style="width:33.4%;">
                <span class="hxjl_text2" style="text-align:center; color:#efcb47;font-size:14px;">100</span>
            </li>
            <li class="hxjl_box4">
                <span class="hxjl_text3" style="text-align:right;color:#666;font-size:14px;">汽车美容</span>
            </li>
        </ul>
        <ul class="hxjl_box3" style="border-bottom:1px dashed #eee;">
            <li class="hxjl_box4">
                <span class="hxjl_text2" style="color:#666;font-size:14px;">2017-10-10</span>
            </li>
            <li class="hxjl_box4" style="width:33.4%;">
                <span class="hxjl_text2" style="text-align:center; color:#efcb47;font-size:14px;">100</span>
            </li>
            <li class="hxjl_box4">
                <span class="hxjl_text3" style="text-align:right;color:#666;font-size:14px;">汽车美容</span>
            </li>
        </ul>
        <ul class="hxjl_box3">
            <li class="hxjl_box4">
                <span class="hxjl_text2" style="color:#666;font-size:14px;">2017-10-10</span>
            </li>
            <li class="hxjl_box4" style="width:33.4%;">
                <span class="hxjl_text2" style="text-align:center; color:#efcb47;font-size:14px;">100</span>
            </li>
            <li class="hxjl_box4">
                <span class="hxjl_text3" style="text-align:right;color:#666;font-size:14px;">汽车美容</span>
            </li>
        </ul>
    </div>
    <img src="~/Areas/resource/img/mobile/daodile.png" class="ft_box">
</div>

@section scripts{
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=VVCar&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {

        var mch = $.getUrlParam('mch');
        _viewModel = new Vue({
            el: '#mypoints',
            data: {
                MyInfo: {},
            },
            methods: {
                home: function (event) {
                    window.location.href = "/Mobile/Customer?mch=" + mch;
                },
            }
        });

            var member = sessionStorage.getItem('member');
             function init() {
                    $.ajax({
                        url: '/api/Member/GetMemberInfoByWeChat?openID=@ViewBag.OpenId',
                        type: 'GET',
                        headers: { 'CompanyCode': mch },
                        beforeSend: function () {
                            $.showLoading();
                        },
                        success: function (res) {
                            $.hideLoading();
                            if (res.IsSuccessful) {
                                if (res.Data != null) {
                                    sessionStorage.setItem('member', JSON.stringify(res.Data));
                                    _viewModel.MyInfo = res.Data;
                                } else {
                                    window.location.href = "/Mobile/Customer?mch=" + mch;
                                }
                            } else {
                                $.alert(res.ErrorMessage);
                                window.location.href = "/Mobile/Customer?mch=" + mch;
                            }
                        },
                        error: function () {
                            $.hideLoading();
                            window.location.href = "/Mobile/Customer?mch=" + mch;
                        }
                    });
                }
            if (member == null || member == '') {
                init();
            } else {
                _viewModel.MyInfo = JSON.parse(member);
            }

        });
    </script>
}
