
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="payresult" style="background-color:#f8f9fe;">
    <div id="paysuccess" style="display:none">
        <div class="top_box">
            <div class="top_box_text">支付成功</div>
            <div v-on:click="home"><img src="~/Areas/resource/img/mobile/home.png" class="top_box_img" style="width:5%;"></div>
            <a class="top_box2" style="width:83%;"></a>
            <a><img src="~/Areas/resource/img/mobile/gwc2.png" style="width:5%;"></a>
        </div>
        <div class="zfcg_box">
            <div class="zfcg_text">您已成功支付<span style="font-size:22px; color:#ff0c4b; margin-left:30px;">￥{{TotalFee}}</span></div>
            <div class="zfcg_text2">获得{{TotalFee}}个消费积分<a style=" width:25%; background-color:#efcb47; height:33px; line-height:33px; float:right; text-align:center; color:#2d2d30; border-radius:5px; margin-bottom:10px;" v-on:click="myorder">我的订单</a></div>
            <div class="qr_text">收货人：{{Order.LinkMan}}（{{Order.Phone}}）</div>
            <div class="qr_text" style="margin-top:5px; font-size:14px; color:#999;">收货地址：{{Order.Address}}</div>
            <div class="zfcg_box2">
                <div class="zfcg_text3">订单号<span style="float:right;">{{Order.Code}}</span></div>
                @*<div class="zfcg_text3">微信订单号<span style="float:right;">{{OutTradeNo}}</span></div>*@
                @*<div class="zfcg_text3">创建时间<span style="float:right;">@DateTime.Now.ToString("yyyy-MM-dd HH:hh:ss")</span></div>*@
                @*<div class="zfcg_text3" style=" margin-bottom:10px;">支付时间<span style="float:right;">@DateTime.Now.ToString("yyyy-MM-dd HH:hh:ss")</span></div>*@
            </div>
        </div>
    </div>
    <div id="generateorder" style="display:none;">支付成功，正在生成订单，请稍候...</div>
    <div id="payfailure" style="display:none;">支付失败</div>
    <div id="tradefailure" style="display:none;">交易失败</div>
    <div class="shop_box">
        <div class="shop_box2" style="text-align:center; font-size:18px;">
            其它商品推荐
        </div>
        <div class="shop_box3">
            <div class="shop_box3_div" v-for="Template in CouponTemplateList" v-on:click="productdetails(Template)">
                <span class="shop_box3_span">{{Template.Name}}</span>
                <a><img class="shop_box3_img" v-bind:src=Template.ImgUrl></a>
                <div class="shop_box3_div2">
                    ￥{{Template.PriceSale}}
                </div>
            </div>
        </div>
        <img src="~/Areas/resource/img/mobile/daodile.png" class="shop_box6">
    </div>
</div>

@section scripts{
    <style type="text/css">
        .cardimg {
            height: 100px;
        }
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=VVCar&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {

            var mch = $.getUrlParam('mch');

            _payBillViewModel = new Vue({
                el: '#payresult',
                data: {
                    CouponTemplateList: [],
                    OutTradeNo: '',
                    TotalFee: 0,
                    Order: {},
                        @*{
                        Code:'',
                        OpenID:'@ViewBag.OpenId',
                        LinkMan: '',
                        Phone: '',
                        Address: '',
                        Status: 0,
                        Money: 0,
                        Points: 0,
                        Remark: '',
                        OrderItemList: [{
                            ProductID: '',
                            ProductType:1,
                            Quantity: 0,
                            PriceSale: 0,
                            Points: 0,
                            ProductName:'',
                        }]
                    },*@
                },
                methods: {
                    back: function (event) {
                        history.back(-1);
                    },
                    home: function (event) {
                        window.location.href = "/Mobile/Customer/Home?mch=" + mch;
                    },
                    productdetails: function (data, event) {
                        sessionStorage.setItem('product', JSON.stringify(data));
                        window.location.href = "/Mobile/Customer/ProductDetails?mch=" + mch;
                    },
                    myorder: function (event) {
                        window.location.href = "/Mobile/Customer/MyOrder?mch=" + mch;
                    },
                }
            });

            function getRecommendCouponTemplate() {
                $.ajax({
                    url: '/api/CouponTemplate/GetRecommendCouponTemplate',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforesend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data != null)
                                _payBillViewModel.CouponTemplateList = res.Data;
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }
            getRecommendCouponTemplate();

            var member = sessionStorage.getItem('member');
             function init() {
                    $.ajax({
                        url: '/api/Member/GetMemberInfoByWeChat?openID=@ViewBag.OpenId',
                        type: 'GET',
                        headers: { 'CompanyCode': mch },
                        success: function (res) {
                            if (res.IsSuccessful) {
                                if (res.Data != null) {
                                    sessionStorage.setItem('member', JSON.stringify(res.Data));
                                } else {
                                    window.location.href = "/Mobile/Customer?mch=" + mch;
                                }
                            } else {
                                $.alert(res.ErrorMessage);
                                window.location.href = "/Mobile/Customer?mch=" + mch;
                            }
                        },
                        error: function () {
                            window.location.href = "/Mobile/Customer?mch=" + mch;
                        }
                    });
                }
            if (member == null || member == '') {
                init();
            }

            function order() {
                if (_payBillViewModel.Order == null || _payBillViewModel.Order == '' || _payBillViewModel.Order== {}) {
                    $.alert('参数错误');
                    $('#generateorder').hide();
                    $('#tradefailure').show();
                    return;
                }
                $.ajax({
                    url: '/api/Order',
                    type: 'POST',
                    data: _payBillViewModel.Order,
                    headers: { 'CompanyCode': mch },
                    beforesend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        $('#generateorder').hide();
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                $('#paysuccess').show();
                            } else {
                                $('#tradefailure').show();
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error:function () {
                        $.hideLoading();
                        $('#generateorder').hide();
                        $('#tradefailure').show();
                    }
                });
            }

            var order = sessionStorage.getItem('order');
            if (order == null || order == '') {
                $.alert('订单不存在');
                $('#tradefailure').show();
                return;
            } else {
                var tradeSate = $.getUrlParam('TradeSate');
                var outTradeNo = $.getUrlParam('OutTradeNo');
                var totalFee = $.getUrlParam('TotalFee');
                if (tradeSate == 'true') {
                    $('#generateorder').show();
                    _payBillViewModel.Order = JSON.parse(order);
                    _payBillViewModel.OutTradeNo = outTradeNo;
                    _payBillViewModel.TotalFee = parseInt(totalFee)/100;
                    _payBillViewModel.Order.Code = outTradeNo;
                    _payBillViewModel.Order.Money = parseInt(totalFee)/100;
                    order();
                } else {
                    $('#payfailure').show();
                }
            }
        });
    </script>
}

