
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="pcenter">
    <div class="top_box">
        <div class="top_box_text">个人中心</div>
        <a><img id="backimg" src="~/Areas/resource/img/mobile/ture.png" class="top_box_img" style="position:absolute;top:17px;"></a>
        <a class="top_box2"></a>
        <a><img id="homeimg" src="~/Areas/resource/img/mobile/home.png" style="width:5%;position:absolute;top:17px;right:10px;"></a>
    </div>
    <div class="nav_box" style="position:relative; box-shadow:none;">
        <div>
            <a href="#"><img src="~/Areas/resource/img/mobile/erweima.png" v-on:click="scanQRCode"></a><br>
            扫码付款
        </div>
        <div>
            <a href="#"><img src="~/Areas/resource/img/mobile/kabao.png" v-on:click="membercard"></a><br>
            会员卡包
        </div>
        <div>
            <a href="#"><img src="~/Areas/resource/img/mobile/jingpin.png" v-on:click="shop"></a><br>
            精品商城
        </div>
        <div>
            <a><img src="~/Areas/resource/img/mobile/gwc2.png" v-on:click="shoppingcart"></a><br>
            购物车
        </div>
    </div>
    <div class="user_box">
        <img class="headerimg" src="@ViewBag.HeadImgUrl">
        <div>
            <span>@ViewBag.NickName<a style="font-size:13px; color:#ff0c4b; float:right; margin-right:4%;" v-on:click="verificationcodeset">[设置核销密码]</a></span>
            <span style=" font-size:14px; color:#333;">绑定手机：{{MyInfo.MobilePhoneNo}}<a style="font-size:13px; color:#ff0c4b; float:right; margin-right:4%;" v-on:click="bindingmobilephone">[更换手机]</a></span>
        </div>
    </div>
    <div class="user">
        <a class="user2" v-on:click="myplate">
            <div class="user3">
                <img src="~/Areas/resource/img/mobile/cph.png" style="width:100%;">
            </div>
            <span style="font-size:15px; color:#2d2d30;">我的车牌号</span><br>
            <span style="font-size:13px; color:#999;">{{MyPlate}}</span><br><br>@*{{MyInfo.Plate}}*@
        </a>
        <a class="user2" v-on:click="membercard">
            <div class="user3">
                <img src="~/Areas/resource/img/mobile/hyk.png" style="width:100%;">
            </div>
            <span style="font-size:15px; color:#2d2d30;">我的会员卡</span><br>
            <span style="font-size:13px; color:#999;">{{MyInfo.CardCount}}张</span><br><br>
        </a>
        <a class="user2" style="width:33.4%; border-right:none;" v-on:click="mypoints">
            <div class="user3">
                <img src="~/Areas/resource/img/mobile/jf.png" style="width:100%;">
            </div>
            <span style="font-size:15px; color:#2d2d30;">我的积分</span><br>
            <span style="font-size:13px; color:#999;">{{MyInfo.MemberPoint}}分</span><br><br>
        </a>
        <a class="user2" v-on:click="myorder">
            <div class="user3">
                <img src="~/Areas/resource/img/mobile/dd.png" style="width:100%;">
            </div>
            <span style="font-size:15px; color:#2d2d30;">我的订单</span><br>
            <span style="font-size:13px; color:#999;">订单查询</span><br><br>
        </a>
        @*<a class="user2" v-on:click="memberservices">
                <div class="user3">
                    <img src="~/Areas/resource/img/mobile/hy.png" style="width:90%;">
                </div>
                <span style="font-size:15px; color:#2d2d30;">会员服务</span><br>
                <span style="font-size:13px; color:#999;">道路救援等</span><br><br>
            </a>*@
        <a class="user2" v-on:click="myappointment">
            <div class="user3">
                <img src="~/Areas/resource/img/mobile/hy.png" style="width:90%;">
            </div>
            <span style="font-size:15px; color:#2d2d30;">我的预约</span><br>
            <span style="font-size:13px; color:#999;">预约查询</span><br><br>
        </a>
        <a class="user2" style="width:33.4%; border-right:none;" v-on:click="callservicetel">
            <div class="user3">
                <img src="~/Areas/resource/img/mobile/kf.png" style="width:100%;">
            </div>
            <span style="font-size:15px; color:#2d2d30;">我的客服</span><br>
            <span style="font-size:13px; color:#999;">专属客服</span><br><br>
        </a>
        <a class="user2" v-on:click="memberregister">
            <div class="user3">
                <img src="~/Areas/resource/img/mobile/dd.png" style="width:100%;">
            </div>
            <span style="font-size:15px; color:#2d2d30;">会员注册</span><br>
            <span style="font-size:13px; color:#999;">二维码</span><br><br>
        </a>
        <a class="user2" v-on:click="mymember">
            <div class="user3">
                <img src="~/Areas/resource/img/mobile/hy.png" style="width:90%;">
            </div>
            <span style="font-size:15px; color:#2d2d30;">我的会员</span><br>
            <span style="font-size:13px; color:#999;">会员</span><br><br>
        </a>
        <a class="user2" style="width:33.4%; border-right:none;" v-on:click="mydividend">
            <div class="user3">
                <img src="~/Areas/resource/img/mobile/jf.png" style="width:100%;">
            </div>
            <span style="font-size:15px; color:#2d2d30;">我的分红</span><br>
            <span style="font-size:13px; color:#999;">分红</span><br><br>
        </a>
    </div>
    <div class="x-slide" id="j-image-box">
        <ul>
            <li style="display:block;">
                <a hidefocus="true"><img class="banner bannerbg" src="~/Areas/resource/img/mobile/defaultimg1.png" alt="" title=""></a>
            </li>
            <li style="display:none;">
                <a hidefocus="true"><img class="banner bannerbg" src="~/Areas/resource/img/mobile/defaultimg2.png" alt="" title=""></a>
            </li>
            <li style="display:none;">
                <a hidefocus="true"><img class="banner bannerbg" src="~/Areas/resource/img/mobile/defaultimg3.png" alt="" title=""></a>
            </li>
        </ul>
    </div>
</div>

@section scripts{
    <style type="text/css">
        .headerimg {
            border-radius: 80px;
        }

        .bannerbg {
            background: #101010;
        }

        .productimg {
            height: 190px;
        }

        .cardimg {
            height: 100px;
        }

        .x-slide {
            width: 100%;
            margin: 0 auto;
            position: relative;
            top: 596px;
        }

            .x-slide li {
                display: block;
                width: 100%;
                position: absolute;
                top: 55px;
                left: 0;
            }

            .x-slide .btn {
                width: 100%;
                position: absolute;
                top: 258px;
                left: 0;
                text-align: center;
            }

                .x-slide .btn span {
                    display: inline-block;
                    vertical-align: middle;
                    width: 10px;
                    height: 10px;
                    margin: 0 5px;
                    border-radius: 50px;
                    -webkit-border-radius: 50px;
                    background: rgba(255,255,255,0.5);
                    overflow: hidden;
                    margin-right: 5px;
                    cursor: pointer;
                }

                    .x-slide .btn span.current {
                        background: #fff;
                        width: 14px;
                        height: 14px;
                    }
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        $(function () {

        var mch = $.getUrlParam('mch');
            _viewModel = new Vue({
                el: '#pcenter',
                data: {
                    MyInfo: {},
                    MyPlate:'暂无',
                },
                methods: {
                    home: function (event) {
                        window.location.href = "/Mobile/Customer?mch=" + mch;
                    },
                    shop: function (event) {
                        window.location.href = "/Mobile/Customer/Shop?mch=" + mch;
                    },
                    membercard: function (event) {
                        window.location.href = "/Mobile/Customer/MemberCard?mch=" + mch;
                    },
                    myappointment: function (event) {
                        window.location.href = "/Mobile/Customer/MyAppointment?mch=" + mch;
                    },
                    shoppingcart: function (event) {
                        window.location.href = "/Mobile/Customer/ShoppingCart?mch=" + mch;
                    },
                    scanQRCode: function (event) {
                        wx.scanQRCode({
                            needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                            scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                            success: function (res) {
                                var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                            }
                        });
                    },
                    callservicetel: function (event) {
                        window.location.href = "tel:0592-1234567";
                    },
                    myorder: function (event) {
                        window.location.href = "/Mobile/Customer/MyOrder?mch=" + mch;
                    },
                    memberservices: function (event) {
                        window.location.href = "/Mobile/Customer/MemberServices?mch=" + mch;
                    },
                    mypoints: function (event) {
                        window.location.href = "/Mobile/Customer/MyPoints?mch=" + mch;
                    },
                    myplate: function (event) {
                        window.location.href = "/Mobile/Customer/MyPlate?mch=" + mch;
                    },
                    bindingmobilephone: function (event) {
                        window.location.href = "/Mobile/Customer/BindingMobilePhone?mch=" + mch;
                    },
                    verificationcodeset: function (event) {
                        window.location.href = "/Mobile/Customer/VerificationCodeSet?mch=" + mch;
                    },
                    memberregister: function (event) {
                        window.location.href = "/Mobile/Customer/TooKeen?mch=" + mch;
                    },
                    mymember: function (event) {
                        window.location.href = "/Mobile/Customer/MyMember?mch=" + mch;
                    },
                    mydividend: function (event) {
                        window.location.href = "/Mobile/Customer/MyDividend?mch=" + mch;
                    },
            }
        });

            var member = sessionStorage.getItem('member');
             function init() {
                    $.ajax({
                        url: '/api/Member/GetMemberInfoByWeChat?openID=@ViewBag.OpenId',
                        type: 'GET',
                        headers: { 'CompanyCode': mch },
                        beforeSend: function () {
                            $.showLoading();
                        },
                        success: function (res) {
                            $.hideLoading();
                            if (res.IsSuccessful) {
                                if (res.Data != null) {
                                    sessionStorage.setItem('member', JSON.stringify(res.Data));
                                    _viewModel.MyInfo = res.Data;
                                } else {
                                    window.location.href = "/Mobile/Customer?mch=" + mch;
                                }
                            } else {
                                $.alert(res.ErrorMessage);
                                window.location.href = "/Mobile/Customer?mch=" + mch;
                            }
                        },
                        error: function () {
                            $.hideLoading();
                            window.location.href = "/Mobile/Customer?mch=" + mch;
                        }
                    });
                }
            if (member == null || member == '') {
                init();
            } else {
                _viewModel.MyInfo = JSON.parse(member);
            }

            function wxConfig() {
                $.ajax({
                    type: "POST",
                    url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                    datatype: "json",
                    success: function (data) {
                        if (data.IsSuccessful) {
                            var temp = data.Data;
                            wx.config({
                                debug: false,
                                appId: temp.appId,
                                timestamp: temp.timestamp,
                                nonceStr: temp.nonceStr,
                                signature: temp.signature,
                                jsApiList: [
                                    'checkJsApi',
                                    'onMenuShareTimeline',
                                    'onMenuShareAppMessage',
                                    'onMenuShareQQ',
                                    'onMenuShareWeibo',
                                    'hideOptionMenu',
                                    'hideAllNonBaseMenuItem',
                                    'showMenuItems',
                                    'closeWindow',
                                    'scanQRCode',
                                ]
                            });
                            wx.ready(function () {
                                //wx.hideAllNonBaseMenuItem();
                                wx.onMenuShareTimeline({
                                    title: '会员注册',
                                    link: window.location.origin + '/Mobile/Customer?mch=' + mch + '&mid=' + _viewModel.MyInfo.MemberID,
                                    imgUrl: window.location.origin + '/Areas/resource/img/mobile/defaultimg3.png',
                                    success: function (res) {
                                    }
                                });
                                wx.onMenuShareAppMessage({
                                    title: '会员注册',
                                    desc: '',
                                    link: window.location.origin + '/Mobile/Customer?mch=' + mch + '&mid=' + _viewModel.MyInfo.MemberID,
                                    imgUrl: window.location.origin + '/Areas/resource/img/mobile/defaultimg3.png',
                                    success: function (res) {
                                    }
                                });
                            });
                        } else {
                        }
                    },
                    complete: function (xmlHttpRequest, textStatus) {
                    },
                    error: function (xmlHttpRequest, textStatus) {
                    }
                });
            };
            wxConfig();

            var banner = {
                init: function () {
                    if ($("#j-image-box li").length >= 1) {
                        banner.initDom();
                        banner.initEvent();
                        banner.startTimeTask();
                        //banner.initResize();
                    }
                },
                initResize: function () {
                    //var imgHeight;
                    //var proportion = $(window).width() * (520 / 2000);

                    /*$("#j-image-box").find("li").each(function(index, element) {
                        if($(this).css("display")!= "none"){
                            imgHeight = $(this).find("img").height();
                        }
                    });*/
                    //$("#j-image-box").css({ "height": proportion });
                },
                initDom: function () {

                    //$(window).resize(function () {
                    //    banner.initResize();
                    //});
                    banner.cont = $("#j-image-box");
                    banner.eyes = banner.cont.find("li");
                    var btnHtml = ["<div class='btn'>"];

                    banner.eyes.each(function (k) {
                        btnHtml.push("<span " + (k == 0 ? "class='current'" : "") + ">" + "</span>");
                    });

                    btnHtml.push("</div>");

                    banner.cont.append(btnHtml.join(""));
                    banner.btns = banner.cont.find(".btn span");
                },
                initEvent: function () {
                    banner.cont.hover(banner.onEnter, banner.onLeave);
                    banner.btns.bind("click", banner.onBtnEnter);
                },
                onEnter: function () {
                    if (banner.timer) {
                        window.clearTimeout(banner.timer);
                    }
                },
                onLeave: function () {
                    banner.startTimeTask();
                },
                onBtnEnter: function (e) {
                    if (banner.timer) {
                        window.clearTimeout(banner.timer);
                    }
                    var t = $(e.target);
                    var index = banner.btns.index(t);
                    banner.switchPic(index);
                },
                switchPicTask: function () {
                    var n = banner.getCurrEye();
                    n = (n == banner.eyes.length - 1) ? 0 : (n + 1);

                    banner.switchPic(n);
                },
                startTimeTask: function () {
                    if (banner.timer) {
                        window.clearTimeout(banner.timer);
                    }
                    banner.timer = window.setTimeout(banner.switchPicTask, 3000)
                },
                switchPic: function (n) {
                    if (banner.btns.index(banner.btns.filter(".current")) == n) {
                        return;
                    }
                    banner.eyes.filter(":visible").stop(true, true).animate({ opacity: 'hide' }, 500);
                    banner.btns.removeClass("current").eq(n).addClass("current");
                    banner.eyes.eq(n).stop(true, true).animate({ opacity: 'show' }, 1000, function () {
                        banner.startTimeTask();
                    });
                },
                getCurrEye: function () {
                    var i = parseInt(banner.eyes.filter(":visible").index());
                    return i;
                }
            };
            banner.init();

               function getPlateNumber(showloading) {
                $.ajax({
                    url: '/api/MemberPlate?OpenID=@ViewBag.OpenId',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        if (showloading)
                           $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data != null && res.Data.length>0)
                                _viewModel.MyPlate = res.Data[0].PlateNumber;
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }
            getPlateNumber(false);

            $("#backimg").click(function () {
                history.back(-1);
            });

            $("#homeimg").click(function () {
                window.location.href = "/Mobile/Customer/Home?mch=" + mch;
            });

        });
    </script>
}


