
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="pcenter">
    <div class="top_box">
        <div class="top_box_text">个人中心</div>
        <a><img src="~/Areas/resource/img/mobile/ture.png" class="top_box_img" v-on:click="home"></a>
        <a class="top_box2"></a>
        <a href="#"><img src="~/Areas/resource/img/mobile/home.png" style="width:5%;"></a>
    </div>
    <div class="nav_box" style="position:relative; box-shadow:none;">
        <div>
            <a href="#"><img src="~/Areas/resource/img/mobile/erweima.png" v-on:click="scanQRCode"></a><br>
            扫码付款
        </div>
        <div>
            <a href="#"><img src="~/Areas/resource/img/mobile/kabao.png" v-on:click="membercard"></a><br>
            会员卡包
        </div>
        <div>
            <a href="#"><img src="~/Areas/resource/img/mobile/jingpin.png" v-on:click="shop"></a><br>
            精品商城
        </div>
        <div>
            <a><img src="~/Areas/resource/img/mobile/gwc2.png" v-on:click="shoppingcart"></a><br>
            购物车
        </div>
    </div>
    <div class="user_box">
        <img class="headerimg" src="@ViewBag.HeadImgUrl">
        <div>
            <span>@ViewBag.NickName</span>
            <span style=" font-size:14px; color:#333;">绑定手机：15960248018<a href="#" style="font-size:13px; color:#ff0c4b; float:right; margin-right:4%;">[更换手机]</a></span>
        </div>
    </div>
    <div class="user">
        <a href="#" class="user2">
            <div class="user3">
                <img src="~/Areas/resource/img/mobile/cph.png" style="width:100%;">
            </div>
            <span style="font-size:15px; color:#2d2d30;">我的车牌号</span><br>
            <span style="font-size:13px; color:#999;">{{MyInfo.Plate}}</span><br><br>
        </a>
        <a href="#" class="user2">
            <div class="user3">
                <img src="~/Areas/resource/img/mobile/hyk.png" style="width:100%;">
            </div>
            <span style="font-size:15px; color:#2d2d30;">我的会员卡</span><br>
            <span style="font-size:13px; color:#999;">{{MyInfo.CardCount}}张</span><br><br>
        </a>
        <a href="#" class="user2" style="width:33.4%; border-right:none;">
            <div class="user3">
                <img src="~/Areas/resource/img/mobile/jf.png" style="width:100%;">
            </div>
            <span style="font-size:15px; color:#2d2d30;">我的积分</span><br>
            <span style="font-size:13px; color:#999;">{{MyInfo.Points}}分</span><br><br>
        </a>
        <a href="#" class="user2">
            <div class="user3">
                <img src="~/Areas/resource/img/mobile/dd.png" style="width:100%;">
            </div>
            <span style="font-size:15px; color:#2d2d30;">我的订单</span><br>
            <span style="font-size:13px; color:#999;">商城订单查询</span><br><br>
        </a>
        <a href="#" class="user2">
            <div class="user3">
                <img src="~/Areas/resource/img/mobile/hy.png" style="width:90%;">
            </div>
            <span style="font-size:15px; color:#2d2d30;">会员服务</span><br>
            <span style="font-size:13px; color:#999;">道路救援等</span><br><br>
        </a>
        <a class="user2" style="width:33.4%; border-right:none;" v-on:click="callservicetel">
            <div class="user3">
                <img src="~/Areas/resource/img/mobile/kf.png" style="width:100%;">
            </div>
            <span style="font-size:15px; color:#2d2d30;">我的客服</span><br>
            <span style="font-size:13px; color:#999;">会员专属客服</span><br><br>
        </a>
    </div>
    <ul>
        <li>
            <img src="~/Areas/resource/img/mobile/defaultimg3.png" class="banner bannerbg">
        </li>
    </ul>
    <img src="~/Areas/resource/img/mobile/daodile.png" class="shop_box6">
</div>

@section scripts{
    <style type="text/css">
        .headerimg {
            border-radius: 80px;
        }

        .bannerbg {
            background: #101010;
        }
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=VVCar&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        var mch = $.getUrlParam('mch');
        _viewModel = new Vue({
            el: '#pcenter',
            data: {
                MyInfo: {
                    Plate: '',
                    CardCount: 0,
                    Points: 0,
                }
            },
            methods: {
                home: function (event) {
                    window.location.href = "/Mobile/Customer?mch=" + mch;
                },
                shop: function (event) {
                    window.location.href = "/Mobile/Customer/Shop?mch=" + mch;
                },
                membercard: function (event) {
                    window.location.href = "/Mobile/Customer/MemberCard?mch=" + mch;
                },
                shoppingcart: function (event) {
                    window.location.href = "/Mobile/Customer/ShoppingCart?mch=" + mch;
                },
                scanQRCode: function (event) {
                    wx.scanQRCode({
                        needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                        scanType: ["qrCode", "barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                        success: function (res) {
                            var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                        }
                    });
                },
                callservicetel: function (event) {
                    window.location.href = "tel:0592-1234567";
                },
            }
        });

        function init() {
            $.ajax({
                url: '/api/Member/GetMemberInfoByWeChat?openID=@ViewBag.OpenId',
                type: 'GET',
                headers: { 'CompanyCode':mch },
                beforeSend: function () {
                    $.showLoading();
                },
                success: function (res) {
                    $.hideLoading();
                    if (res.IsSuccessful) {
                        if (res.Data != null) {
                            _viewModel.MyInfo.Plate = res.Data.Plate;
                            _viewModel.MyInfo.CardCount = res.Data.CardCount;
                            _viewModel.MyInfo.Points = res.Data.MemberPoint;
                        }
                        else
                            window.location.href = "/Mobile/Customer?mch=" + mch;
                    } else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                    $.hideLoading();
                }
            });
        }
        init();

    </script>
}


