
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="generalmanagerhome">
    <div class="toubu">代理商</div>
    <div class="touxiang">
        <div style="width:100%; float:left; border-bottom:1px solid #eee;">
            <img style="border-radius:80px;" src="@ViewBag.HeadImgUrl" class="touxiang_img">
            <div class="touxiang_div">
                <span>{{UserInfo.Name}}</span>
                <span style=" font-size:14px; color:#999;">{{UserInfo.MobilePhoneNo}}<a style="font-size:13px; color:#51b3f0; float:right; margin-right:4%;" v-on:click="myinfo">[我的信息]</a></span>
            </div>
        </div>
    </div>
    <div class="touxiang">
        <a class="bq_box" v-on:click="quickopenaccount">
            <div><img src="~/Areas/resource/img/mobile/master/yhqhz.png" style="width:25px;"></div>
            <span>快捷开户</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px; margin-top:0px;">开户</span>
        </a>
        <a class="bq_box" style="width:33.4%" v-on:click="agentdepartment">
            <div><img src="~/Areas/resource/img/mobile/master/hykhx.png" style="width:25px;"></div>
            <span>今日开户</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">共{{UserInfo.TodayOpenAccountCount}}户</span>
        </a>
        <a class="bq_box" style="border-right:none;">
            <div><img src="~/Areas/resource/img/mobile/master/wdyj.png" style="width:23px;"></div>
            <span>我的业绩</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">共{{UserInfo.TotalOpenAccountCount}}户</span>
        </a>
        @*<a class="bq_box" style="width:33.4%;border-bottom:none;">
                <div><img src="~/Areas/resource/img/mobile/master/kjkd.png" style="width:23px;"></div>
                <span>我的分红</span>
                <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">￥{{UserInfo.MonthCommission}}</span>
            </a>*@
        @*<a class="bq_box" style=" border-bottom:none;" v-on:click="membershop">
                <div><img src="~/Areas/resource/img/mobile/master/kjkd.png" style="width:25px;"></div>
                <span>会员开卡</span>
                <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">会员商城</span>
            </a>*@
        @*<a href="#" class="bq_box" style=" border-right:none;border-bottom:none;">
                <div><img src="~/Areas/resource/img/mobile/master/hydt.png" style="width:25px;"></div>
                <span>会员动态</span>
                <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">100位</span>
            </a>*@
        @*<a class="bq_box" style=" border-right:none;" v-on:click="myappointment">
                <div><img src="~/Areas/resource/img/mobile/master/hydt.png" style="width:25px;"></div>
                <span>会员预约</span>
                <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">{{UserInfo.CustomerAppointmentCount}}个预约</span>
            </a>*@
    </div>
    @*<div class="bt_box">代理商管理端</div>*@
    <div class="touxiang" style="margin-top:0px;">
        <a class="bq_box" v-on:click="staffmanager">
            <div><img src="~/Areas/resource/img/mobile/master/dygl.png" style="width:25px; margin-top:5px;"></div>
            <span>人员管理</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px; margin-top:0px;">{{UserInfo.StaffCount}}人</span>
        </a>
        @*<a class="bq_box" style="width:33.4%" v-on:click="membermanager">
                <div><img src="~/Areas/resource/img/mobile/master/hygl.png" style="width:25px;"></div>
                <span>会员管理</span>
                <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">{{UserInfo.MemberCount}}人</span>
            </a>*@
        @*<a class="bq_box" style=" border-right:none;" v-on:click="membercardmanager">
                <div><img src="~/Areas/resource/img/mobile/master/hykgl.png" style="width:25px; margin-top:5px;"></div>
                <span>会员卡管理</span>
                <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">已发行{{UserInfo.MemberCardStockCount}}张</span>
            </a>*@
        <a class="bq_box" style="width:33.4%;border-bottom:none;" v-on:click="salessatement">
            <div><img src="~/Areas/resource/img/mobile/master/mdbb.png" style="width:21px;"></div>
            <span>销售报表</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">报表</span>
        </a>
        <a class="bq_box" style=" border-right:none;border-bottom:none;" v-on:click="mydepartment">
            <div><img src="~/Areas/resource/img/mobile/master/hydt.png" style="width:23px;"></div>
            <span>我的门店</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">门店</span>
        </a>
    </div>
    <div class="touxiang" style="margin-top:0px;">
        <a class="bq_box" v-on:click="reimbursement">
            <div><img src="~/Areas/resource/img/mobile/master/kjkd.png" style="width:25px; margin-top:5px;"></div>
            <span>业务报销</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px; margin-top:0px;">报销</span>
        </a>
        <a class="bq_box" style="width:33.4%;border-bottom:none;" v-on:click="myreimbursement">
            <div><img src="~/Areas/resource/img/mobile/master/hygl.png" style="width:21px;"></div>
            <span>我的报销</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">报销</span>
        </a>
        <a class="bq_box" style=" border-right:none;border-bottom:none;" v-on:click="stockmanager">
            <div><img src="~/Areas/resource/img/mobile/master/hdgl.png" style="width:23px;"></div>
            <span>库存管理</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px;margin-top:0px;">库存</span>
        </a>
    </div>
    <div class="touxiang" style="margin-top:0px;">
        <a class="bq_box" v-on:click="reimbursementcheck">
            <div><img src="~/Areas/resource/img/mobile/master/mdbb.png" style="width:25px; margin-top:5px;"></div>
            <span>报销审核</span>
            <span style="font-size:12px; color:#999; margin-bottom:20px; margin-top:0px;">审核</span>
        </a>
    </div>
    <img src="~/Areas/resource/img/mobile/master/daodile.png" style="width:94%; margin-left:3%; float:left; margin-top:25px; margin-bottom:25px;">
</div>

@section scripts{
    <link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
    <link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {
            var mch = $.getUrlParam('mch');
            sessionStorage.setItem('isgeneralmanager', 'true');
            _viewModel = new Vue({
                el: '#generalmanagerhome',
                data: {
                    UserInfo: {},
                },
                methods: {
                    quickopenaccount: function (event) {
                        window.location.href = "/Mobile/Agent/QuickOpenAccount?mch=" + mch;
                    },
                    agentdepartment: function (event) {
                        window.location.href = "/Mobile/Agent/TodayOpenAccount?mch=" + mch;
                    },
                    myinfo: function (event) {
                        window.location.href = "/Mobile/Agent/MyInfo?mch=" + mch;
                    },
                    staffmanager: function (event) {
                        window.location.href = "/Mobile/Merchant/StaffManager?mch=" + mch;
                    },
                    membermanager: function (event) {
                        //window.location.href = "/Mobile/Agent/MemberManager?mch=" + mch;
                    },
                    stockmanager: function (event) {
                        window.location.href = "/Mobile/Agent/StockManager?mch=" + mch;
                    },
                    salessatement: function (event) {
                        window.location.href = "/Mobile/Agent/SalesStatement?mch=" + mch;
                    },
                    reimbursement: function (event) {
                        window.location.href = "/Mobile/Agent/Reimbursement?mch=" + mch;
                    },
                    myreimbursement: function (event) {
                        window.location.href = "/Mobile/Agent/MyReimbursement?mch=" + mch;
                    },
                    mydepartment: function (event) {
                        window.location.href = "/Mobile/Agent/MyDepartment?mch=" + mch;
                    },
                    reimbursementcheck: function (event) {
                        window.location.href = "/Mobile/Agent/ReimbursementCheck?mch=" + mch;
                    },
                }
            });

              function getUserByOpenId() {
                $.ajax({
                    url: '/api/User/GetUserByOpenID',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    data: {
                        OpenID: '@ViewBag.OpenId',
                        IsGeneralManager: true,
                    },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                sessionStorage.setItem('agentuser', JSON.stringify(res.Data));
                                _viewModel.UserInfo = res.Data;
                            }
                            else {
                                window.location.href = "/Mobile/Agent?mch=" + mch;
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                            window.location.href = "/Mobile/Agent?mch=" + mch;
                        }
                    },
                    error: function () {
                        window.location.href = "/Mobile/Agent?mch=" + mch;
                    }
                });
            }
            getUserByOpenId();
        });
    </script>
}