
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="logisticsmanagement">
    <div class="toubu">
        <a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px; float:left; margin-left:3%; margin-top:18px;"></a>
        物流管理
        <a v-on:click="home"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px; float:right; margin-right:3%; margin-top:18px;"></a>
    </div>
    <div class="touxiang">
        <div style="width:100%; float:left; ">
            <img src="@ViewBag.HeadImgUrl" class="touxiang_img">
            <div class="touxiang_div">
                <span>{{User.Name}}</span>
                <span style=" font-size:14px; color:#999;">物流：{{LogisticsCount}}条</span>
            </div>
        </div>
    </div>
    <div class="kcd_box2">
        <form>
            <input type="text" class="kcgl_input" style="color:#999" placeholder="请输入订单号" id="ordercode">
        </form>
        <div class="kcgl_btn"><img src="~/Areas/resource/img/mobile/master/ss2.png" style="width:20px; padding-top:10px;" v-on:click="search"></div>
    </div>
    <div class="touxiang" v-for="Logistics in LogisticsList">
        <div class="kcgl_box">
            <div class="kcgl">订单号</div>
            <div class="kcgl2">
                <span>{{Logistics.Code}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">订单状态</div>
            <div class="kcgl2">
                <span style="color:#ff0c4c;" v-if="Logistics.Status==-1">付款不足</span>
                <span style="color:#ff0c4c;" v-if="Logistics.Status==0">未付款</span>
                <span style="color:#51b3f0;" v-if="Logistics.Status==1">已付款未发货</span>
                <span style="color:#51b3f0;" v-if="Logistics.Status==2">已发货</span>
                <span style="color:#51b3f0;" v-if="Logistics.Status==3">已完成</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">快递单号</div>
            <div class="kcgl2">
                <span>{{Logistics.ExpressNumber}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">物流公司</div>
            <div class="kcgl2">
                <span>{{Logistics.LogisticsCompany}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">收件人</div>
            <div class="kcgl2">
                <span>{{Logistics.LinkMan}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">联系电话</div>
            <div class="kcgl2">
                <span>{{Logistics.Phone}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">收货地址</div>
            <div class="kcgl2">
                <span>{{Logistics.Address}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">业务员</div>
            <div class="kcgl2">
                <span>{{Logistics.UserName}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">发货人</div>
            <div class="kcgl2">
                <span>{{Logistics.Consigner}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">回访时间</div>
            <div class="kcgl2">
                <span v-if="Logistics.RevisitDays>0">{{Logistics.RevisitDays}}天后</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">回访提示</div>
            <div class="kcgl2">
                <span style="color:#ff0c4c;">{{Logistics.RevisitTips}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">回访状态</div>
            <div class="kcgl2">
                <span style="color:#ff0c4c;" v-if="Logistics.RevisitStatus==0">未回访</span>
                <span v-if="Logistics.RevisitStatus==1">已回访</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">发货清单</div>
            <div class="kcgl2">
                <span>
                    <a style="background-color:#51b3f0;float:left; margin-left:10%; font-size:12px; width:70px;" v-on:click="orderitems(Logistics)">发货清单</a>
                </span>
            </div>
        </div>
        <div class="kcgl_box" style="border:none;">
            <div class="kcgl">操作</div>
            <div class="kcgl2">
                <span>
                    <a style="background-color:#ff0c4c;float:left;margin:10px 3px;" v-on:click="showdelivery(Logistics)">发货</a>
                    <a style="background-color:#51b3f0;float:left;width:65px;margin:10px 3px;" v-on:click="undelivery(Logistics)">取消发货</a>
                    <a style="background-color:#51b3f0;float:left;width:70px;margin:10px 3px;" v-on:click="calllinkman(Logistics)">联系收件人</a>
                </span>
            </div>
        </div>
    </div>
    <div class="kcgl_box2"></div>
    <div class="deliverymain">
        <div class="deliverycon">
            <div class="popcon">
                <img class="closeimg" src="~/Areas/resource/img/mobile/close.png" v-on:click="closedelivery" />
                <div style="text-align:center;padding:5px 0 5px 0;">订单号：{{CurrentLogistics.Code}}</div>
                <div class="quickoatable">
                    <div class="quickoatablecell itemtitle">物流公司</div>
                    <input class="quickoatablecell inputbottom" placeholder="物流公司" v-model:value="Logistics.LogisticsCompany" />
                </div>
                <div class="quickoatable">
                    <div class="quickoatablecell itemtitle">快递单号</div>
                    <input class="quickoatablecell inputbottom" placeholder="快递单号" v-model:value="Logistics.ExpressNumber" />
                </div>
                <div class="quickoatable">
                    <div class="quickoatablecell itemtitle">回访时间</div>
                    <div class="quickoatablecell">
                        <div class="quickoatable" style="width:200px;border:none;">
                            <div class="quickoatablecell itemtitle" style="width:35px;padding:0 10px 0 0;">发货</div>
                            <input type="number" class="quickoatablecell" style="width:80px;text-align:center;border:1px #ccc solid" placeholder="回访时间" v-model:value="Logistics.RevisitDays" />
                            <div class="quickoatablecell itemtitle" style="width:35px;padding:0 25px 0 10px;">天后</div>
                        </div>
                    </div>
                </div>
                <div class="quickoatable">
                    <div class="quickoatablecell itemtitle" style="vertical-align:middle;">回访提示</div>
                    <textarea class="quickoatablecell inputbottom" placeholder="回访提示" v-model:value="Logistics.RevisitTips"></textarea>
                </div>
                <div class="quickoatable">
                    <div class="quickoatablecell itemtitle" style="vertical-align:middle;">业务员</div>
                    <div class="quickoatablecell">
                        <select class="kcd_input" style="width:80px;margin-top:0;" id="userroleselect">
                            <option v-for="UserRole in UserRoleList" v-bind:value="UserRole.ID">{{UserRole.Name}}</option>
                        </select>
                        <select class="kcd_input" style="width:80px;margin-top:0;" id="userselect">
                            <option v-for="User in UserList" v-bind:value="User.ID">{{User.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="quickoatable">
                    <div class="quickoatablecell itemtitle" style="vertical-align:middle;">发货提醒</div>
                    <textarea class="quickoatablecell inputbottom" placeholder="发货提醒" v-model:value="Logistics.DeliveryTips"></textarea>
                </div>
                <div class="confirmdelivery" v-on:click="delivery">确认发货</div>
            </div>
        </div>
    </div>
    <div class="orderitemsmain">
        <div class="deliverycon">
            <div style="width:100%;text-align:center;padding:20px 0 10px 0;">发货清单</div>
            <img class="closeimg" src="~/Areas/resource/img/mobile/close.png" v-on:click="closeorderitems" />
            <div class="kcgl_box" style="height:80px;" v-for="OrderItem in CurrentLogistics.OrderItemList" v-if="OrderItem.ProductType==1">
                <div class="kcgl" style="width:30%;height:100%;">
                    <img class="productdetailsimg" v-bind:src=OrderItem.ImgUrl />
                </div>
                <div class="kcgl" style="width:45%;height:80px;line-height:80px;">{{OrderItem.ProductName}}</div>
                <div class="kcgl" style="width:25%;height:80px;line-height:80px;">{{OrderItem.Quantity}}</div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <style type="text/css">
        #logisticsmanagement {
            position: absolute;
        }

        .deliverymain {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.6);
            display: none;
        }

        .orderitemsmain {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.6);
            display: none;
        }

        .deliverycon {
            position: fixed;
            top: 10px;
            left: 20px;
            right: 20px;
            bottom: 10px;
            background: rgba(255,255,255,1);
            -webkit-overflow-scrolling: touch;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .closeimg {
            position: absolute;
            top: 3px;
            right: 3px;
            width: 20px;
        }

        .distributionmaincon {
            padding-top: 15px;
            -webkit-overflow-scrolling: touch;
        }

        .itemtitle {
            width: 110px;
            color: #696969;
        }

        .inputbottom {
            font-size: 15px;
        }

        .quickoatable {
            display: table;
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px #ccc solid;
        }

        .quickoatablecell {
            display: table-cell;
        }

        .confirmdelivery {
            margin: 18px 20px 20px 20px;
            background: #51b3f0;
            color: #fff;
            text-align: center;
            height: 40px;
            line-height: 40px;
        }

        input {
            border: none;
            height: 40px;
        }

        .popcon {
            padding: 13px;
        }

        .productdetailsimg {
            width: 80px;
            height: 60px;
            margin-top: 10px;
        }

        textarea {
            box-shadow: 0px 0px 0px rgba(0,0,0,0);
            -webkit-appearance: none;
            height: 80px;
            border: 1px #ccc solid;
            width: 100%;
        }
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
    <link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="~/Areas/resource/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {
        var mch = $.getUrlParam('mch');
        var user = sessionStorage.getItem('user');
        var isgeneralmanager = sessionStorage.getItem('isgeneralmanager') == 'true';
        var issalesmanger = sessionStorage.getItem('isgeneralmanager') == 'false';
        _viewModel = new Vue({
            el: '#logisticsmanagement',
            data: {
                User: {},
                LogisticsList: [],
                LogisticsCount: 0,
                UserRoleList: [],
                UserList: [],
                Logistics: {
                    ID:'',
                    UserID: '',
                    ConsignerID:'',
                    RevisitDays: 0,
                    RevisitTips: '',
                    DeliveryTips: '',
                    LogisticsCompany:'',
                    ExpressNumber:'',
                },
                CurrentLogistics: {},
            },
            methods: {
                back: function (event) {
                    history.back(-1);
                },
                home: function (event) {
                    if (isgeneralmanager || issalesmanger)
                        window.location.href = "/Mobile/Agent/GeneralManagerHome?mch=" + mch;
                    else
                        window.location.href = "/Mobile/Merchant/MasterHome?mch=" + mch;
                },
                search: function (event) {
                    search();
                },
                orderitems: function (data, event) {
                    _viewModel.CurrentLogistics = data;
                    console.log(JSON.stringify(data));
                    $('.orderitemsmain').show();
                },
                closeorderitems: function (data, event) {
                    $('.orderitemsmain').hide();
                },
                showdelivery: function (data, event) {
                    _viewModel.CurrentLogistics = data;
                    $('.deliverymain').show();
                },
                delivery: function (data, event) {
                    if (data == null || data == '') {
                        $.alert('参数错误');
                        return;
                    }
                    if (data.Status == -1) {
                        $.alert('订单付款不足');
                        return;
                    }
                    if (data.Status == 0) {
                        $.alert('订单未付款');
                        return;
                    }
                    if (data.Status == 2) {
                        $.alert('订单已发货');
                        return;
                    }
                    if (data.Status == 3) {
                        $.alert('订单已完成');
                        return;
                    }
                    if (_viewModel.Logistics == null || _viewModel.Logistics == '') {
                        $.alert('参数错误');
                        return;
                    }
                    _viewModel.Logistics.ID = _viewModel.CurrentLogistics.ID;
                    if (_viewModel.Logistics.ID == null || _viewModel.Logistics.ID == '') {
                        $.alert('参数错误');
                        return;
                    }
                    if (_viewModel.Logistics.LogisticsCompany == null || _viewModel.Logistics.LogisticsCompany == '') {
                        $.alert('请先填写物流公司');
                        return;
                    }
                    if (_viewModel.Logistics.ExpressNumber == null || _viewModel.Logistics.ExpressNumber == '') {
                        $.alert('请先填写快递单号');
                        return;
                    }
                    _viewModel.Logistics.UserID = $('#userselect').val();
                    $.confirm('确认发货？', function () {
                        delivery();
                    });
                },
                undelivery: function (data, event) {
                    $.confirm('确定取消发货？', function () {
                        undelivery(data.ID);
                    });
                },
                calllinkman: function (data, event) {
                    window.location.href ="tel://"+ data.Phone;
                },
                closedelivery: function (data, event) {
                    $('.deliverymain').hide();
                },
            }
        });

            var userdata = {
                OpenID: '@ViewBag.OpenId',
                IsManager: false,
            };
            if (isgeneralmanager || issalesmanger) {
                userdata = {
                    OpenID: '@ViewBag.OpenId',
                    IsGeneralManager: isgeneralmanager,
                    IsSalesManger: !isgeneralmanager,
                };
            }

            function getUserByOpenId() {
                $.ajax({
                    url: '/api/User/GetUserByOpenID',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    data: userdata,
                    success: function (res) {
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                _viewModel.User = res.Data;
                                _viewModel.Logistics.ConsignerID = res.Data.ID;
                                sessionStorage.setItem('user', JSON.stringify(res.Data));
                            }
                            else {
                                _viewModel.home();
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                            _viewModel.home();
                        }
                    },
                    error: function () {
                        _viewModel.home();
                    }
                });
            }
            if (user == null || user == '') {
                getUserByOpenId();
            } else {
                var user = JSON.parse(user);
                _viewModel.User = user;
                _viewModel.Logistics.ConsignerID = user.ID;
            }

            function search() {
                var ordercode = $('#ordercode').val();
                $.ajax({
                    url: '/api/Order?IsLogistics=true&TradeNo=' + ordercode,
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            _viewModel.LogisticsList = res.Data;
                            _viewModel.LogisticsCount = res.Data.length;
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }
            search();

            function getRole() {
                $.ajax({
                    url: '/api/Role?All=false',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            _viewModel.UserRoleList = res.Data;
                            if (res.Data != null && res.Data.length > 0)
                                getUser(res.Data[0].ID);
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                    }
                });
            }
            getRole();

            function getUser(roleid) {
                if (roleid == null || roleid == '')
                    return;
                $.ajax({
                    url: '/api/UserRole?All=false&RoleID=' + roleid,
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            _viewModel.UserList = [];
                            if (res.Data != null) {
                                for (var i = 0; i < res.Data.length; i++) {
                                    _viewModel.UserList.push(res.Data[i].User);
                                }
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                    }
                });
            }

            $('#userroleselect').change(function () {
                var value = $(this).val();
                getUser(value);
            });

            function delivery() {
                //$.alert(JSON.stringify(_viewModel.Logistics));
                //return;
                console.log(JSON.stringify(_viewModel.Logistics));
                $.ajax({
                    url: '/api/Order/DeliveryByWeChat',
                    type: 'POST',
                    data: _viewModel.Logistics,
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data) {
                                $('.deliverymain').hide();
                                $.toast('操作成功');
                                search();
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

            function undelivery(id) {
                if (id == null||id=='') {
                    $.alert('参数错误');
                    return;
                }
                $.ajax({
                    url: '/api/Order/AntiDeliveryByWeChat?id=' + id,
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data) {
                                $.toast('操作成功');
                                search();
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

        });
    </script>
}