
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="ordermanagement">
    <div class="toubu">
        <a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px; float:left; margin-left:3%; margin-top:18px;"></a>
        订单管理
        <a v-on:click="home"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px; float:right; margin-right:3%; margin-top:18px;"></a>
    </div>
    <div class="touxiang">
        <div style="width:100%;float:left; ">
            <img src="@ViewBag.HeadImgUrl" class="touxiang_img">
            <div class="touxiang_div">
                <span>{{User.Name}}</span>
                <span style=" font-size:14px; color:#999;">订单：{{OrderCount}}条</span>
            </div>
        </div>
        <div class="kcd_btn" style="position:absolute;top:80px;right:20px;" v-on:click="showaddorder">添加订单</div>
    </div>
    <div class="kcd_box2">
        <form>
            <input type="text" class="kcgl_input" style="color:#999;width:200px;" placeholder="订单号/手机号码/收件人" id="ordercode">
        </form>
        <div class="kcgl_btn"><img src="~/Areas/resource/img/mobile/master/ss2.png" style="width:20px; padding-top:10px;" v-on:click="search"></div>
    </div>
    <div class="touxiang" v-for="Order in OrderList">
        <div class="kcgl_box">
            <div class="kcgl">订单号</div>
            <div class="kcgl2">
                <span>{{Order.Code}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">订单状态</div>
            <div class="kcgl2">
                <span style="color:#ff0c4c;" v-if="Order.Status==-2">挂账</span>
                <span style="color:#ff0c4c;" v-if="Order.Status==-1">付款不足</span>
                <span style="color:#ff0c4c;" v-if="Order.Status==0">未付款</span>
                <span style="color:#51b3f0;" v-if="Order.Status==1">已付款未发货</span>
                <span style="color:#51b3f0;" v-if="Order.Status==2">已发货</span>
                <span style="color:#51b3f0;" v-if="Order.Status==3">已完成</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">快递单号</div>
            <div class="kcgl2">
                <span>{{Order.ExpressNumber}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">收件人</div>
            <div class="kcgl2">
                <span>{{Order.LinkMan}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">联系电话</div>
            <div class="kcgl2">
                <span>{{Order.Phone}}</span>
                <span>
                    <a style="background-color:#51b3f0;float:right; margin-right:10px; font-size:12px; width:35px;" v-on:click="calllinkman(Order)">呼叫</a>
                </span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">收货地址</div>
            <div class="kcgl2">
                <span>{{Order.Address}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">业务员</div>
            <div class="kcgl2">
                <span>{{Order.UserName}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">订单详情</div>
            <div class="kcgl2">
                <span>
                    <a style="background-color:#51b3f0;float:left; margin-left:10%; font-size:12px; width:70px;" v-on:click="orderitems(Order)">订单详情</a>
                </span>
            </div>
        </div>
        @*<div class="kcgl_box" style="border:none;">
                <div class="kcgl">操作</div>
                <div class="kcgl2">
                    <span>
                        <a style="background-color:#51b3f0;float:left;width:70px;margin:10px 3px;" v-on:click="calllinkman(Order)">联系收件人</a>
                    </span>
                </div>
            </div>*@
    </div>
    <div class="kcgl_box2"></div>
    <div class="addordermain">
        <div class="deliverycon">
            <div class="popcon">
                <img class="closeimg" src="~/Areas/resource/img/mobile/close.png" v-on:click="closeaddorder" />
                <div class="kcgl" style="width:100%;border:none;line-height:30px;">添加订单</div>
                <div class="quickoatable">
                    <div class="quickoatablecell itemtitle" style="vertical-align:middle;">客户</div>
                    <div class="quickoatablecell">
                        <select class="kcd_input" style="width:100px;margin:0;" id="agentdepartmentselect">
                            <option value="-1">选择客户</option>
                            <option v-for="AgentDepartment in AgentDepartmentList" v-bind:value="JSON.stringify(AgentDepartment)">{{AgentDepartment.Name}}</option>
                        </select>
                    </div>
                </div>
                <div class="quickoatable">
                    <div class="quickoatablecell itemtitle">联系人</div>
                    <input class="quickoatablecell inputbottom" placeholder="联系人" v-model:value="Order.LinkMan" />
                </div>
                <div class="quickoatable">
                    <div class="quickoatablecell itemtitle">联系电话</div>
                    <input class="quickoatablecell inputbottom" placeholder="联系电话" v-model:value="Order.Phone" />
                </div>
                <div class="quickoatable">
                    <div class="quickoatablecell itemtitle">收货地址</div>
                    <textarea class="quickoatablecell inputbottom" placeholder="收货地址" v-model:value="Order.Address"></textarea>
                </div>
                <div class="quickoatable">
                    <div class="quickoatablecell itemtitle" style="vertical-align:middle;">挂单</div>
                    <input class="quickoatablecell" type="checkbox" style="-webkit-appearance:checkbox;" id="oncredit" />
                </div>
                <div class="quickoatable">
                    <div class="quickoatablecell itemtitle">备注</div>
                    <textarea class="quickoatablecell inputbottom" placeholder="备注" v-model:value="Order.Remark"></textarea>
                </div>
                <div style="font-size:13px;color:#2d2d30;margin:5px 0;">产品选择</div>
                <div class="kcd_box2" style="margin:0;width:100%;float:none;">
                    <select class="kcd_input" id="productcategoryselect">
                        <option v-for="ProductCategory in ProductCategoryList" v-bind:value="ProductCategory.ID">{{ProductCategory.Name}}</option>
                    </select>
                    <select class="kcd_input" id="productselect">
                        <option v-for="Product in ProductList" v-bind:value="Product.ID">{{Product.Name}}</option>
                    </select>
                    <div class="kcd_btn" v-on:click="addproduct">增加</div>
                </div>
                @*<div class="quickoatable" style="padding-top:50px;" v-for="Product in CurrentProductList">
                        <div class="quickoatablecell">
                            <img class="selectproductimg" v-bind:src=Product.ImgUrl />
                        </div>
                        <div class="quickoatablecell">{{Product.Name}}</div>
                        <input type="number" class="quickoatablecell" min="0" v-model:value="Product.Quantity" />
                        <div class="quickoatablecell" v-bind:click="removeproduct(Product)">移除</div>
                    </div>*@
                <div class="selectproductcon" v-for="Product in CurrentProductList">
                    <img class="closeimg" style="position:relative;float:right;margin-bottom:-20px;" src="~/Areas/resource/img/mobile/close.png" v-on:click="removeproduct(Product)" />
                    <div class="ordermanagementtable">
                        <div class="ordermanagementtablecell selectproducttitle">名称</div>
                        <div class="ordermanagementtablecell" style="color:#51b3f0;">{{Product.Name}}</div>
                    </div>
                    <div class="ordermanagementtable">
                        <div class="ordermanagementtablecell selectproducttitle">编码</div>
                        <div class="ordermanagementtablecell">{{Product.Code}}</div>
                    </div>
                    <div class="ordermanagementtable">
                        <div class="ordermanagementtablecell selectproducttitle">销售单价</div>
                        <div class="ordermanagementtablecell">{{Product.PriceSale}}</div>
                    </div>
                    <div class="ordermanagementtable">
                        <div class="ordermanagementtablecell selectproducttitle" style="vertical-align:middle;">图片</div>
                        <div class="ordermanagementtablecell">
                            <img class="productdetailsimg" v-bind:src=Product.ImgUrl />
                        </div>
                    </div>
                    <div class="ordermanagementtable">
                        <div class="ordermanagementtablecell selectproducttitle">数量</div>
                        <div class="ordermanagementtablecell">
                            <input type="number" style="border:1px solid #ccc;width:80px;height:30px;text-align:center;" min="1" v-model:value="Product.Quantity" />
                        </div>
                    </div>
                    @*<div class="ordermanagementtable">
                            <div class="ordermanagementtablecell selectproducttitle">操作</div>
                            <div class="ordermanagementtablecell">
                                <div class="removeproduct" v-on:click="removeproduct(Product)">删除</div>
                            </div>
                        </div>*@
                </div>
                <div class="confirmdelivery" v-on:click="confirmorder">提交</div>
            </div>
        </div>
    </div>
    <div class="orderitemsmain">
        <div class="deliverycon">
            <div style="width:100%;text-align:center;padding:20px 0 10px 0;">订单详情</div>
            <img class="closeimg" src="~/Areas/resource/img/mobile/close.png" v-on:click="closeorderitems" />
            <div class="kcgl_box" style="height:80px;" v-for="OrderItem in CurrentOrder.OrderItemList" v-if="OrderItem.ProductType==1">
                <div class="kcgl" style="width:30%;height:100%;">
                    <img class="productdetailsimg" v-bind:src=OrderItem.ImgUrl />
                </div>
                <div class="kcgl" style="width:45%;height:80px;line-height:80px;">{{OrderItem.ProductName}}</div>
                <div class="kcgl" style="width:25%;height:80px;line-height:80px;">{{OrderItem.Quantity}}</div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <style type="text/css">
        #ordermanagement {
            position: absolute;
        }

        .addordermain {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.6);
            display: none;
        }

        .orderitemsmain {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.6);
            display: none;
        }

        .deliverycon {
            position: fixed;
            top: 10px;
            left: 20px;
            right: 20px;
            bottom: 10px;
            background: rgba(255,255,255,1);
            -webkit-overflow-scrolling: touch;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .closeimg {
            position: absolute;
            top: 3px;
            right: 3px;
            width: 20px;
        }

        .distributionmaincon {
            padding-top: 15px;
            -webkit-overflow-scrolling: touch;
        }

        .itemtitle {
            width: 80px;
            color: #696969;
        }

        .inputbottom {
            font-size: 15px;
        }

        .quickoatable {
            display: table;
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px #ccc solid;
        }

        .quickoatablecell {
            display: table-cell;
        }

        .ordermanagementtable {
            display: table;
            width: 100%;
            padding: 0 5px;
            min-height: 35px;
        }

        .ordermanagementtablecell {
            display: table-cell;
            vertical-align: middle;
        }

        .selectproductcon {
            padding: 5px 0;
            width: 100%;
            color: #696969;
            box-shadow: 0 0 20px #f1f1f1;
        }

        .confirmdelivery {
            margin: 18px 13px 20px 13px;
            background: #51b3f0;
            color: #fff;
            text-align: center;
            height: 40px;
            line-height: 40px;
        }

        .removeproduct {
            background: #51b3f0;
            color: #fff;
            text-align: center;
            width: 40px;
            position: relative;
            top: 5px;
            right: 5px;
            float: right;
            border-radius: 3px;
        }

        input {
            border: none;
            height: 40px;
        }

        .popcon {
            padding: 13px;
        }

        .productdetailsimg {
            width: 80px;
            height: 60px;
            margin-top: 10px;
        }

        textarea {
            box-shadow: 0px 0px 0px rgba(0,0,0,0);
            -webkit-appearance: none;
            height: 80px;
            border: 1px #ccc solid;
            width: 100%;
        }

        .selectproductimg {
            width: 80px;
            height: 60px;
        }

        .selectproducttitle {
            width: 80px;
        }
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
    <link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="~/Areas/resource/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {
        var mch = $.getUrlParam('mch');
        var user = sessionStorage.getItem('user');
        var isgeneralmanager = sessionStorage.getItem('isgeneralmanager') == 'true';
        var issalesmanger = sessionStorage.getItem('isgeneralmanager') == 'false';
        _viewModel = new Vue({
            el: '#ordermanagement',
            data: {
                User: {},
                OrderList: [],
                OrderCount: 0,
                AgentDepartmentList: [],
                Order: {
                    AgentDepartmentID:'',
                    LinkMan: '',
                    Phone:'',
                    Address: '',
                    Status: 0,
                    Source:1,
                    Remark:'',
                    UserID: '',
                    OrderItemList: [],
                },
                CurrentOrder: {},
                ProductCategoryList: [],
                ProductList: [],
                CurrentProduct: {},
                CurrentProductList:[],
            },
            methods: {
                back: function (event) {
                    history.back(-1);
                },
                home: function (event) {
                    if (isgeneralmanager || issalesmanger)
                        window.location.href = "/Mobile/Agent/GeneralManagerHome?mch=" + mch;
                    else
                        window.location.href = "/Mobile/Merchant/MasterHome?mch=" + mch;
                },
                search: function (event) {
                    search();
                },
                orderitems: function (data, event) {
                    _viewModel.CurrentOrder = data;
                    $('.orderitemsmain').show();
                },
                closeorderitems: function (data, event) {
                    $('.orderitemsmain').hide();
                },
                showaddorder: function (event) {
                    _viewModel.CurrentProductList = [];
                    _viewModel.Order = {
                        AgentDepartmentID: '',
                        LinkMan: '',
                        Phone: '',
                        Address: '',
                        Status: 0,
                        Source: 1,
                        Remark: '',
                        UserID: '',
                        OrderItemList: [],
                    };
                    $('#oncredit')[0].checked = false;
                    $('#agentdepartmentselect').val(-1);
                    $('.addordermain').show();
                },
                addorder: function (data, event) {
                    if (data == null || data == '') {
                        $.alert('参数错误');
                        return;
                    }
                    if (_viewModel.Order == null || _viewModel.Order == '') {
                        $.alert('参数错误');
                        return;
                    }
                    _viewModel.Order.AgentDepartmentID = $('#agentdepartmentselect').val();
                    $.confirm('确认添加？', function () {
                        addorder();
                    });
                },
                calllinkman: function (data, event) {
                    window.location.href ="tel://"+ data.Phone;
                },
                closeaddorder: function (data, event) {
                    $('.addordermain').hide();
                },
                addproduct: function (event) {
                    var addflag = true;
                    for (var i = 0; i < _viewModel.CurrentProductList.length; i++) {
                        if (_viewModel.CurrentProductList[i].ID == _viewModel.CurrentProduct.ID) {
                            addflag = false;
                        }
                    }
                    if (addflag) {
                        var currentProduct=$.extend(true, {}, _viewModel.CurrentProduct);
                            currentProduct.Quantity = 1;
                        _viewModel.CurrentProductList.push(currentProduct);
                    }
                },
                removeproduct: function (data, event) {
                    if (data == null)
                        return;
                    var index = -1;
                    for (var i = 0; i < _viewModel.CurrentProductList.length; i++) {
                        if (_viewModel.CurrentProductList[i].ID == data.ID) {
                            index = i;
                            break;
                        }
                    }
                    if (index != -1)
                        _viewModel.CurrentProductList.splice(index, 1);
                },
                confirmorder: function (event) {
                    if (_viewModel.Order.AgentDepartmentID == null || _viewModel.Order.AgentDepartmentID == '') {
                        $.alert('请先选择客户');
                        return;
                    }
                    if (_viewModel.Order.LinkMan == null || _viewModel.Order.LinkMan == '') {
                        $.alert('请先填写联系人');
                        return;
                    }
                    if (_viewModel.Order.Phone == null || _viewModel.Order.Phone == '') {
                        $.alert('请先填写联系电话');
                        return;
                    }
                    if (_viewModel.Order.Address == null || _viewModel.Order.Address == '') {
                        $.alert('请先填写收货地址');
                        return;
                    }
                    if (_viewModel.CurrentProductList == null || _viewModel.CurrentProductList.length < 1) {
                        $.alert('请先选择产品');
                        return;
                    }
                    _viewModel.Order.OrderItemList = [];
                    for (var i = 0; i < _viewModel.CurrentProductList.length; i++) {
                        var product= _viewModel.CurrentProductList[i];
                        var orderitem = {
                            GoodsID: product.ID,
                            ImgUrl: product.ImgUrl,
                            ProductName: product.Name,
                            ProductType: 1,
                            Quantity: product.Quantity,
                            PriceSale: product.PriceSale,
                            //Money:0,
                        }
                        _viewModel.Order.OrderItemList.push(orderitem);
                    }
                    if ($('#oncredit')[0].checked) {
                        _viewModel.Order.Status = -2;
                    } else {
                        _viewModel.Order.Status = 0;
                    }
                    _viewModel.Order.UserID = _viewModel.User.ID;
                    //$.alert(JSON.stringify(_viewModel.Order));
                    $.confirm('确认提交？', function () {
                        addorder();
                    });
                }
            }
        });

            var userdata = {
                OpenID: '@ViewBag.OpenId',
                IsManager: false,
            };
            if (isgeneralmanager || issalesmanger) {
                userdata = {
                    OpenID: '@ViewBag.OpenId',
                    IsGeneralManager: isgeneralmanager,
                    IsSalesManger: !isgeneralmanager,
                };
            }

            function getUserByOpenId() {
                $.ajax({
                    url: '/api/User/GetUserByOpenID',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    data: userdata,
                    success: function (res) {
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                _viewModel.User = res.Data;
                                _viewModel.Order.UserID = res.Data.ID;
                                sessionStorage.setItem('user', JSON.stringify(res.Data));
                            }
                            else {
                                _viewModel.home();
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                            _viewModel.home();
                        }
                    },
                    error: function () {
                        _viewModel.home();
                    }
                });
            }
            if (user == null || user == '') {
                getUserByOpenId();
            } else {
                var user = JSON.parse(user);
                _viewModel.User = user;
                _viewModel.Order.UserID = user.ID;
            }

            function search() {
                var ordercode = $('#ordercode').val();
                $.ajax({
                    url: '/api/Order?TNoLMPAddEN=' + ordercode,
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            _viewModel.OrderList = res.Data;
                            _viewModel.OrderCount = res.Data.length;
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }
            search();

            function getAgentDepartment() {
                $.ajax({
                    url: '/api/AgentDepartment',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                _viewModel.AgentDepartmentList = res.Data;
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                    }
                });
            }
            getAgentDepartment();

            function addorder() {
                if (_viewModel.Order == null)
                    return;
                $.ajax({
                    url: '/api/Order',
                    type: 'POST',
                    data: _viewModel.Order,
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                $('.addordermain').hide();
                                $.toast('添加成功');
                                search();
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

            function getProductCategory() {
                $.ajax({
                    url: '/api/ProductCategory?IsFromStockManager=true',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            _viewModel.ProductCategoryList = res.Data;
                            if (res.Data != null && res.Data.length > 0) {
                                _viewModel.ProductList = res.Data[0].SubProducts;
                                if (_viewModel.ProductList != null && _viewModel.ProductList.length > 0) {
                                    _viewModel.CurrentProduct = _viewModel.ProductList[0];
                                }
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }
            getProductCategory();

            $('#productcategoryselect').change(function () {
                var value = $(this).val();
                for (var i = 0; i < _viewModel.ProductCategoryList.length; i++) {
                    if (_viewModel.ProductCategoryList[i].ID == value) {
                        _viewModel.ProductList = _viewModel.ProductCategoryList[i].SubProducts;
                        if (_viewModel.ProductList != null && _viewModel.ProductList.length > 0) {
                            _viewModel.CurrentProduct = _viewModel.ProductList[0];
                        }
                        break;
                    }
                }
            });

            $('#productselect').change(function () {
                var value = $(this).val();
                for (var i = 0; i < _viewModel.ProductList.length; i++) {
                    if (_viewModel.ProductList[i].ID == value) {
                        _viewModel.CurrentProduct = _viewModel.ProductList[i];
                        break;
                    }
                }
            });

            $('#agentdepartmentselect').change(function () {
                var value = $(this).val();
                if (value == null || value == '')
                    return;
                if (value == -1) {
                    _viewModel.Order = {
                        AgentDepartmentID: '',
                        LinkMan: '',
                        Phone: '',
                        Address: '',
                        Status: 0,
                        Source: 1,
                        Remark: '',
                        UserID: '',
                        OrderItemList: [],
                    };
                    return;
                }
                var data = JSON.parse(value);
                if (data != null) {
                    _viewModel.Order.AgentDepartmentID = data.ID;
                    _viewModel.Order.LinkMan = data.LegalPerson;
                    _viewModel.Order.Phone = data.MobilePhoneNo;
                    _viewModel.Order.Address = data.CompanyAddress;
                    //_viewModel.Order.UserID = data.UserID;
                }
            });

        });
    </script>
}
