
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="potentialclients" class="main">
    <div class="toubu">
        <a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px; float:left; margin-left:3%; margin-top:18px;"></a>
        <div class="title">填写客户信息</div>
        <a v-on:click="home" class="homeposition"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px; float:right; margin-right:3%; margin-top:18px;"></a>
    </div>
    <div class="contentcon">
        <div class="quickoatable">
            <div class="quickoatablecell itemtitle">商户名称</div>
            <input class="quickoatablecell inputbottom" placeholder="商户名称" v-model:value="AgentDepartment.Name" />
        </div>
        <div class="quickoatable">
            <div class="quickoatablecell itemtitle">法人（负责人）</div>
            <input class="quickoatablecell inputbottom" placeholder="法人（负责人）" v-model:value="AgentDepartment.LegalPerson" />
        </div>
        <div class="quickoatable">
            <div class="quickoatablecell itemtitle">手机号码</div>
            <input type="number" class="quickoatablecell inputbottom" placeholder="手机号码" v-model:value="AgentDepartment.MobilePhoneNo" />
        </div>
        <div class="quickoatable">
            <div class="quickoatablecell itemtitle" style="vertical-align:middle;">
                公司地址
                <img class="locationimg" src="~/Areas/resource/img/mobile/location.png" />
            </div>
            <textarea class="quickoatablecell inputbottom" placeholder="公司地址" v-model:value="AgentDepartment.CompanyAddress"></textarea>
        </div>
        <div class="quickoatable">
            <div class="quickoatablecell itemtitle" style="vertical-align:middle;">类别</div>
            <div class="quickoatablecell">
                <select class="kcd_input" style="width:120px;margin:0;" id="agentdepartmentcategoryselect">
                    <option v-for="AgentDepartmentCategory in AgentDepartmentCategoryList" v-bind:value="AgentDepartmentCategory.ID">{{AgentDepartmentCategory.Name}}</option>
                </select>
            </div>
        </div>
        <div class="quickoatable">
            <div class="quickoatablecell itemtitle" style="vertical-align:middle;">客户标签</div>
            <div class="quickoatablecell">
                <div class="tagselectbtn" v-on:click="showtag">选择标签</div>
            </div>
        </div>
    </div>
    <div class="uploadcon">
        <div class="uploadimgcon Department" id="uploadDepartmentImage">
            <span class="btn btn-default plateconpre">
                <img class="addimg" src="~/Areas/resource/img/mobile/staff/jh.png" id="Department"><br>
                <img class="uploadimg" /><br>
                <input class="fileinput" type="file" accept="image/*">
            </span>
            <div class="tips">门店照片</div>
        </div>
    </div>
    <div class="confirmbtn" v-on:click="confirm">提交</div>
    <div class="tagmain">
        <div class="tagcon">
            <img class="closeimg" src="~/Areas/resource/img/mobile/close.png" v-on:click="closetag" />
            <div class="tagtitle">选择标签</div>
            <div class="tagitemcon">
                <div class="tag" v-for="Tag in TagList" v-on:click="tagclick(Tag,$event)">{{Tag.Name}}</div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <style type="text/css">
        .main {
            font-size: 15px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            -webkit-overflow-scrolling: touch;
        }

        .contentcon {
            margin: 0px 20px;
            background: #fff;
        }

        .quickoatable {
            display: table;
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px #ccc solid;
        }

        .quickoatablecell {
            display: table-cell;
        }

        .widthfill {
            width: 100%;
        }

        .platecon {
            position: relative;
            top: 0px;
            left: 0px;
            right: 0px;
            text-align: center;
            /*display: none;*/
            height: 188px;
        }

        .fileinput {
            position: relative;
            top: -200px;
            right: 0;
            margin: 0;
            opacity: 0;
            -ms-filter: 'alpha(opacity=0)';
            width: 100%;
            direction: ltr;
            cursor: pointer;
            height: 100%;
            pointer-events: all;
        }

        .plateimg {
            width: 100%;
            height: 188px;
            border-radius: 5px;
        }

        .uploadimgcon {
            width: 94%;
            float: left;
            margin-top: 30px;
            border-radius: 10px;
            border: 3px dashed #ddd;
            text-align: center;
            margin-left: 3%;
            box-sizing: border-box;
            height: 200px;
        }

        .plateconpre {
            position: relative;
            top: 0px;
            left: 0px;
            right: 0px;
            text-align: center;
            overflow: hidden;
            height: 188px;
        }

        .addimg {
            height: 25px;
            width: 25px;
            margin-top: 55px;
        }

        .tips {
            position: relative;
            top: -250px;
            left: 0;
            right: 0;
            color: #999;
            font-size: 15px;
            text-align: center;
        }

        .itemtitle {
            width: 110px;
            color: #696969;
        }

        input {
            width: 100%;
            border: none;
            height: 30px;
        }

        .inputbottom {
            /*border-bottom: 1px #ccc solid;*/
            font-size: 15px;
        }

        .confirmbtn {
            /*position: relative;*/
            /*top: 600px;*/
            margin: 30px 20px 25px 20px;
            background: #51b3f0;
            color: #fff;
            text-align: center;
            height: 50px;
            line-height: 50px;
        }

        .uploadcon {
            position: relative;
            height: 250px;
            margin: 0 8px;
            pointer-events: none;
        }

        textarea {
            width: 100%;
            border: 1px #ccc solid;
            height: 65px;
            box-shadow: 0px 0px 0px rgba(0,0,0,0);
            -webkit-appearance: none;
        }

        .uploadimg {
            height: 191px;
            width: 100%;
            margin-top: -85px;
        }

        .tagmain {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,0.6);
            display: none;
        }

        .tagcon {
            position: absolute;
            top: 50px;
            left: 20px;
            right: 20px;
            bottom: 80px;
            background: rgba(255,255,255,1);
        }

        .tagselectbtn {
            padding: 5px;
            background: #51b3f0;
            color: #fff;
            text-align: center;
            width: 75px;
        }

        .tag {
            padding: 0px 5px;
            border: 1px #CCC solid;
            color: #ccc;
            float: left;
            background: #fff;
            margin: 10px 5px;
        }

        .tagselected {
            border: 1px #51b3f0 solid;
            color: #51b3f0;
        }

        .closeimg {
            position: absolute;
            top: 3px;
            right: 3px;
            width: 20px;
        }

        .tagtitle {
            color: #696969;
            padding: 30px 0 5px 13px;
        }

        .tagitemcon {
            margin: 10px 13px;
        }

        .locationimg {
            width: 20px;
            margin: 3px 0 0 5px;
        }
    </style>
    @Styles.Render("~/content/jquery-fileupd")
    @Scripts.Render("~/bundles/jquery-fileupd")
    <script id="template-upload" type="text/x-jquery-tmpl">
    </script>
    <script id="template-download" type="text/x-jquery-tmpl">
    </script>
    <link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
    <link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {

            var uploadimgcons = $('.uploadimgcon');
            if (uploadimgcons != null && uploadimgcons != '') {
                for (var i = 0; i < uploadimgcons.length; i++) {
                    var target = uploadimgcons[i];
                    var uploadurl = "/api/UploadFile/UploadDepartment";
                    uploadImage($(target).attr('id'), uploadurl);
                }
            }

            function uploadImage(id, url) {
                if (id == null || id == '' || url == null || url == '')
                    return;
                $('#' + id).fileupload({
                    dropZone: $('#' + id),
                    pasteZone: $('#' + id),
                    dataType: 'json',
                    autoUpload: true,
                    url: url,
                    add: function (e, data) {
                        var uploadErrors = [];
                        var acceptFileTypes = /(gif|jpe?g|png|bmp)$/i;
                        if (!acceptFileTypes.test(data.originalFiles[0]['name'])) {
                            uploadErrors.push('不允许的文件类型');
                        }
                        if (uploadErrors.length > 0) {
                            $.alert(uploadErrors.join(", "));
                        } else {
                            data.submit();
                        }
                    },
                    send: function (e, data) {
                        $.showLoading();
                    },
                    done: function (e, data) {
                        $.hideLoading();
                        if (data.result.success == true) {
                            $('#' + id).find('.uploadimg').attr('src', data.result.FileUrl);
                        } else {
                            $.alert(data.result.errorMessage);
                        }
                    }
                });
            }

            //$('.fileinput').on('change input', function (e) {
            //    handleinputchange(this);
            //});

            // 全局对象，不同function使用传递数据
            const imgFile = {};

            function handleinputchange(target) {
                if (target == null)
                    return;
                var uploadurl = "/api/UploadFile/UploadDepartment";
                //$.alert('enter 1 event:' + event);
                // 获取当前选中的文件
                const file = target.files[0];//event.target.files[0];
                //$.alert(event.files.length);
                const imgMasSize = 1024 * 1024 * 10; // 10MB

                // 检查文件类型
                if (['jpeg', 'png', 'gif', 'jpg'].indexOf(file.type.split("/")[1]) < 0) {
                    // 自定义报错方式
                    // Toast.error("文件类型仅支持 jpeg/png/gif！", 2000, undefined, false);
                    $.alert("文件类型仅支持 jpeg/png/gif！");
                    return;
                }

                // 文件大小限制
                if (file.size > imgMasSize) {
                    // 文件大小自定义限制
                    // Toast.error("文件大小不能超过10MB！", 2000, undefined, false);
                    $.alert("文件大小不能超过10MB！");
                    return;
                }

                // 判断是否是ios
                if (!!window.navigator.userAgent.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/)) {
                    // iOS
                    transformFileToFormData(file);
                    return;
                }

                // 图片压缩之旅
                transformFileToDataUrl(file);
            }
            // 将File append进 FormData
            function transformFileToFormData(file) {
                //$.alert('enter transformFileToFormData');
                const formData = new FormData();
                // 自定义formData中的内容
                // type
                formData.append('type', file.type);
                // size
                formData.append('size', file.size || "image/jpeg");
                // name
                formData.append('name', file.name);
                // lastModifiedDate
                formData.append('lastModifiedDate', file.lastModifiedDate);
                // append 文件
                formData.append('file', file);
                // 上传图片
                uploadImg(formData);
            }
            // 将file转成dataUrl
            function transformFileToDataUrl(file) {
                //$.alert("enter transformFileToDataUrl");
                const imgCompassMaxSize = 200 * 1024; // 超过 200k 就压缩

                // 存储文件相关信息
                imgFile.type = file.type || 'image/jpeg'; // 部分安卓出现获取不到type的情况
                imgFile.size = file.size;
                imgFile.name = file.name;
                imgFile.lastModifiedDate = file.lastModifiedDate;

                // 封装好的函数
                const reader = new FileReader();

                // file转dataUrl是个异步函数，要将代码写在回调里
                reader.onload = function (e) {
                    const result = e.target.result;

                    if (result.length < imgCompassMaxSize) {
                        compress(result, processData, false);    // 图片不压缩
                    } else {
                        compress(result, processData);            // 图片压缩
                    }
                };

                reader.readAsDataURL(file);
            }
            // 使用canvas绘制图片并压缩
            function compress(dataURL, callback, shouldCompress = true) {
                //$("enter compress");
                const img = new window.Image();

                img.src = dataURL;

                img.onload = function () {
                    const canvas = document.createElement('canvas');
                    const ctx = canvas.getContext('2d');

                    canvas.width = img.width;
                    canvas.height = img.height;

                    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

                    let compressedDataUrl;

                    if (shouldCompress) {
                        compressedDataUrl = canvas.toDataURL(imgFile.type, 0.2);
                    } else {
                        compressedDataUrl = canvas.toDataURL(imgFile.type, 1);
                    }

                    callback(compressedDataUrl);
                }
            }

            function processData(dataUrl) {
                //$.alert('enter processData');
                try {
                    // 这里使用二进制方式处理dataUrl
                    const binaryString = window.atob(dataUrl.split(',')[1]);
                    const arrayBuffer = new ArrayBuffer(binaryString.length);
                    const intArray = new Uint8Array(arrayBuffer);
                    //const imgFile = this.imgFile;

                    for (let i = 0, j = binaryString.length; i < j; i++) {
                        intArray[i] = binaryString.charCodeAt(i);
                    }

                    const data = [intArray];

                    let blob;

                    try {
                        blob = new Blob(data, { type: imgFile.type });
                    } catch (error) {
                        window.BlobBuilder = window.BlobBuilder ||
                            window.WebKitBlobBuilder ||
                            window.MozBlobBuilder ||
                            window.MSBlobBuilder;
                        if (error.name === 'TypeError' && window.BlobBuilder) {
                            const builder = new BlobBuilder();
                            builder.append(arrayBuffer);
                            blob = builder.getBlob(imgFile.type);
                        } else {
                            // Toast.error("版本过低，不支持上传图片", 2000, undefined, false);
                            // throw new Error('版本过低，不支持上传图片');
                            $.alert('版本过低，不支持上传图片');
                        }
                    }

                    // blob 转file
                    const fileOfBlob = new File([blob], imgFile.name);
                    const formData = new FormData();

                    // type
                    formData.append('type', imgFile.type);
                    // size
                    formData.append('size', fileOfBlob.size);
                    // name
                    formData.append('name', imgFile.name);
                    // lastModifiedDate
                    formData.append('lastModifiedDate', imgFile.lastModifiedDate);
                    // append 文件
                    formData.append('file', fileOfBlob);

                    uploadImg(formData);
                } catch (e) {
                    $.alert(e.message);
                }
            }

            // 上传图片
            function uploadImg(formData) {
                //$.alert('enter uploadImg');
                const xhr = new XMLHttpRequest();
                xhr.responseType = "";//json
                // 进度监听
                xhr.upload.addEventListener('progress', (e) => {
                    //console.log(e.loaded / e.total)
                    $.showLoading();
                }, false);
                // 加载监听
                // xhr.addEventListener('load', ()=>{console.log("加载中");}, false);
                // 错误监听
                xhr.addEventListener('error', () => {
                    $.hideLoading();
                    $.alert("上传失败");
                }, false);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        $.hideLoading();
                        if (xhr.status === 200) {
                            var result = JSON.parse(xhr.responseText);
                            if (result.success == true) {
                                $(target).find('.uploadimg').attr('src', result.FileUrl);
                            } else {
                                $.alert(result.errorMessage);
                            }
                        } else {
                            $.alert("上传失败");
                        }
                    }
                };
                xhr.open('POST', uploadurl, true);
                xhr.send(formData);
            }

        });                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ////////});
    </script>
    <script type="text/javascript">
            var mch = $.getUrlParam('mch');
            var isgeneralmanager = sessionStorage.getItem('isgeneralmanager');
            if (isgeneralmanager != null && isgeneralmanager != '')
                isgeneralmanager = isgeneralmanager == 'true';
            else
                isgeneralmanager = false;
            _viewModel = new Vue({
                el: '#potentialclients',
                data: {
                    UserInfo: {},
                    AgentDepartmentCategoryList:[],
                    AgentDepartment: {
                        AgentDepartmentCategoryID:'',
                        UserID: '',
                        Name: '',
                        LegalPerson: '',
                        IDNumber: '',
                        Email: '',
                        MobilePhoneNo: '',
                        BusinessLicenseImgUrl: '',
                        LegalPersonIDCardFrontImgUrl: '',
                        LegalPersonIDCardBehindImgUrl: '',
                        DepartmentImgUrl:'',
                        CompanyAddress: '',
                        Bank: '',
                        BankCard: '',
                        Type: 1,
                        TagList:[],
                    },
                    TagList:[] ,//[{ Name: '好人' }, { Name: '专业' }, { Name: '认真' }, { Name: '牛人' }],
                },
                methods: {
                    back: function (event) {
                        history.back(-1);
                    },
                    home: function (event) {
                        window.location.href = "/Mobile/Agent/GeneralManagerHome?mch=" + mch;
                    },
                    confirm: function (event) {
                        $.confirm('确认提交？', function () {
                            confirm();
                        });
                    },
                    showtag: function (event) {
                        $('.tagmain').show();
                    },
                    tagclick: function (data,event) {
                        if (event == null)
                            return;
                        var target = event.target;
                        if ($(target).hasClass('tagselected')) {
                            $(target).removeClass('tagselected');
                            var index = -1;
                            for (var i = 0; i < _viewModel.AgentDepartment.TagList.length; i++) {
                                if (_viewModel.AgentDepartment.TagList[i].ID == data.ID) {
                                    index = i;
                                    break;
                                }
                            }
                            if (index!=-1)
                                _viewModel.AgentDepartment.TagList.splice(index, 1);
                        }
                        else {
                            $(target).addClass('tagselected');
                            _viewModel.AgentDepartment.TagList.push(data);
                        }
                    },
                    closetag: function (event) {
                        $('.tagmain').hide();
                    },
                }
            });

              function getUserByOpenId() {
                $.ajax({
                    url: '/api/User/GetUserByOpenID',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    data: {
                        OpenID: '@ViewBag.OpenId',
                        IsGeneralManager: isgeneralmanager,
                        IsSalesManger: !isgeneralmanager,
                    },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                sessionStorage.setItem('user', JSON.stringify(res.Data));
                                _viewModel.UserInfo = res.Data;
                                _viewModel.AgentDepartment.UserID = res.Data.ID;
                            }
                            else {
                                window.location.href = "/Mobile/Agent?mch=" + mch;
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                            window.location.href = "/Mobile/Agent?mch=" + mch;
                        }
                    },
                    error: function () {
                        window.location.href = "/Mobile/Agent?mch=" + mch;
                    }
                });
            }
            getUserByOpenId();

        function checkdata(data) {
            if (data == null || data.UserID == null || data.UserID == '') {
                $.alert('参数错误');
                return false;
            }
            if (data.Name == null || data.Name == '') {
                $.alert('请填写商户名称');
                return false;
            }
            if (data.LegalPerson == null || data.LegalPerson == '') {
                $.alert('请填写法人（负责人）');
                return false;
            }
            if (data.MobilePhoneNo == null || data.MobilePhoneNo == '') {
                $.alert('请填写手机号码');
                return false;
            } else if (data.MobilePhoneNo.toString().length!=11) {
                $.alert('请填写正确的手机号码');
                return false;
            }
            //if (data.IDNumber == null || data.IDNumber == '') {
            //    $.alert('请填写身份证编号');
            //    return false;
            //}
            if (data.CompanyAddress == null || data.CompanyAddress == '') {
                $.alert('请填写公司地址');
                return false;
            }
            //if (data.Bank == null || data.Bank == '') {
            //    $.alert('请填写开户银行');
            //    return false;
            //}
            //if (data.BankCard == null || data.BankCard == '') {
            //    $.alert('请填写银行账号');
            //    return false;
            //}
            //if (data.BusinessLicenseImgUrl == null || data.BusinessLicenseImgUrl == '') {
            //    $.alert('请上传营业执照');
            //    return false;
            //}
            //if (data.LegalPersonIDCardFrontImgUrl == null || data.LegalPersonIDCardFrontImgUrl == '') {
            //    $.alert('请上传身份证正面照');
            //    return false;
            //}
            //if (data.LegalPersonIDCardBehindImgUrl == null || data.LegalPersonIDCardBehindImgUrl == '') {
            //    $.alert('请上传身份证反面照');
            //    return false;
            //if (data.DepartmentImgUrl == null || data.DepartmentImgUrl == '') {
            //        $.alert('请上传门店照片');
            //        return false;
            //}
            return true;
        }

        function confirm() {
            var data = _viewModel.AgentDepartment;
            //data.BusinessLicenseImgUrl = $('#uploadBusinessLicenseImage').find('.uploadimg').attr('src');
            //data.LegalPersonIDCardFrontImgUrl = $('#uploadLegalPersonIDCardFrontImage').find('.uploadimg').attr('src');
            //data.LegalPersonIDCardBehindImgUrl = $('#uploadLegalPersonIDCardBehindImgUrlImage').find('.uploadimg').attr('src');
            data.DepartmentImgUrl = $('#uploadDepartmentImage').find('.uploadimg').attr('src');
            data.AgentDepartmentCategoryID = $('#agentdepartmentcategoryselect').val();
            if (!checkdata(data))
                return;
            //$.alert(JSON.stringify(data));
            //return;
            $.ajax({
                url: '/api/AgentDepartment/AddWidthTag',
                type: 'POST',
                data: data,
                headers: {'CompanyCode': mch },
                beforeSend: function () {
                    $.showLoading();
                },
                success: function (res) {
                    $.hideLoading();
                    if (res.IsSuccessful) {
                        if (res.Data != null) {
                            $.toast("提交成功");
                            window.location.href = "/Mobile/Agent/GeneralManagerHome?mch=" + mch;
                        }
                    } else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                    $.hideLoading();
                }
            });
        }

        function getTag() {
            $.ajax({
                url: '/api/Tag',
                type: 'GET',
                headers: { 'CompanyCode': mch },
                success: function (res) {
                    if (res.IsSuccessful) {
                        _viewModel.TagList = res.Data;
                    } else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                }
            });
        }
        getTag();

        function getAgentDepartmentCategory() {
            $.ajax({
                url: '/api/AgentDepartmentCategory/LiteData',
                type: 'GET',
                headers: { 'CompanyCode': mch },
                success: function (res) {
                    if (res.IsSuccessful) {
                        _viewModel.AgentDepartmentCategoryList = res.Data;
                    } else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                }
            });
        }
        getAgentDepartmentCategory();

    </script>
}
