
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="reimbursementcheck">
    <div class="toubu">
        <a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px; float:left; margin-left:3%; margin-top:18px;"></a>
        <div>报销审核</div>
        <a v-on:click="home"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px; float:right; margin-right:3%; margin-top:18px;"></a>
    </div>
    <div class="touxiang">
        <div style="width:100%; float:left; ">
            <img src="@ViewBag.HeadImgUrl" class="touxiang_img">
            <div class="touxiang_div">
                <span>{{User.Name}}</span>
                <span style=" font-size:14px; color:#999;">报销：{{ReimbursementList.length}}</span>
            </div>
        </div>
    </div>
    <div class="kcd_box2">
        <form>
            <input type="text" class="kcgl_input" style="color:#999;width:75%;" placeholder="请输入报销项目名称" id="reimbursementname">
        </form>
        <div class="kcgl_btn"><img src="~/Areas/resource/img/mobile/master/ss2.png" style="width:20px; padding-top:10px;" v-on:click="searchReimbursement"></div>
    </div>
    <div class="touxiang" v-for="Reimbursement in ReimbursementList">
        <div class="kcgl_box">
            <div class="kcgl">报销项目</div>
            <div class="kcgl2">
                <span>{{Reimbursement.Project}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">申请报销人</div>
            <div class="kcgl2">
                <span>{{Reimbursement.UserName}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">报销金额</div>
            <div class="kcgl2">
                <span>{{Reimbursement.Money}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">备注</div>
            <div class="kcgl2">
                <span>{{Reimbursement.Remark}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">提交时间</div>
            <div class="kcgl2">
                <span>{{Reimbursement.CreatedDate}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">审核状态</div>
            <div class="kcgl2">
                <span style="color:#ff0c4c;" v-if="Reimbursement.Status==0">未审核</span>
                <span style="color:green;" v-if="Reimbursement.Status==1">已审核</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl" style="border:none;">票据</div>
            <div style="margin:10px 13px;">
                <img style="width:100%;height:200px;" v-bind:src=Reimbursement.ImgUrl v-on:click="checkimg(Reimbursement)" />
            </div>
        </div>
        <div class="kcgl_box" style="border:none;">
            <div class="kcgl">操作</div>
            <div class="kcgl2">
                <span>
                    <a style="background-color:#51b3f0; width:55px;float:left;margin-left:15px;" v-if="Reimbursement.Status==0" v-on:click="passcheck(Reimbursement)">通过审核</a>
                </span>
                <span>
                    <a style="background-color:#51b3f0;width:55px;float:left;margin-left:15px;" v-if="Reimbursement.Status==1" v-on:click="unpasscheck(Reimbursement)">反审核</a>
                </span>
            </div>
        </div>
    </div>
    <div class="kcgl_box2"></div>
</div>

@section scripts{
    <link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
    <link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="~/Areas/resource/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {
        var mch = $.getUrlParam('mch');
            var user = sessionStorage.getItem('agentuser');
            var isgeneralmanager = sessionStorage.getItem('isgeneralmanager') == 'true';
            if (!isgeneralmanager)
                window.location.href = "/Mobile/Agent?mch=" + mch;
            _viewModel = new Vue({
                el: '#reimbursementcheck',
                data: {
                    User: {},
                    ReimbursementList: [],
                },
                methods: {
                    back: function (event) {
                        history.back(-1);
                    },
                    home: function (event) {
                        window.location.href = "/Mobile/Agent/GeneralManagerHome?mch=" + mch;
                    },
                    searchReimbursement: function (event) {
                        searchReimbursement();
                    },
                    passcheck: function (data, event) {
                        $.confirm('确认通过审核？', function () {
                            passcheck(data.ID);
                        });
                    },
                    unpasscheck: function (data, event) {
                        $.confirm('确认反审核？', function () {
                            unpasscheck(data.ID);
                        });
                    },
                    checkimg: function (data, event) {
                        window.location.href = data.ImgUrl;
                    },
            }
        });

            function getUserByOpenId() {
                $.ajax({
                    url: '/api/User/GetUserByOpenID',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    data: {
                        OpenID: '@ViewBag.OpenId',
                        IsGeneralManager: isgeneralmanager,
                        IsSalesManger: !isgeneralmanager,
                    },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                _viewModel.User = res.Data;
                                sessionStorage.setItem('agentuser', JSON.stringify(res.Data));
                            }
                            else {
                                _viewModel.home();
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                            _viewModel.home();
                        }
                    },
                    error: function () {
                        _viewModel.home();
                    }
                });
            }
            if (user == null || user == '') {
                getUserByOpenId();
            } else {
                _viewModel.User = JSON.parse(user);
            }

            function getMyReimbursement() {
                $.ajax({
                    url: '/api/Reimbursement?All=false',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            _viewModel.ReimbursementList = res.Data;
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }
            getMyReimbursement();

            function searchReimbursement() {
                var reimbursementname = $('#reimbursementname').val();
                $.ajax({
                    url: '/api/Reimbursement?All=false&Project=' + reimbursementname,
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            _viewModel.ReimbursementList = res.Data;
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

            function passcheck(id) {
                if (id == null || id == '')
                    return;
                $.ajax({
                    url: '/api/Reimbursement/ApproveReimbursement',
                    type: 'POST',
                    data: { IdList: [id] },
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data) {
                                $.toast('审核成功');
                                for (var i = 0; i < _viewModel.ReimbursementList.length; i++) {
                                    if (_viewModel.ReimbursementList[i].ID == id) {
                                        if (_viewModel.ReimbursementList[i].Status == 0)
                                            _viewModel.ReimbursementList[i].Status = 1;
                                        else
                                            _viewModel.ReimbursementList[i].Status = 0;
                                        break;
                                    }
                                }
                            }
                            else
                                $.toast('审核失败');
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

            function unpasscheck(id) {
                if (id == null || id == '')
                    return;
                $.ajax({
                    url: '/api/Reimbursement/AntiApproveReimbursement',
                    type: 'POST',
                    data: { IdList: [id] },
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data) {
                                $.toast('反审核成功');
                                for (var i = 0; i < _viewModel.ReimbursementList.length; i++) {
                                    if (_viewModel.ReimbursementList[i].ID == id) {
                                        if (_viewModel.ReimbursementList[i].Status == 0)
                                            _viewModel.ReimbursementList[i].Status = 1;
                                        else
                                            _viewModel.ReimbursementList[i].Status = 0;
                                        break;
                                    }
                                }
                            }
                            else
                                $.toast('反审核失败');
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

        });
    </script>
}