
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="mstockmanager">
    <div class="toubu">
        <a v-on:click="back"><img src="~/Areas/resource/img/mobile/master/fhj.png" style="width:10px; float:left; margin-left:3%; margin-top:18px;"></a>
        库存管理
        <a v-on:click="home"><img src="~/Areas/resource/img/mobile/master/czt.png" style="width:20px; float:right; margin-right:3%; margin-top:18px;"></a>
    </div>
    <div class="touxiang">
        <div style="width:100%; float:left; ">
            <img src="@ViewBag.HeadImgUrl" class="touxiang_img">
            <div class="touxiang_div">
                <span>{{User.Name}}</span>
                <span style=" font-size:14px; color:#999;">库存商品：{{ProductCount}}</span>
            </div>
        </div>
    </div>
    <div class="kcd_box2">
        <form>
            <select class="kcd_input" style="width:25%;" id="productcategoryselect">
                <option v-for="ProductCategory in ProductCategoryList" v-bind:value="ProductCategory.ID">{{ProductCategory.Name}}</option>
            </select>
            <input type="text" class="kcgl_input" style="color:#999" placeholder="请输入库存商品名称/编号" id="namecode">
        </form>
        <div class="kcgl_btn"><img src="~/Areas/resource/img/mobile/master/ss2.png" style="width:20px; padding-top:10px;" v-on:click="searchProduct"></div>
    </div>
    <div class="touxiang" v-for="Product in ProductList">
        <div class="kcgl_box">
            <div class="kcgl">商品编号</div>
            <div class="kcgl2">
                <span>{{Product.Code}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">商品名称</div>
            <div class="kcgl2">
                <span>{{Product.Name}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">库存</div>
            <div class="kcgl2">
                <span style="color:#ff0c4c;">{{Product.Stock}}</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">是否上架</div>
            <div class="kcgl2">
                <span style="color:#ff0c4c;" v-if="Product.IsPublish==false">否</span>
                <span v-if="Product.IsPublish==true">是</span>
            </div>
        </div>
        <div class="kcgl_box">
            <div class="kcgl">记录查询</div>
            <div class="kcgl2">
                <span>
                    <a style="background-color:#51b3f0;float:left; margin-left:10%; font-size:12px; width:70px;" v-on:click="stockinrecord(Product)">入库记录</a>
                    <a style="float:left; font-size:12px; width:70px;background-color:#51b3f0;" v-on:click="stockoutrecord(Product)">出库记录</a>
                </span>
            </div>
        </div>

        <div class="kcgl_box" style="border:none;">
            <div class="kcgl">操作</div>
            <div class="kcgl2">
                <span>
                    <a style="background-color:#ff0c4c;float:left; margin-left:10%; width:16%;" v-on:click="stockin(Product)">入库</a>
                    <a style="background-color:#51b3f0;float:left; width:16%;" v-on:click="stockout(Product)">出库</a>
                    <a style="background-color:#51b3f0;float:left; width:16%;" v-if="Product.IsPublish==false" v-on:click="changePublishStatus(Product)">上架</a>
                    <a style="background-color:#51b3f0;float:left; width:16%;" v-if="Product.IsPublish==true" v-on:click="changePublishStatus(Product)">下架</a>
                </span>
            </div>
        </div>
    </div>
    <div class="kcgl_box2"></div>
</div>

@section scripts{
    <link type="text/css" href="~/Areas/resource/css/mobile/master.css" />
    <link href="~/Areas/resource/css/mobile/master.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="~/Areas/resource/js/jquery.qrcode.min.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        $(function () {
        var mch = $.getUrlParam('mch');
            var user = sessionStorage.getItem('user');
            var isgeneralmanager= sessionStorage.getItem('isgeneralmanager')=='true';
        _viewModel = new Vue({
            el: '#mstockmanager',
            data: {
                User: {},
                ProductCategoryList: [],
                ProductList: [],
                ProductCount:0,
            },
            methods: {
                back: function (event) {
                    history.back(-1);
                },
                home: function (event) {
                    window.location.href = "/Mobile/Agent/GeneralManagerHome?mch=" + mch;
                },
                changePublishStatus: function (data, event) {
                    var tips = '确定';
                    if (data.IsPublish)
                        tips += '下架？';
                    else
                        tips += '上架？';
                    $.confirm(tips, function () {
                        changePublishStatus(data.ID);
                    });
                },
                searchProduct: function (event) {
                    searchProduct();
                },
                stockout: function (data, event) {
                    sessionStorage.setItem('stockout','true');
                    sessionStorage.setItem('product', JSON.stringify(data));
                    window.location.href = "/Mobile/Merchant/StockOutIn?mch=" + mch;
                },
                stockin: function (data, event) {
                    sessionStorage.setItem('stockout', 'false');
                    sessionStorage.setItem('product', JSON.stringify(data));
                    window.location.href = "/Mobile/Merchant/StockOutIn?mch=" + mch;
                },
                stockinrecord: function (data, event) {
                    sessionStorage.setItem('stockout', 'false');
                    sessionStorage.setItem('product', JSON.stringify(data));
                    window.location.href = "/Mobile/Merchant/StockRecord?mch=" + mch;
                },
                stockoutrecord: function (data, event) {
                    sessionStorage.setItem('stockout', 'true');
                    sessionStorage.setItem('product', JSON.stringify(data));
                    window.location.href = "/Mobile/Merchant/StockRecord?mch=" + mch;
                },
            }
        });

            function getUserByOpenId() {
                $.ajax({
                    url: '/api/User/GetUserByOpenID',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    data: {
                        OpenID: '@ViewBag.OpenId',
                        IsGeneralManager: isgeneralmanager,
                        IsSalesManger: !isgeneralmanager,
                    },
                    success: function (res) {
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                _viewModel.User = res.Data;
                                sessionStorage.setItem('user', JSON.stringify(res.Data));
                            }
                            else {
                                _viewModel.home();
                            }
                        }
                        else {
                            $.alert(res.ErrorMessage);
                            _viewModel.home();
                        }
                    },
                    error: function () {
                        _viewModel.home();
                    }
                });
            }
            if (user == null || user == '') {
                getUserByOpenId();
            } else {
                _viewModel.User = JSON.parse(user);
            }

            function getProductCategory() {
                $.ajax({
                    url: '/api/ProductCategory?IsFromStockManager=true',
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            _viewModel.ProductCategoryList = res.Data;
                            if (res.Data != null && res.Data.length > 0) {
                                _viewModel.ProductList = res.Data[0].SubProducts;
                                for (var i = 0; i < res.Data.length; i++) {
                                    if (res.Data[i].SubProducts != null)
                                        _viewModel.ProductCount += res.Data[i].SubProducts.length;
                                }
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }
            getProductCategory();

            $('#productcategoryselect').change(function () {
                var value = $(this).val();
                for (var i = 0; i < _viewModel.ProductCategoryList.length; i++) {
                    if (_viewModel.ProductCategoryList[i].ID == value) {
                        _viewModel.ProductList = _viewModel.ProductCategoryList[i].SubProducts;
                        break;
                    }
                }
            });

            function changePublishStatus(id) {
                if (id == null || id == '') {
                    $.alert('参数错误');
                    return;
                }
                $.ajax({
                    url: '/api/Product/ChangePublishStatus?id=' + id,
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data) {
                                $.toast('操作成功');
                                for (var i = 0; i < _viewModel.ProductList.length; i++) {
                                    if (_viewModel.ProductList[i].ID == id) {
                                        _viewModel.ProductList[i].IsPublish = !_viewModel.ProductList[i].IsPublish;
                                        break;
                                    }
                                }
                            } else {
                                $.alert('操作失败，请重试');
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

            function searchProduct() {
                var productCategoryID = $('#productcategoryselect').val();
                if (productCategoryID == null || productCategoryID == '') {
                    $.alert('参数错误，类别信息不存在');
                    return;
                }
                var namecode = $('#namecode').val();
                $.ajax({
                    url: '/api/Product?IsFromStockManager=true&ProductCategoryID=' + productCategoryID + '&NameCode=' + namecode,
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            _viewModel.ProductList = res.Data;
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

        });
    </script>
}
