
@{
	Layout = null;
	Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html class="absolute-con">
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<style type="text/css">
		.absolute-con {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			overflow-y: auto;
		}
		.chartset {
			width: 95%;
			height: 95%;
			border-radius: 3px;
			font-size: 10px;
			text-align: center;
			margin: 0px auto 10px auto;
			padding-top:0px;
		}
	</style>
</head>
<body style="background:#f6f6f6;" class="absolute-con">
	<div id="echart" class="chartset"></div>
	<script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<script src="~/Content/js/echarts.js"></script>
	<script src="~/Content/js/dark.js"></script>
	<script src="~/Content/js/macarons.js"></script>
	<script src="~/Scripts/ext/ext-all.js"></script>
	<script type="text/javascript">
		$(function () {
			var mch = sessionStorage.getItem('companyCode');
			var analysetype = $.getUrlParam('AnalyseType');
			if (analysetype == 1) {//每日新增会员
				searchNewMemberByDay();
			} else if (analysetype == 2) {//每月新增会员
				searchNewMemberByMonth();
			} else if (analysetype == 3) {//消费小于2千（普通会员）
				searchMemberType(1);
			} else if (analysetype == 4) {//2千~5千（白银会员）
				searchMemberType(2);
			} else if (analysetype == 5) {//5千~1万（黄金会员）
				searchMemberType(3);
			} else if (analysetype == 6) {//大于1万（铂金会员）
				searchMemberType(4);
			} else if (analysetype == 7) {//普通大客户(年消费大于1万)
				searchBigMember(1);
			} else if (analysetype == 8) {//土豪大客户(年消费大于1万)
				searchBigMember(2);
			} else if (analysetype == 9) {//每月消费1次（一般）
				searchLoyalMember(1);
			} else if (analysetype == 10) {//每月消费2次（良好）
				searchLoyalMember(2);
			} else if (analysetype == 11) {//每月消费3次以上（绝对忠诚）
				searchLoyalMember(3);
			} else if (analysetype == 12) {//三个月消费未消费
				searchLoseMember(1);
			} else if (analysetype == 13) {//六个月消费未消费
				searchLoseMember(2);
			} else if (analysetype == 14) {//十二个月消费未消费
				searchLoseMember(3);
			}

			function searchNewMemberByDay() {
				$.ajax({
					url: '/api/Reporting/DataAnalyseList?All=false',
					type: 'GET',
					data: { 'TimeSelect': '1' },
					headers: { 'CompanyCode': mch },
					success: function (res) {
						if (res.IsSuccessful) {
							memberanalysepie('会员基数', res.TotalMemberCount, '新增会员', res.Data.length - 1);
						} else {
						}
					},
					error: function () {
					}
				});
			};

			function searchNewMemberByMonth() {
				$.ajax({
					url: '/api/Reporting/DataAnalyseList?All=false',
					type: 'GET',
					data: { 'TimeSelect': '2' },
					headers: { 'CompanyCode': mch },
					success: function (res) {
						if (res.IsSuccessful) {
							memberanalysepie('会员基数', res.TotalMemberCount, '新增会员', res.Data.length - 1);
						} else {
						}
					},
					error: function () {
					}
				});
			};

			function searchMemberType(index) {
				$.ajax({
					url: '/api/Reporting/DataAnalyseList?All=false',
					type: 'GET',
					data: { 'MemberType': index },
					headers: { 'CompanyCode': mch },
					success: function (res) {
						if (res.IsSuccessful) {
							memberanalysepie('会员基数', res.TotalMemberCount, '目标会员', res.Data.length - 1);
						} else {
						}
					},
					error: function () {
					}
				});
			};

			function searchBigMember(index) {
				$.ajax({
					url: '/api/Reporting/DataAnalyseList?All=false',
					type: 'GET',
					data: { 'BigMember': index },
					headers: { 'CompanyCode': mch },
					success: function (res) {
						if (res.IsSuccessful) {
							memberanalysepie('会员基数', res.TotalMemberCount, '目标会员', res.Data.length - 1);
						} else {
						}
					},
					error: function () {
					}
				});
			};

			function searchLoyalMember(index) {
				$.ajax({
					url: '/api/Reporting/DataAnalyseList?All=false',
					type: 'GET',
					data: { 'LoyalMember': index },
					headers: { 'CompanyCode': mch },
					success: function (res) {
						if (res.IsSuccessful) {
							memberanalysepie('会员基数', res.TotalMemberCount, '目标会员', res.Data.length - 1);
						} else {
						}
					},
					error: function () {
					}
				});
			};

			function searchLoseMember(index) {
				$.ajax({
					url: '/api/Reporting/DataAnalyseList?All=false',
					type: 'GET',
					data: { 'LoseMember': index },
					headers: { 'CompanyCode': mch },
					success: function (res) {
						if (res.IsSuccessful) {
							memberanalysepie('会员基数', res.TotalMemberCount, '目标会员', res.Data.length - 1);
						} else {
						}
					},
					error: function () {
					}
				});
			};

			function memberanalysepie(param1, value1, param2, value2) {
				var echat = echarts.init(document.getElementById('echart')).setOption({
					series: {
						type: 'pie',
						radius: '50%',
						center: '50%',
						labelLine: {
							normal: {
								length: 5
							}
						},
						data: [
							{ name: param1 + value1 + '人', value: value1 },
							{ name: param2 + value2 + '人' + '占比: ' + Number(((value2 * 1.0 / value1) * 100)).toFixed(2) + '%', value: value2 },
						]
					}
				});
			}
		});
	</script>
	<script type="text/javascript">
		$('#datatype').change(function () {
			var value = $(this).find("option:selected").val();
			if (value == 1) {
				$('.newmember').show().siblings().hide();
			}
			if (value == 2) {
				$('.membertype').show().siblings().hide();
			}
			if (value == 3) {
				$('.bigmember').show().siblings().hide();
			}
			if (value == 4) {
				$('.loyalmember').show().siblings().hide();
			}
			if (value == 5) {
				$('.losemember').show().siblings().hide();
			}
		});
	</script>
</body>
</html>
