
@{
    Layout = null;
}

<!DOCTYPE html>

<html class="absolute-con">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body style="background:#f3f3f5;" class="absolute-con">
    <style type="text/css">
        .absolute-con {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: auto;
        }

        .headcon {
            width: 1000px;
            margin: 50px auto 45px auto;
        }

        .widthfill {
            width: 100%;
        }

        .reporttable {
            display: table;
        }

        .reporttablecell {
            display: table-cell;
        }

        .reportbox {
            height: 100px;
            width: 180px;
            background: #fff;
            /*border-radius: 10px;*/
            text-align: center;
            font-size: 20px;
            color: #59595b;
            margin: auto;
            /*line-height: 50px;*/
            /*box-shadow: 0px -2px 2px #59595b;*/
        }

        .valuefont {
            font-size: 26px;
            margin-top: 8px;
        }

        .titlefont {
            font-size: 15px;
        }

        .icontips {
            height: 16px;
            width: 22px;
            text-align: center;
            font-size: 10px;
            border-radius: 2px;
            line-height: 15px;
        }

        .quickoperation {
            width: 200px;
            height: 70px;
            border-radius: 3px;
            font-size: 20px;
            text-align: right;
            margin: auto;
        }

        .iconimg {
            width: 57px;
            height: 50px;
        }
    </style>
    <div>
        <div class="headcon">
            <div class="reporttable widthfill">
                <div class="reporttablecell">
                    <div class="reportbox">
                        <div class="reporttable" style="height:45px;width:100%;border-bottom:1px #f3f3f5 solid;">
                            <div class="titlefont reporttablecell" style="vertical-align:middle;text-align:left;padding-left:10px;">营业总额</div>
                            <div class="reporttablecell" style="vertical-align:middle;text-align:right;width:20px;">
                                <div class="icontips" style="background:#1c83c6;color:#fff;margin-right:10px;">总</div>
                            </div>
                        </div>
                        <div class="valuefont totalMarketTurnover">￥0</div>
                    </div>
                </div>
                <div class="reporttablecell">
                    <div class="reportbox">
                        <div class="reporttable" style="height:45px;width:100%;border-bottom:1px #f3f3f5 solid;">
                            <div class="titlefont reporttablecell" style="vertical-align:middle;text-align:left;padding-left:10px;">今日营业额</div>
                            <div class="reporttablecell" style="vertical-align:middle;text-align:right;width:20px;">
                                <div class="icontips" style="background:#23c7c9;color:#fff;margin-right:10px;width:38px;">今日</div>
                            </div>
                        </div>
                        <div class="valuefont todayTurnover">￥0</div>
                    </div>
                </div>
                <div class="reporttablecell">
                    <div class="reportbox">
                        <div class="reporttable" style="height:45px;width:100%;border-bottom:1px #f3f3f5 solid;">
                            <div class="titlefont reporttablecell" style="vertical-align:middle;text-align:left;padding-left:10px;">会员总数</div>
                            <div class="reporttablecell" style="vertical-align:middle;text-align:right;width:20px;">
                                <div class="icontips" style="background:#f8ab59;color:#fff;margin-right:10px;">总</div>
                            </div>
                        </div>
                        <div class="valuefont totalMember">0</div>
                    </div>
                </div>
                <div class="reporttablecell">
                    <div class="reportbox">
                        <div class="reporttable" style="height:45px;width:100%;border-bottom:1px #f3f3f5 solid;">
                            <div class="titlefont reporttablecell" style="vertical-align:middle;text-align:left;padding-left:10px;">今日会员</div>
                            <div class="reporttablecell" style="vertical-align:middle;text-align:right;width:20px;">
                                <div class="icontips" style="background:#1cb394;color:#fff;margin-right:10px;width:38px;">今日</div>
                            </div>
                        </div>
                        <div class="valuefont todayMember">0</div>
                    </div>
                </div>
            </div>
        </div>
        <div style="width:100%">
			<div class="reporttable" style="width:100%;">
				<div class="reporttablecell" id="tookeencon">
					<div class="quickoperation" style="background:#1ab394;color:#fff;cursor:pointer;" id="tookeen">
						<div class="reporttable" style="float:left;margin-top:10px;margin-left:15px;">
							<img class="iconimg" src="~/Content/icons/tookeen.png" />
						</div>
						<div class="reporttable" style="float:right;margin-top:10px;margin-right:15px;">
							<div style="font-size:8px;">寻客侠</div>
							<div style="margin-top:5px;">寻客侠</div>
						</div>
					</div>
				</div>
				<div class="reporttablecell">
					<div class="quickoperation" style="background:#EE82EE;color:#fff;cursor:pointer;" id="openorder">
						<div class="reporttable" style="float:left;margin-top:10px;margin-left:15px;">
							<img class="iconimg" src="~/Content/icons/openorder.png" />
						</div>
						<div class="reporttable" style="float:right;margin-top:10px;margin-right:15px;">
							<div style="font-size:8px;">接车单</div>
							<div style="margin-top:5px;">接车单</div>
						</div>
					</div>
				</div>
				<div class="reporttablecell">
					<div class="quickoperation" style="background:#1c83c6;color:#fff;cursor:pointer;" id="addmember">
						<div class="reporttable" style="float:left;margin-top:10px;margin-left:15px;">
							<img class="iconimg" src="~/Content/icons/addmember.png" />
						</div>
						<div class="reporttable" style="float:right;margin-top:10px;margin-right:15px;">
							<div style="font-size:8px;">会员</div>
							<div style="margin-top:5px;">新增会员</div>
						</div>
					</div>
				</div>
				<div class="reporttablecell">
					<div class="quickoperation" style="background:#23c7c9;color:#fff;cursor:pointer;" id="recharge">
						<div class="reporttable" style="float:left;margin-top:10px;margin-left:15px;">
							<img class="iconimg" src="~/Content/icons/recharge.png" />
						</div>
						<div class="reporttable" style="float:right;margin-top:10px;margin-right:15px;">
							<div style="font-size:8px;">充值</div>
							<div style="margin-top:5px;">会员充值</div>
						</div>
					</div>
				</div>
				<div class="reporttablecell">
					<div class="quickoperation" style="background:#f8ab59;color:#fff;cursor:pointer;" id="stockoutin">
						<div class="reporttable" style="float:left;margin-top:10px;margin-left:15px;">
							<img class="iconimg" src="~/Content/icons/stock.png" />
						</div>
						<div class="reporttable" style="float:right;margin-top:10px;margin-right:15px;">
							<div style="font-size:8px;">出/入库</div>
							<div style="margin-top:5px;">出/入库</div>
						</div>
					</div>
				</div>
				<div class="reporttablecell">
					<div class="quickoperation" style="background:#eecb49;color:#fff;cursor:pointer;" id="minpro">
						<div class="reporttable" style="float:left;margin-top:10px;margin-left:15px;">
							<img class="iconimg" src="~/Content/icons/minpro.png" />
						</div>
						<div class="reporttable" style="float:right;margin-top:10px;margin-right:15px;">
							<div style="font-size:8px;">小程序</div>
							<div style="margin-top:5px;">小程序卡券</div>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div style="padding-top:30px;">
            <div class="reporttable widthfill" id="statementcon">
                <div class="reporttablecell" style="height:480px;width:50%;padding:5px;" id="turnover"></div>
                <div class="reporttablecell" style="height:480px;width:50%;padding:5px;" id="member"></div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Content/js/echarts.js"></script>
    <script src="~/Content/js/dark.js"></script>
    <script src="~/Content/js/macarons.js"></script>
    <script src="~/Scripts/ext/ext-all.js"></script>
    <script type="text/javascript">
        $(function () {
            var clientHeight = document.documentElement.clientHeight;
            $('#statementcon').find('div').height(clientHeight * 0.5);
        });
    </script>
    <script type="text/javascript">

        var isAgent = sessionStorage.getItem('isAgent');
        var isGeneralMerchant = sessionStorage.getItem('isGeneralMerchant');
        isAgent = isAgent == 'true';
        isGeneralMerchant = isGeneralMerchant == 'true';

        function generateEcharts(data) {
            if (data == null || data == '')
                return;
            $('.totalMarketTurnover').text('￥' + data.TotalMarketTurnover);
            $('.todayTurnover').text('￥' + data.TodayTurnover);
            $('.totalMember').text(data.TotalMember);
            $('.todayMember').text(data.TodayMember);
            var xAxisData = [];
            var totalTurnover = [];
            var pickUpOrderTurnover = [];
            var shopTurnover = [];
            var memberCount = [];
            if (data.TotalTurnover != null) {
                for (var i = 0; i < data.TotalTurnover.length; i++) {
                    xAxisData.push(data.TotalTurnover[i].Unit + '号');
                    totalTurnover.push(data.TotalTurnover[i].Turnover);
                }
            }
            if (data.PickUpOrderTurnover != null) {
                for (var i = 0; i < data.PickUpOrderTurnover.length; i++) {
                    pickUpOrderTurnover.push(data.PickUpOrderTurnover[i].Turnover);
                }
            }
            if (data.ShopTurnover != null) {
                for (var i = 0; i < data.ShopTurnover.length; i++) {
                    shopTurnover.push(data.ShopTurnover[i].Turnover);
                }
            }
            if (data.MemberCount != null) {
                for (var i = 0; i < data.MemberCount.length; i++) {
                    memberCount.push(data.MemberCount[i].Count);
                }
            }

            var option = {
                backgroundColor: '#fff',
                title: {
                    text: '营业额',
                    left: 'center',
                    top: 20,
                    textStyle: {
                        color: '#ccc'
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        crossStyle: {
                            color: '#999'
                        }
                    }
                },
                toolbox: {
                    feature: {
                        dataView: { show: true, readOnly: false },
                        magicType: { show: true, type: ['line', 'bar'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                legend: {
                    data: ['商城营业额', '接车单营业额', '总营业额']
                },
                xAxis: [
                    {
                        type: 'category',
                        data: xAxisData,
                        axisPointer: {
                            type: 'shadow'
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: '商城',
                        min: 0,
                        axisLabel: {
                            formatter: '￥{value}'
                        }
                    },
                    {
                        type: 'value',
                        name: '接车单',
                        min: 0,
                        axisLabel: {
                            formatter: '￥{value}'
                        }
                    }
                ],
                series: [
                    {
                        name: '商城营业额',
                        type: 'bar',
                        data: shopTurnover
                    },
                    {
                        name: '接车单营业额',
                        type: 'bar',
                        data: pickUpOrderTurnover
                    },
                    {
                        name: '总营业额',
                        type: 'line',
                        yAxisIndex: 1,
                        data: totalTurnover
                    }
                ]
            };

            if (!isGeneralMerchant) {
                $('#tookeencon').hide();
                option = {
                    backgroundColor: '#fff',
                    title: {
                        text: '营业额',
                        left: 'center',
                        top: 20,
                        textStyle: {
                            color: '#ccc'
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            crossStyle: {
                                color: '#999'
                            }
                        }
                    },
                    toolbox: {
                        feature: {
                            dataView: { show: true, readOnly: false },
                            magicType: { show: true, type: ['line', 'bar'] },
                            restore: { show: true },
                            saveAsImage: { show: true }
                        }
                    },
                    legend: {
                        data: ['商城营业额']
                    },
                    xAxis: [
                        {
                            type: 'category',
                            data: xAxisData,
                            axisPointer: {
                                type: 'shadow'
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '商城',
                            min: 0,
                            axisLabel: {
                                formatter: '￥{value}'
                            }
                        },
                    ],
                    series: [
                        {
                            name: '商城营业额',
                            type: 'bar',
                            data: shopTurnover
                        },
                    ]
                };
            }

            var turnoverEcharts = echarts.init(document.getElementById('turnover'));
            turnoverEcharts.setOption(option);

            var memberoption = {
                backgroundColor: '#fff',
                title: {
                    text: '会员数量',
                    left: 'center',
                    top: 20,
                    textStyle: {
                        color: '#ccc'
                    }
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        crossStyle: {
                            color: '#999'
                        }
                    }
                },
                xAxis: {
                    type: 'category',
                    data: xAxisData
                },
                yAxis: {
                    type: 'value',
                    name: '个',
                    min: 0,
                    axisLabel: {
                        formatter: '{value}'
                    }
                },
                series: [{
                    data: memberCount,
                    type: 'line',
                }]
            };
            var memberEcharts = echarts.init(document.getElementById('member'));
            memberEcharts.setOption(memberoption);
        }

        var mch = sessionStorage.getItem('companyCode');

        function getTurnoverReporting() {
            $.ajax({
                url: '/api/Reporting/GetTurnoverReporting',
                type: 'GET',
                headers: { 'CompanyCode': mch },
                success: function (res) {
                    if (res.IsSuccessful) {
                        generateEcharts(res.Data);
                    } else {
                    }
                },
                error: function () {
                }
            });
        }
        getTurnoverReporting();

        $('#addmember').click(function () {
            navigate('Member', 'Member', '会员信息');
        });

        $('#stockoutin').click(function () {
            navigate('Product', 'Product', '产品');
        });

        $('#tookeen').click(function () {
			navigate('AdvisementSetting', 'AdvisementSettingList', '寻客侠');
        });

		$('#openorder').click(function () {
			navigate('PickUpOrder', 'PickUpOrder', '接车单');
		});

        $('#recharge').click(function () {
            navigate('MemberRecharge', 'MemberRecharge', '会员储值');
        });

        $('#minpro').click(function () {
            navigate('AppletCard', 'AppletCardList', '小程序卡券');
        });

        function navigate(cname, mname, text) {
            var mainPanel = parent.Ext.getCmp("tabPanelMain");
            parent.Ext.require('WX.controller.' + cname, function () {
                parent.Ext.onReady(function () {
                    parent.Ext.getApplication().loadModule(cname);
                    var panel = mainPanel.down(mname);
                    if (!panel) {
                        var panel = parent.Ext.widget(mname, { title: text, minWidth: 1100 });
                        parent.Ext.checkActionPermission(panel);
                        mainPanel.add(panel);
                        mainPanel.setActiveTab(panel);
                    } else {
                        mainPanel.setActiveTab(panel);
                    }
                });
            });
        }

    </script>
</body>
</html>
