
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="home">
    <div class="main">
        <div class="crowdorder-con" v-for="CrowdOrder in CrowdOrders" v-on:click="crowdorderdetails(CrowdOrder)">
            <div>
                <img class="crowdorder-img" v-bind:src=CrowdOrder.ImgUrl />
            </div>
            <div class="width-fill crowdorder-name">{{CrowdOrder.Name}}</div>
            <div class="cbctable width-fill crowdorder-price-con">
                <div class="cbctablecell crowdorder-price"><span style="font-size:13px;">￥</span>{{CrowdOrder.Price}}</div>
                <div class="cbctablecell crowdorder-pricesale">￥{{CrowdOrder.PriceSale}}</div>
                <div class="cbctablecell crowdorder-count">已拼666件</div>
            </div>
        </div>
    </div>
    <div class="bottomactioncon cbctable">
        <div class="cbctablecell" style="vertical-align:middle;" v-on:click="home">
            <div>
                <img class="btnicon" src="~/Areas/resource/img/mobile/homeselected.png" />
            </div>
            <div class="btnfont" style="color:#7859f2;" v-on:click="home">首页</div>
        </div>
        <div class="cbctablecell" style="vertical-align:middle;" v-on:click="wk">
            <div>
                <img class="btnicon" style="width:35px;margin-bottom:-13px;margin-top:-2px;" src="~/Areas/resource/img/mobile/kuang.png" />
            </div>
            <div class="btnfont" v-on:click="wk">挖矿</div>
        </div>
        <div class="cbctablecell" style="vertical-align:middle;" v-on:click="myinfo">
            <div>
                <img class="btnicon" src="~/Areas/resource/img/mobile/wd.png" />
            </div>
            <div class="btnfont" v-on:click="myinfo">我的</div>
        </div>
        <div class="cbctablecell" style="vertical-align:middle;" v-on:click="nearby">
            <div>
                <img class="btnicon" src="~/Areas/resource/img/mobile/location.png" />
            </div>
            <div class="btnfont" v-on:click="nearby">附近</div>
        </div>
    </div>
</div>

@section scripts{
    <style type="text/css">
        .main {
            background: #f4f4f4;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 50px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        .cbctable {
            display: table;
        }

        .cbctablecell {
            display: table-cell;
        }

        .bottomactioncon {
            height: 50px;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            border-top: 1px #dcdcdc solid;
            width: 100%;
            text-align: center;
            background: #faf9f9;
            color: #999;
        }

        .btnicon {
            width: 25px;
            margin-bottom: -6px;
            margin-right: 3px;
        }

        .btnfont {
            font-size: 10px;
        }

        .crowdorder-con {
            margin: 13px 10px 0 10px;
            background: #fff;
        }

        .crowdorder-img {
            width: 100%;
            height: 220px;
        }

        .width-fill {
            width: 100%;
        }

        .crowdorder-name {
            font-size: 15px;
            margin: 5px 10px;
        }

        .crowdorder-price-con {
            margin: 0 10px 5px 10px;
        }

        .crowdorder-price {
            font-size: 18px;
            color: #e80c1c;
            width: 60px;
        }

        .crowdorder-pricesale {
            font-size: 13px;
            color: #545456;
            text-decoration: line-through;
        }

        .crowdorder-count {
            font-size: 13px;
            color: #a8a8a8;
            float: right;
            margin-right: 25px;
        }
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            //wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        var mch = $.getUrlParam('mch');
        _viewModel = new Vue({
            el: '#home',
            data: {
                MyInfo: {},
                CrowdOrders: [],
                IsMember: false,
            },
            methods: {
                myinfo: function (event) {
                    window.location.href = "/Mobile/CarBitcoin/MyInfo?mch=" + mch;
                },
                register: function (event) {
                    if (!_viewModel.IsMember)
                        window.location.href = "/Mobile/CarBitcoin/Register?mch=" + mch;
                },
                nearby: function () {
                    if (this.IsMember) {
                        window.location.href = "/Mobile/Map?mch=" + mch;
                    } else {
                        $.confirm('请先注册', function () {
                            window.location.href = "/Mobile/CarBitcoin/Register?mch=" + mch;
                        });
                    }
                },
                wk: function (event) {
                    window.location.href = "/Mobile/CarBitcoin?mch=" + mch;
                },
                crowdorderdetails: function (data, event) {
                    sessionStorage.setItem('crowdorder', JSON.stringify(data));
                    window.location.href = "/Mobile/CarBitcoin/CrowdOrderDetails?mch=" + mch;
                },
            }
        });

        function getCarBitCoinMember() {
            $.ajax({
                url: '/api/CarBitCoinMember?OpenID=@ViewBag.OpenId',
                type: 'GET',
                headers: { 'CompanyCode': mch },
                beforeSend: function () {
                },
                success: function (res) {
                    if (res.IsSuccessful) {
                        if (res.Data != null) {
                            if (res.Data.length > 0) {
                                _viewModel.MyInfo = res.Data[0];
                                _viewModel.IsMember = true;
                            }
                        }
                        getCrowdOrders();
                    } else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                }
            });
        }
        getCarBitCoinMember();

        function getCrowdOrders() {
            $.ajax({
                url: '/api/CrowdOrder/GetCrowdOrders',
                type: 'GET',
                headers: { 'CompanyCode': mch },
                beforeSend: function () {
                    $.showLoading();
                },
                success: function (res) {
                    $.hideLoading();
                    if (res.IsSuccessful) {
                        if (res.Data != null) {
                            _viewModel.CrowdOrders = res.Data;
                        }
                    } else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                    $.hideLoading();
                }
            });
        }

    </script>
}
