
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="carbitcoin">
    <div class="main">
        <img class="bgimg" src="~/Areas/resource/img/mobile/bg.jpg" />
        @*<img class="bgimg" src="~/Areas/resource/img/mobile/cbcindex.png" />*@
        <div class="valuecon">
            <div class="cbctable valuetitlefont">
                <div class="cbctablecell valuecell">
                    <img class="valueicon" src="~/Areas/resource/img/mobile/carbitcoinicon.png" />
                </div>
                <div class="cbctablecell">车比特  {{MyInfo.CarBitCoin+MyInfo.FrozenCoin}}</div>
            </div>
            <div class="cbctable valuetitlefont">
                <div class="cbctablecell valuecell">
                    <img class="valueicon" src="~/Areas/resource/img/mobile/horsepowericon.png" />
                </div>
                <div class="cbctablecell">马力值  {{MyInfo.Horsepower}}</div>
            </div>
        </div>
        <div class="declare" v-on:click="myproperty">超能秘籍</div>
        <div>
            <div>
                <div v-if="HorsepowerRank">
                    <div class="ranktitle">马力排行榜</div>
                    <div class="ranktext" v-on:click="cbcrank">按车比特排行&nbsp;></div>
                </div>
                <div v-if="!HorsepowerRank">
                    <div class="ranktitle">车比特排行榜</div>
                    <div class="ranktext" v-on:click="horsepowerrank">按马力排行&nbsp;></div>
                </div>
                <div class="cbctable rankheadtable rankheadcon">
                    <div class="cbctablecell rankcell">名次</div>
                    <div class="cbctablecell rankcellname">用户名</div>
                    <div class="cbctablecell rankcell" v-if="HorsepowerRank">马力</div>
                    <div class="cbctablecell rankcell" v-if="!HorsepowerRank">车比特</div>
                </div>
                <div v-for="Coiner in CarBitCoinMemberList">
                    <div class="cbctable rankheadtable rankheadh">
                        <div class="cbctablecell rankcell valuefont">
                            <div v-if="Coiner.Ranking>3">{{Coiner.Ranking}}</div>
                            <img v-if="Coiner.Ranking==1" class="medalimg" src="~/Areas/resource/img/mobile/goldmedal.png" />
                            <img v-if="Coiner.Ranking==2" class="medalimg" src="~/Areas/resource/img/mobile/silvermedal.png" />
                            <img v-if="Coiner.Ranking==3" class="medalimg" src="~/Areas/resource/img/mobile/coppermedal.png" />
                        </div>
                        <div class="cbctablecell rankcellname namefont">{{Coiner.Name}}</div>
                        <div class="cbctablecell rankcell valuefont" v-if="HorsepowerRank">{{Coiner.Horsepower}}</div>
                        <div class="cbctablecell rankcell valuefont" v-if="!HorsepowerRank">{{Coiner.CarBitCoin+Coiner.FrozenCoin}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bitcoincongenerate" style="width:100%;" v-if="CarBitCoinDistributionList.length<1" v-on:click="register">
            <img class="coinimg" src="~/Areas/resource/img/mobile/cbc.png" />
            <div style="color:#fff;text-align:center;font-size:8px;" v-if="IsMember">生成中...</div>
            <div style="color:#fff;text-align:center;font-size:8px;" v-if="!IsMember">立即登录</div>
        </div>
        <div class="bitcoincon" v-bind:style="CarBitCoin.style" v-bind:id="CarBitCoin.ID" v-for="CarBitCoin in CarBitCoinDistributionList" v-on:click="carBitCoinTransform(CarBitCoin)">
            @*<img src="~/Areas/resource/img/mobile/cbc.png" />*@
            <img class="coinimg" src="~/Areas/resource/img/mobile/cbc.png" />@*carcoinicon*@
            <div style="color:#fff;text-align:center;font-size:8px;">{{CarBitCoin.CarBitCoin}}</div>
        </div>
        @*<div class="bitcoimg">
                <img class="coinimg" src="~/Areas/resource/img/mobile/cbc.png" />
                <div style="color:#fff;text-align:center;font-size:8px;">0.00347</div>
            </div>
            <div class="bitcoimg1">
                <img class="coinimg" src="~/Areas/resource/img/mobile/cbc.png" />
                <div style="color:#fff;text-align:center;font-size:8px;">0.00569</div>
            </div>
            <div class="bitcoimg2">
                <img class="coinimg" src="~/Areas/resource/img/mobile/cbc.png" />
                <div style="color:#fff;text-align:center;font-size:8px;">0.00236</div>
            </div>
            <div class="bitcoimg3">
                <img class="coinimg" src="~/Areas/resource/img/mobile/cbc.png" />
                <div style="color:#fff;text-align:center;font-size:8px;">0.00154</div>
            </div>*@
    </div>
    <div class="bottomactioncon cbctable">
        <div class="cbctablecell" style="vertical-align:middle;">
            <div>
                <img class="btnicon" style="width:35px;margin-bottom:-13px;margin-top:-2px;" src="~/Areas/resource/img/mobile/kuangselected.png" />
            </div>
            <div class="btnfont" style="color:#7859f2;">挖矿</div>
        </div>
        <div class="cbctablecell" style="vertical-align:middle;" v-on:click="myinfo">
            <div>
                <img class="btnicon" src="~/Areas/resource/img/mobile/wd.png" />
            </div>
            <div class="btnfont" v-on:click="myinfo">我的</div>
        </div>
    </div>
</div>

<audio controls="controls" id="cbcv" style="display:none;">
    <source src="~/Areas/resource/voice/cbc.wav">
</audio>

@section scripts{
    <style type="text/css">
        .coinimg {
            width: 40px;
            vertical-align: middle;
        }

        .bitcoincon {
            position: absolute;
            top: 100px;
            left: 50px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }

        .bitcoincongenerate {
            position: absolute;
            top: 110px;
            display: table-cell;
            text-align: center;
            vertical-align: middle;
        }

        .bitcoimg {
            position: absolute;
            top: 125px;
            left: 150px;
        }

        .bitcoimg1 {
            position: absolute;
            top: 167px;
            left: 120px;
        }

        .bitcoimg2 {
            position: absolute;
            top: 197px;
            left: 220px;
        }

        .bitcoimg3 {
            position: absolute;
            top: 89px;
            left: 200px;
        }

        .bgimg {
            width: 100%;
            height: 400px;
        }

        .declare {
            position: absolute;
            top: 20px;
            right: 0;
            border-radius: 10px 0 0 10px;
            color: #4fa4f4;
            border: 1px #4fa4f4 solid;
            border-right: none;
            font-size: 13px;
            height: 20px;
            width: 70px;
            text-align: center;
            background: rgba(79,176,255,0.1);
        }

        .cbctable {
            display: table;
        }

        .cbctablecell {
            display: table-cell;
            /*vertical-align: middle;*/
        }

        .valuetitlefont {
            font-size: 13px;
            color: #4fa4f4;
        }

        .valuecon {
            position: absolute;
            top: 20px;
            left: 8px;
        }

        .valueicon {
            width: 20px;
            height: 20px;
        }

        .valuecell {
            vertical-align: middle;
            padding-right: 3px;
        }

        .ranklist {
        }

        .rankheadtable {
            width: 100%;
            text-align: center;
            border-bottom: 1px #eee solid;
        }

        .rankheadcon {
            font-size: 15px;
            color: #636363;
            margin-top: 5px;
            background: #f9f9f8;
            border-top: 1px #dedede solid;
            border-bottom: 1px #dedede solid;
            height: 35px;
        }

        .rankcell {
            width: 30%;
            font-size: 15px;
            vertical-align: middle;
        }

        .rankcellname {
            width: 40%;
            font-size: 15px;
            vertical-align: middle;
        }

        .rankheadh {
            height: 42px;
        }

        .bottomactioncon {
            height: 50px;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            border-top: 1px #dcdcdc solid;
            width: 100%;
            text-align: center;
            background: #faf9f9;
            color: #999;
        }

        .btnicon {
            width: 25px;
            margin-bottom: -6px;
            margin-right: 3px;
        }

        .btnfont {
            font-size: 10px;
        }

        .main {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 50px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        .medalimg {
            width: 30px;
        }

        .valuefont {
            color: #676767;
        }

        .namefont {
            font-size: 16px;
        }

        .ranktext {
            font-size: 12px;
            color: #b23af4;
            float: right;
            padding-right: 13px;
            height: 30px;
            line-height: 30px;
        }

        .ranktitle {
            color: #2f302f;
            padding-left: 13px;
            font-size: 15px;
            float: left;
            height: 30px;
            line-height: 30px;
        }
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            //wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
        var mch = $.getUrlParam('mch');
        _viewModel = new Vue({
            el: '#carbitcoin',
            data: {
                CarBitCoinMemberList: [],
                MyInfo: { CarBitCoin: 0, FrozenCoin: 0, Horsepower:0,},
                CoinerList: [],
                CarBitCoinDistributionList: [],
                HorsepowerRank: true,
                IsMember: false,
            },
            methods: {
                myinfo: function (event) {
                    window.location.href = "/Mobile/CarBitcoin/MyInfo?mch=" + mch;
                },
                carBitCoinTransform: function (data, event) {
                    carBitCoinTransform(data.ID);
                },
                myproperty: function (event) {
                    window.location.href = "/Mobile/CarBitcoin/MyProperty?mch=" + mch;
                },
                horsepowerrank: function (event) {
                    this.HorsepowerRank = true;
                    getCarBitCoin(false);
                },
                cbcrank: function (event) {
                    this.HorsepowerRank = false;
                    getCarBitCoin(false, 1);
                },
                register: function (event) {
                    if (!_viewModel.IsMember)
                        window.location.href = "/Mobile/CarBitcoin/Register?mch=" + mch;
                },
            }
        });

        function getCarBitCoin(isshowloading, sortDirection) {
            var url = '/api/CarBitCoinMember';
            if (sortDirection != null && sortDirection != '' && sortDirection == 1)
                url = '/api/CarBitCoinMember?SortDirection=1';
            $.ajax({
                url: url,
                type: 'GET',
                headers: { 'CompanyCode': mch },
                beforeSend: function () {
                    if (isshowloading)
                      $.showLoading();
                },
                success: function (res) {
                    $.hideLoading();
                    if (res.IsSuccessful) {
                        if (res.Data != null) {
                            for (var i = 0; i < res.Data.length; i++) {
                                res.Data[i].Ranking = i + 1;
                                if (res.Data[i].OpenID == '@ViewBag.OpenId') {
                                    _viewModel.MyInfo = res.Data[i];
                                    getDistributionCarBitCoin(res.Data[i].ID);
                                    _viewModel.IsMember = true;
                                }
                            }
                            _viewModel.CarBitCoinMemberList = res.Data;
                        }
                    } else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                    $.hideLoading();
                }
            });
        }
        getCarBitCoin();

        function getDistributionCarBitCoin(id) {
            if (id == null||id=='') {
                return;
            }
            $.ajax({
                url: '/api/CarBitCoinDistribution?CarBitCoinMemberID=' + id +'&Status=0&Start=0&Limit=6',
                type: 'GET',
                headers: { 'CompanyCode': mch },
                beforeSend: function () {
                    //$.showLoading();
                },
                success: function (res) {
                    $.hideLoading();
                    if (res.IsSuccessful) {
                        if (res.Data != null) {
                            for (var i = 0; i < res.Data.length; i++) {
                                res.Data[i].style = {
                                    position: 'absolute',
                                    top: 300 * res.Data[i].PositionY + 'px',
                                    left: 350 * res.Data[i].PositionX + 'px',
                                    display: 'table-cell',
                                    textAlign: 'center',
                                    verticalAlign: 'middle',
                                };
                            }
                            _viewModel.CarBitCoinDistributionList = res.Data;
                        }
                    } else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                    $.hideLoading();
                }
            });
        }

        function carBitCoinTransform(id) {
            if (id == null || id == '') {
                return;
            }
            $.ajax({
                url: '/api/CarBitCoinDistribution/CarBitCoinTransform?id=' + id,
                type: 'GET',
                headers: { 'CompanyCode': mch },
                beforeSend: function () {
                    //$.showLoading();
                },
                success: function (res) {
                    $.hideLoading();
                    if (res.IsSuccessful) {
                        if (res.Data) {
                            getCarBitCoin(false);
                            //$('#' + id).hide();
                            getDistributionCarBitCoin(_viewModel.MyInfo.ID);
                            //$('#cbcv')[0].play();
                            if (!_viewModel.HorsepowerRank)
                                getCarBitCoin(false, 1);
                            else
                                getCarBitCoin(false);
                            play();
                        }
                    } else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                    $.hideLoading();
                }
            });
        }

        var setIntervalId = setInterval(function () {
            getDistributionCarBitCoin(_viewModel.MyInfo.ID);
            if (!_viewModel.HorsepowerRank)
                getCarBitCoin(false, 1);
            else
                getCarBitCoin(false);
        },3000);

        function play() {
            //var audio = document.createElement('audio');
            //var source = document.createElement('source');
            //source.type = "audio/mpeg";
            //source.type = "audio/mpeg";
            //source.src ="/Areas/resource/voice/cbc.wav";
            //source.autoplay = "autoplay";
            //source.controls = "controls";
            //audio.appendChild(source);
            //audio.play();

            //var audio = document.getElementById('cbcv');
            //audio.play();
            //document.addEventListener("WeixinJSBridgeReady", function () {
            //    audio.play();
            //}, false);

            WeixinJSBridge.invoke('getNetworkType', {}, function (e) {
                // 在这里拿到 e.err_msg, 这里面就包含了所有的网络类型
                document.getElementById('cbcv').play();
            });
        }

    </script>
}
