
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="mycrowdorderdetails">
    <img class="return-img" src="~/Areas/resource/img/mobile/return-circle.png" v-on:click="back" />
    <div class="main">
        <div class="crowdorder-con">
            <div>
                <img class="crowdorder-img" v-bind:src=CrowdOrder.ImgUrl />
            </div>
            <div class="cbctable crowdorder-price-con width-fill">
                <div class="cbctablecell crowdorder-price"><span style="font-size:13px;">￥</span>{{CrowdOrder.Price}}</div>
                <div class="cbctablecell crowdorder-pricesale">￥{{CrowdOrder.PriceSale}}</div>
                @*<div class="cbctablecell crowdorder-count">已拼666件</div>*@
            </div>
            <div class="crowdorder-name">{{CrowdOrder.Name}}</div>
        </div>
        <div class="peoplecount-con">已有<span style="color:#e02d28;margin:0 3px;">{{CrowdOrder.JoinPeople}}</span>人参与<span style="font-size:13px;">（需<span style="color:#e02d28;">{{CrowdOrder.PeopleCount}}</span>人参与）</span></div>
    </div>
    <div class="bottomactioncon" v-on:click="buy" v-if="!CrowdOrder.IsOrdered">
        <div>￥{{CrowdOrder.Price}}</div>
        <div>立即下单</div>
    </div>
    <div class="bottomactioncon" v-if="CrowdOrder.IsOrdered">
        <div>￥{{CrowdOrder.Price}}</div>
        <div>已下单</div>
    </div>
</div>

@section scripts{
    <style type="text/css">
        .main {
            background: #f5f5f4;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 50px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        .cbctable {
            display: table;
        }

        .cbctablecell {
            display: table-cell;
        }

        .bottomactioncon {
            height: 50px;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            text-align: center;
            background: #e02d28;
            color: #fff;
            font-size: 15px;
        }

        .crowdorder-con {
            background: #fff;
        }

        .crowdorder-img {
            width: 100%;
            height: 250px;
        }

        .width-fill {
            width: 100%;
        }

        .crowdorder-name {
            font-size: 15px;
            padding: 0px 13px 10px 13px;
        }

        .crowdorder-price-con {
            margin: 0 0px 5px 0px;
        }

        .crowdorder-price {
            font-size: 23px;
            color: #e80c1c;
            width: 60px;
            padding: 0 10px 0 13px;
        }

        .crowdorder-pricesale {
            font-size: 13px;
            color: #545456;
            text-decoration: line-through;
        }

        .crowdorder-count {
            font-size: 13px;
            color: #a8a8a8;
            float: right;
            margin-right: 13px;
        }

        .peoplecount-con {
            height: 30px;
            line-height: 30px;
            padding: 5px 13px;
            background: #fff;
            font-size: 15px;
            margin-top: 3px;
            letter-spacing: 1px;
        }

        .crowdorderrules-con {
            padding: 10px 13px;
            background: #fff;
            font-size: 13px;
            margin-top: 3px;
            letter-spacing: 1px;
            color: #58585a;
        }

        .return-img {
            width: 33px;
            position: fixed;
            top: 20px;
            left: 20px;
            z-index: 1;
            opacity: 0.5;
        }
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        $(function () {
            var mch = $.getUrlParam('mch');
            var coid = $.getUrlParam('coid');
            var isadd = $.getUrlParam('isadd') == 'true';
            if (isadd) {
                $.alert('点击右上角分享朋友/朋友圈，开始拼单！');
            }
            var corid = $.getUrlParam('corid');
        var crowdorder = sessionStorage.getItem('crowdorder');
        //if (crowdorder == null || crowdorder == '')
        //    return;
        crowdorder = JSON.parse(crowdorder);
            _viewModel = new Vue({
                el: '#mycrowdorderdetails',
                data: {
                    MyInfo: {},
                    CrowdOrder: {},
                    IsMember: false,
            },
            methods: {
                register: function (event) {
                    if (!_viewModel.IsMember)
                        window.location.href = "/Mobile/CarBitcoin/Register?mch=" + mch;
                },
                back: function (event) {
                    history.back(-1);
                },
                buy: function (event) {
                    if (_viewModel.CrowdOrder.JoinPeople>=_viewModel.CrowdOrder.PeopleCount) {
                        $.confirm('立即下单', function () {
                            _viewModel.CrowdOrder.CarBitCoinProduct.PriceSale = _viewModel.CrowdOrder.Price;
                            sessionStorage.setItem('product', JSON.stringify(_viewModel.CrowdOrder.CarBitCoinProduct));
                            sessionStorage.setItem('isfromcod', 'true');
                            sessionStorage.setItem('corid', _viewModel.CrowdOrder.ID);
                            window.location.href = "/Mobile/CarBitCoin/ProductDetails?mch=" + mch;
                        });
                    } else {
                        $.alert('未达到拼单人数');
                    }
                }
            }
        });
        _viewModel.CrowdOrder = crowdorder;

            function getmyorder(id) {
                $.ajax({
                    url: '/api/CrowdOrderRecord?ID=' + id,
                    type: 'GET',
                    headers: { 'CompanyCode': mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                _viewModel.CrowdOrder = res.Data[0];
                                getCarBitCoinMember(_viewModel.CrowdOrder);
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
            }

            function getCarBitCoinMember(crowdorder) {
            $.ajax({
                url: '/api/CarBitCoinMember?OpenID=@ViewBag.OpenId',
                type: 'GET',
                headers: { 'CompanyCode': mch },
                beforeSend: function () {
                },
                success: function (res) {
                    if (res.IsSuccessful) {
                        if (res.Data != null) {
                            if (res.Data.length > 0) {
                                _viewModel.MyInfo = res.Data[0];
                                _viewModel.IsMember = true;
                                if (coid != null && coid != "" && crowdorder != null && crowdorder != '') {
                                    //sessionStorage.setItem('crowdorder', JSON.stringify(crowdorder));
                                    //window.location.href = "/Mobile/CarBitcoin/CrowdOrderDetails?mch=" + mch;
                                } else if (crowdorder == null||crowdorder == ''){
                                    window.location.href = "/Mobile/CarBitcoin/Home?mch=" + mch;
                                }
                            } else {
                                if (coid != null && coid != "") {
                                    window.location.href = "/Mobile/CarBitcoin/Register?mch=" + mch + "&coid=" + coid;
                                } else {
                                    window.location.href = "/Mobile/CarBitcoin/Register?mch=" + mch;
                                }
                            }
                        } else {
                            if (coid != null && coid != "") {
                                window.location.href = "/Mobile/CarBitcoin/Register?mch=" + mch + "&coid=" + coid;
                            } else {
                                window.location.href = "/Mobile/CarBitcoin/Register?mch=" + mch;
                            }
                        }
                    } else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                }
            });
        }

            if (corid != null && corid != '') {
                getmyorder(corid);
            } else if (coid != null && coid != "") {
                getmyorder(coid);
            } else {
                getCarBitCoinMember(crowdorder);
            }

            function wxConfig() {
                $.ajax({
                    type: "POST",
                    url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                    datatype: "json",
                    success: function (data) {
                        if (data.IsSuccessful) {
                            var temp = data.Data;
                            wx.config({
                                debug: false,
                                appId: temp.appId,
                                timestamp: temp.timestamp,
                                nonceStr: temp.nonceStr,
                                signature: temp.signature,
                                jsApiList: [
                                    'checkJsApi',
                                    'onMenuShareTimeline',
                                    'onMenuShareAppMessage',
                                    'onMenuShareQQ',
                                    'onMenuShareWeibo',
                                    'hideOptionMenu',
                                    'hideAllNonBaseMenuItem',
                                    'showMenuItems',
                                    'closeWindow',
                                    'scanQRCode',
                                ]
                            });
                            wx.ready(function () {
                                //wx.hideAllNonBaseMenuItem();
                                wx.onMenuShareAppMessage({
                                    title: "【爱保养】"+_viewModel.CrowdOrder.Name,
                                    desc: '拼单助力！注册即享优惠！',
                                    link: document.URL + '&coid=' + _viewModel.CrowdOrder.ID,
                                    imgUrl: document.location.origin + _viewModel.CrowdOrder.ImgUrl,
                                    success: function (res) {
                                    }
                                });
                                wx.onMenuShareTimeline({
                                    title: "【爱保养】" + _viewModel.CrowdOrder.Name, // 分享标题
                                    link: document.URL + '&coid=' + _viewModel.CrowdOrder.ID, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                                    imgUrl: document.location.origin + _viewModel.CrowdOrder.ImgUrl, // 分享图标
                                    success: function () {
                                        // 用户点击了分享后执行的回调函数
                                    }
                                });
                            });
                            } else {
                        }
                    },
                    complete: function (xmlHttpRequest, textStatus) {
                    },
                    error: function (xmlHttpRequest, textStatus) {
                    }
                });
            };
            wxConfig();

        });
    </script>
}