
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="myinfo">
    <div class="main">
        <div class="headcon">
            <div class="headimgcon">
                <img class="headimg" src="@ViewBag.HeadImgUrl" />
            </div>
            <div class="nicknametext">@ViewBag.NickName</div>
            <div class="loginnow" v-if="!IsRegister" v-on:click="register">立即登录</div>
            <img class="tyre" style="top:-70px;left:30px;" src="~/Areas/resource/img/mobile/tyre.png" />
            <img class="tyre" style="top:-110px;left:35px;" src="~/Areas/resource/img/mobile/tyre.png" />
            <img class="tyre" style="top:-20px;left:30px;" src="~/Areas/resource/img/mobile/tyre.png" />
            <img class="tyre" style="top:-130px;left:135px;" src="~/Areas/resource/img/mobile/tyre.png" />
            <img class="tyre" style="top:0px;left:50px;" src="~/Areas/resource/img/mobile/tyre.png" />
            <img class="tyre" style="top:-110px;left:125px;" src="~/Areas/resource/img/mobile/tyre.png" />
            <img class="tyre" style="top:-125px;left:-110px;" src="~/Areas/resource/img/mobile/tyre.png" />
            <img class="tyre" style="top:-25px;left:66px;" src="~/Areas/resource/img/mobile/tyre.png" />
        </div>
        <div class="actionmaincon">
            <div class="cbctable actioncon">
                <div class="cbctablecell actioncell actionleftcon">
                    @*<img class="actionimg" src="~/Areas/resource/img/mobile/wdzc.png" />*@
                    <img class="actionimg" src="~/Areas/resource/img/mobile/asset.png" />
                </div>
                <div class="cbctablecell actiontitle actioncell">我的资产</div>
                <div class="cbctablecell actioncell actionrightcon">
                    <img style="width:20px;margin-top:5px;" src="~/Areas/resource/img/mobile/arrowr.png" />
                </div>
            </div>
            <div class="cbctable actioncon">
                <div class="cbctablecell actioncell actionleftcon">
                    <img class="actionimg" src="~/Areas/resource/img/mobile/sportcar.png" />
                </div>
                <div class="cbctablecell actiontitle actioncell">我的引擎</div>
                <div class="cbctablecell actioncell actionrightcon">
                    <img style="width:20px;margin-top:5px;" src="~/Areas/resource/img/mobile/arrowr.png" />
                </div>
            </div>
            <div class="cbctable actioncon">
                <div class="cbctablecell actioncell actionleftcon">
                    <img class="actionimg" src="~/Areas/resource/img/mobile/store.png" />
                </div>
                <div class="cbctablecell actiontitle actioncell">引擎商城</div>
                <div class="cbctablecell actioncell actionrightcon">
                    <img style="width:20px;margin-top:5px;" src="~/Areas/resource/img/mobile/arrowr.png" />
                </div>
            </div>
            <div class="cbctable actioncon">
                <div class="cbctablecell actioncell actionleftcon">
                    <img class="actionimg" src="~/Areas/resource/img/mobile/carbitcoin.png" />
                </div>
                <div class="cbctablecell actiontitle actioncell">车比特交易</div>
                <div class="cbctablecell actioncell actionrightcon">
                    <img style="width:20px;margin-top:5px;" src="~/Areas/resource/img/mobile/arrowr.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="bottomactioncon cbctable">
        <div class="cbctablecell" style="vertical-align:middle;" v-on:click="wk">
            <div>
                <img class="btnicon" style="width:35px;margin-bottom:-13px;margin-top:-2px;" src="~/Areas/resource/img/mobile/kuang.png" />
            </div>
            <div class="btnfont">挖矿</div>
        </div>
        <div class="cbctablecell" style="vertical-align:middle;">
            <div>
                <img class="btnicon" src="~/Areas/resource/img/mobile/wdselected.png" />
            </div>
            <div class="btnfont" style="color:#7859f2;" v-on:click="myinfo">我的</div>
        </div>
    </div>
</div>

@section scripts{
    <style type="text/css">
        .loginnow {
            font-size: 13px;
            border-radius: 3px;
            background: -webkit-linear-gradient(left,#734dfd,#b43af5); /*#734dfd;*/
            text-align: center;
            color: #fbf6bb;
            width: 80px;
            margin: auto;
            height: 25px;
            line-height: 25px;
            letter-spacing: 2px;
            margin-top: 5px;
        }

        .headcon {
            margin: 35px 20px 15px 20px;
            border-radius: 5px;
            box-shadow: 0px 3px 10px 3px #efecfb;
            height: 190px;
        }

        .actionmaincon {
            margin: 30px 20px 15px 20px;
            border-radius: 5px;
            box-shadow: 0px 3px 10px 3px #efecfb;
        }

        .headimgcon {
            text-align: center;
            padding: 20px 0 0px 0;
        }

        .nicknametext {
            font-size: 20px;
            text-align: center;
            color: #2c2c2c;
        }

        .headimgcon {
            width: 100%;
        }

        .headimg {
            width: 80px;
            height: 80px;
            border-radius: 80px;
        }

        .bgimg {
            width: 100%;
            height: 480px;
        }

        .declare {
            position: absolute;
            top: 20px;
            right: 0;
            border-radius: 10px 0 0 10px;
            color: #4fa4f4;
            border: 1px #4fa4f4 solid;
            font-size: 10px;
            height: 20px;
            width: 70px;
            text-align: center;
            background: rgba(79,176,255,0.1);
        }

        .cbctable {
            display: table;
        }

        .cbctablecell {
            display: table-cell;
            /*vertical-align: middle;*/
        }

        .valuetitlefont {
            font-size: 8px;
            color: #4fa4f4;
        }

        .valuecon {
            position: absolute;
            top: 20px;
            left: 8px;
        }

        .valueicon {
            width: 20px;
            height: 20px;
        }

        .valuecell {
            vertical-align: middle;
            padding-right: 3px;
        }

        .ranklist {
        }

        .rankheadtable {
            width: 100%;
            text-align: center;
            border-bottom: 1px #eee solid;
        }

        .rankheadcon {
            font-size: 10px;
            color: #636363;
            margin-top: 5px;
            background: #f9f9f8;
            border-top: 1px #dedede solid;
            border-bottom: 1px #dedede solid;
            height: 35px;
        }

        .rankcell {
            width: 30%;
            font-size: 13px;
            vertical-align: middle;
        }

        .rankcellname {
            width: 40%;
            font-size: 13px;
            vertical-align: middle;
        }

        .rankheadh {
            height: 40px;
        }

        .bottomactioncon {
            height: 50px;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            border-top: 1px #dcdcdc solid;
            width: 100%;
            text-align: center;
            background: #faf9f9;
            color: #999;
        }

        .btnicon {
            width: 25px;
            margin-bottom: -6px;
            margin-right: 3px;
        }

        .btnfont {
            font-size: 10px;
        }

        .main {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 50px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }

        .actiontitle {
            color: #676767;
            font-size: 17px;
        }

        .actioncon {
            height: 50px;
            width: 100%;
            vertical-align: middle;
            border-bottom: 1px #e4e4e4 solid;
        }

        .actionimg {
            width: 25px;
            margin-top: 5px;
        }

        .actioncell {
            vertical-align: middle;
        }

        .actionleftcon {
            padding-left: 13px;
            width: 45px;
        }

        .actionrightcon {
            padding-right: 13px;
            text-align: right;
        }

        .tyre {
            width: 20px;
            position: relative;
        }
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
         $(function(){
             var mch = $.getUrlParam('mch');

             _viewModel = new Vue({
                 el: '#myinfo',
                 data: {
                     IsRegister: false,
                 },
                 methods: {
                     wk: function (event) {
                         window.location.href = "/Mobile/CarBitcoin?mch=" + mch;
                     },
                     register: function (event) {
                         window.location.href = "/Mobile/CarBitcoin/Register?mch=" + mch;
                     }
                 }
             });

            function init() {
                $.ajax({
                    url: '/api/CarBitCoinMember/GetCarBitCoinMemberByOpenID?openId=@ViewBag.OpenId',
                    type: 'GET',
                    headers: { 'CompanyCode':mch },
                    beforeSend: function () {
                        $.showLoading();
                    },
                    success: function (res) {
                        $.hideLoading();
                        if (res.IsSuccessful) {
                            if (res.Data != null) {
                                sessionStorage.setItem('cbcmember', JSON.stringify(res.Data));
                                _viewModel.IsRegister = true;
                            } else {
                                //window.location.href = "/Mobile/CarBitcoin/Register?mch=" + mch;
                            }
                        } else {
                            $.alert(res.ErrorMessage);
                        }
                    },
                    error: function () {
                        $.hideLoading();
                    }
                });
             }
             var cbcmember = sessionStorage.getItem('cbcmember');
             if (cbcmember == null || cbcmember == '') {
                 init();
             } else {
                 _viewModel.IsRegister = true;
             }
        });
    </script>
}