
@{
    ViewBag.Title = "";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}

<div id="myproperty" class="main">
    <div class="headcon">
        <div class="cbccon">
            <div class="headdescfont">车比特总数</div>
            <div class="cbc">{{Member.CarBitCoin+Member.FrozenCoin}}</div>
        </div>
        <div class="frozencbc headdescfont">冻结车比特数 {{Member.FrozenCoin}}</div>
    </div>
    <div class="cbcintrocon">
        <div class="cbcintrotitle">车比特简介</div>
        <div class="cbcintrocontent">
            @*车比特是基于在车因子系统中的资金流量产生的，包括会员消费、门店业绩、代理商业绩，资金流量越多马力值越大。<br>
                系统每日更新一次马力值，根据马力值大小分配获得的车比特。<br>
                可在车比特商城购买引擎增加相应的马力值，以获得更多的车比特。<br>
                注册车比特会员立即获得60马力并赠送车比特。<br>
                车比特总量有限，随着时间的推移获取难度越来越大，前期参与更有优势。*@
            车比特是基于在爱保养系统中拼单产生的，包括消费、发朋圈、发群，拼单次数越多马力值越大。<br>
            系统每日更新一次马力值，马力值越大挖矿能力就越强，获得的车比特数量就越多。<br>
            车比特可以在爱保养系统商城中可以购买任何商品及服务。也可以到爱保养会员门店消费。<br>
            可用车比特在爱保养商城购买引擎增加相应的马力值，以获得更多的车比特。<br>
            注册爱保养会员立即获得60马力并赠送车比特。<br>
            车比特总量有限，随着时间的推移获取难度越来越大。
        </div>
    </div>
    <div class="cbcrecordcon">
        <div class="cbcrecorditem" style="">收支记录</div>
        <div class="cbcrecorditem" style="display:table;height:60px;width:100%;padding:0;" v-for="CarBitCoinRecord in CarBitCoinRecordList" v-if="CarBitCoinRecord.CarBitCoin!=0">
            <div style="display:table-cell;padding-left:13px;">
                <div v-if="CarBitCoinRecord.CarBitCoinRecordType==-3">日常领取</div>
                <div v-if="CarBitCoinRecord.CarBitCoinRecordType==-4">赠送</div>
                <div class="cbcrecorditemdate">{{CarBitCoinRecord.CreatedDate}}</div>
            </div>
            <div class="cbcrecorditemcbc" v-if="CarBitCoinRecord.CarBitCoin>0">+{{CarBitCoinRecord.CarBitCoin}}</div>
            <div class="cbcrecorditemcbc" style="color:red;" v-if="CarBitCoinRecord.CarBitCoin<0">{{CarBitCoinRecord.CarBitCoin}}</div>
        </div>
    </div>
</div>

@section scripts{
    <style type="text/css">
        .main {
            background: #f9f9f8;
        }

        .headcon {
            width: 100%;
            color: #fff;
        }

        .frozencbc {
            height: 50px;
            line-height: 50px;
            background: -webkit-linear-gradient(left,#7961fb,#b43af5);
            padding-left: 13px;
        }

        .cbccon {
            background: -webkit-linear-gradient(left,#734dfd,#b43af5);
            padding: 15px 13px 0 13px;
        }

        .cbc {
            font-size: 33px;
            height: 60px;
            line-height: 60px;
        }

        .headdescfont {
            font-size: 13px;
            letter-spacing: 1px;
        }

        .cbcintrocon {
            width: 100%;
            margin: 10px 0;
            background: #fff;
        }

        .cbcintrotitle {
            color: #414140;
            font-size: 18px;
            font-weight: 500;
            padding-left: 13px;
            height: 40px;
            line-height: 40px;
            border-bottom: 1px #e4e4e4 solid;
            letter-spacing: 1px;
        }

        .cbcintrocontent {
            color: #5e5e5e;
            font-size: 13px;
            padding: 10px 13px;
            letter-spacing: 1px;
        }

        .cbcrecordcon {
            width: 100%;
            background: #fff;
        }

        .cbcrecorditem {
            color: #414140;
            font-size: 15px;
            font-weight: 400;
            padding-left: 13px;
            height: 40px;
            line-height: 40px;
            border-bottom: 1px #e4e4e4 solid;
            letter-spacing: 1px;
        }

        .cbcrecorditemdate {
            font-size: 10px;
            color: #9a9a9a;
            margin-top: -18px;
        }

        .cbcrecorditemcbc {
            font-size: 13px;
            line-height: 60px;
            color: #30ce1e;
            float: right;
            display: table-cell;
            margin-bottom: -30px;
            padding-right: 13px;
        }
    </style>
    <link type="text/css" href="~/Areas/resource/css/mobile/customer.css" />
    <link href="~/Areas/resource/css/mobile/customer.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.bootcss.com/vue/2.1.10/vue.min.js"></script>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript">
        function wxConfig() {
            var mch = $.getUrlParam('mch');
            $.ajax({
                type: "POST",
                url: "http://www.cheyinz.cn/wxis/api/WeChat/JsApiSignature?companyCode=" + mch + "&url=" + document.URL,
                datatype: "json",
                success: function (data) {
                    if (data.IsSuccessful) {
                        var temp = data.Data;
                        wx.config({
                            debug: false,
                            appId: temp.appId,
                            timestamp: temp.timestamp,
                            nonceStr: temp.nonceStr,
                            signature: temp.signature,
                            jsApiList: [
                                'checkJsApi',
                                'onMenuShareTimeline',
                                'onMenuShareAppMessage',
                                'onMenuShareQQ',
                                'onMenuShareWeibo',
                                'hideOptionMenu',
                                'hideAllNonBaseMenuItem',
                                'showMenuItems',
                                'closeWindow',
                                'scanQRCode',
                            ]
                        });
                        wx.ready(function () {
                            wx.hideAllNonBaseMenuItem();
                        });
                    } else {
                    }
                },
                complete: function (xmlHttpRequest, textStatus) {
                },
                error: function (xmlHttpRequest, textStatus) {
                }
            });
        };
        wxConfig();
    </script>
    <script type="text/javascript">
    $(function () {
        var mch = $.getUrlParam('mch');

        _viewModel = new Vue({
            el: '#myproperty',
            data: {
                Member: { CarBitCoin: 0, FrozenCoin: 0,},
                CarBitCoinRecordList: [],
            },
            methods: {
                back: function (event) {
                    history.back(-1);
                },
            }
        });

        function init() {
            $.ajax({
                url: '/api/CarBitCoinMember/GetCarBitCoinMemberByOpenID?openId=@ViewBag.OpenId',
                type: 'GET',
                headers: { 'CompanyCode': mch },
                beforeSend: function () {
                    $.showLoading();
                },
                success: function (res) {
                    $.hideLoading();
                    if (res.IsSuccessful) {
                        if (res.Data != null) {
                            sessionStorage.setItem('cbcmember', JSON.stringify(res.Data));
                            _viewModel.Member = res.Data;
                            getCarBitCoinRecord();
                        } else {
                            window.location.href = "/Mobile/CarBitcoin/Register?mch=" + mch;
                        }
                    } else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                    $.hideLoading();
                }
            });
        }
        //var cbcmember = sessionStorage.getItem('cbcmember');
        //if (cbcmember == null || cbcmember == '') {
            init();
        //} else {
        //    cbcmember = JSON.parse(cbcmember);
        //    _viewModel.Member = cbcmember;
        //    getCarBitCoinRecord();
        //}

        function getCarBitCoinRecord() {
            $.ajax({
                url: '/api/CarBitCoinMember/SearchCarBitCoinRecord?CarBitCoinMemberID=' + _viewModel.Member.ID,
                type: 'GET',
                headers: { 'CompanyCode': mch },
                beforeSend: function () {
                    $.showLoading();
                },
                success: function (res) {
                    $.hideLoading();
                    if (res.IsSuccessful) {
                        if (res.Data != null) {
                            _viewModel.CarBitCoinRecordList = res.Data;
                        }
                    } else {
                        $.alert(res.ErrorMessage);
                    }
                },
                error: function () {
                    $.hideLoading();
                }
            });
        }
    });
    </script>
}
